<div class="sticky" id="calculatorPage">
  <div @slide id="benefit-details">
    <div class="col-md-12 no-space preAmount">
      <app-steps #showBullet>
        <div class="resuablebackbutton">
          <div class="back-arrow-wrapper d-none d-lg-block">
            <span class="slide-back" (click)="previousPage()">
              <span class="icon-video-prev"></span>
            </span>
          </div>
          <div class="mobile-slide-back d-lg-none">
            <span class="icon-video-prev" (click)="previousPage()"></span>
          </div>
        </div>
        <span class="reusabletopheader benefitHeader">Your final step</span>
        <h3 class="resuable">Add more benefits</h3>
        <span class="reusableEditMobileView">
          <span class="d-block d-md-none">
            <span class="icon-edit-pen" (click)=showEditMenu()></span>
            <app-editpanel #showeditMenu></app-editpanel>
          </span>
        </span>
      </app-steps>
    </div>
    <app-premium-amount></app-premium-amount>
    <span class="floatleftedit">
      <app-editpanel></app-editpanel>
    </span>
    <div class="container-fluid no-space">
      <div class="row no-space">
        <div class="col-12 col-xl-12 no-space benefits-details-wrapper preAmount">
          <div class="row no-space">
            <div class="d-none d-xl-block col-xl-1 no-space"></div>
            <div class="col-12 col-lg-12 col-xl-10 no-space details-card-wrapper">
              <div class="row no-space">
                <div class="col-12 col-lg-4 col-xl-4 no-space details-card-common">
                  <app-benefitscard Type="Hospital" [benefitAmount] = this.tempservice.HospitalCalculated [showAdd]= this.tempservice.showHealthBenefit>
                    <img class="resuablebenefitimage benefit-icon" src="HeartnCancer/assets/images/benefit-01.png">
                    <span class="resuableheadertext">Hospital cash benefit</span>
                    <span class="resuablebenefitdescription">
                      This benefit ensures that all additional expenses are taken care of.
                      It pays ₹ 5000 per day for a 24 hour hospitalization related to your medical condition.
                      This would be paid 10 days per policy year and 30 days per policy term.
                    </span>
                    <span class="resuablewhatsthis" (click)="openHosital()">
                      whats this?
                    </span>
                  </app-benefitscard>
                </div>
                <div class="col-12 col-lg-4 col-xl-4 no-space details-card-common">
                  <app-benefitscard Type="IncreasingBenefit" [benefitAmount] = this.tempservice.IncreasingCalculated [showAdd]= this.tempservice.showIncreasingBenefit>
                    <img class="resuablebenefitimage benefit-icon" src="HeartnCancer/assets/images/benefit-02.png">
                    <span class="resuableheadertext">Increasing Cover benefit</span>
                    <span class="resuablebenefitdescription">
                      This benefit ensures that you're protected from rising medical costs.
                      Your health cover increases by 10% year on year for every claim free year, till it doubles.
                    </span>
                    <span class="resuablewhatsthis" (click)="openIncreasing()">
                      whats this?
                    </span>
                  </app-benefitscard>
                </div>
                <div class="col-12 col-lg-4 col-xl-4 no-space details-card-common">
                  <app-benefitscard Type="IncomeBenefit" [benefitAmount] = this.tempservice.IncomeBenefitCalculated [showAdd]= this.tempservice.showIncomeBenefit>
                    <img class="resuablebenefitimage benefit-icon" src="HeartnCancer/assets/images/benefit-03.png">
                    <span class="resuableheadertext">Income Benefit</span>
                    <span class="resuablebenefitdescription">
                      This add-on ensures that you have an alternate income, in case you're unable to work post a
                      cancer or heart disease diagnosis. 1% of your cover is provided to you monthly, for 5 years after
                      a
                      major diagnosis.
                    </span>
                    <span class="resuablewhatsthis" (click)="openIncomebenfit()">
                      whats this?
                    </span>
                  </app-benefitscard>
                </div>
              </div>
            </div>
            <div class="d-none d-xl-block col-xl-1 no-space"></div>
          </div>
        </div>

        <div class="col-12 col-xl-12 no-space benefits-details-wrapper benefits-button-wrapper">
          <div class="row no-space">
            <div class="d-none d-xl-block col-xl-1 no-space"></div>
            <div class="col-12 col-lg-12 col-xl-10 no-space details-card-wrapper">
              <div class="row no-space">
                <div class="d-none d-lg-block col-lg-4 col-xl-4 no-space details-card-common"></div>
                <div class="col-12 col-lg-4 col-xl-4 no-space button-center details-card-common">
                  <div>
                    <!-- <form id="heartCancerJsonForm" action="https://buy.iciciprulife.com/buy/PartnerIntegration.htm"
                      method="POST" #heartCancerJsonForm>
                      <input type="hidden" name="bolData" id="bolData" value="" #bolData>
                    </form> -->
                    <button class="details-button-class" (click)="BuyNow()">
                      <span>BUY NOW</span>
                      <div class="arrow-class d-none d-lg-block">
                        <span class="right-arrow icon-chk-arrow"></span>
                      </div>
                    </button>
                  </div>
                </div>
                <div class="d-none d-lg-block col-lg-4 col-xl-4 no-space details-card-common"></div>
              </div>
            </div>
            <div class="d-none d-xl-block col-xl-1 no-space"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- pop-up for hospital -->
<app-popup #hospital>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      hospital cash benefit
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closeHospital()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <div>Whats this?</div>
      <div>
        <span>This benefit ensures that all additional expenses are taken care of.
          It pays ₹ 5000 per day for a 24 hour hospitalization related to your medical condition.
          This would be paid 10 days per policy year and 30 days per policy term.
        </span>
      </div>
    </div>
    <div class="pop-button pop-btn-wrapper">
      <button class="popbtn-orange pop-btn" (click)="closeHospital()">ADD THIS BENEFIT</button>
    </div>
  </div>
</app-popup>

<!-- pop-up for increasingcover -->
<app-popup #increasingcover>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      increasing cover benefit
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closeIncreasing()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <div>Whats this?</div>
      <div>
        <span>This benefit ensures that you're protected from rising medical costs.
          Your health cover increases by 10% year on year for every claim free year, till it doubles.
        </span>
      </div>
    </div>
    <div class="pop-button pop-btn-wrapper">
      <button class="popbtn-orange pop-btn" (click)="closeIncreasing()">ADD THIS BENEFIT</button>
      <!-- <button class="popbtn-orange pop-btn" (click)="closeIncreasing()">REMOVE BENEFIT</button> -->
    </div>
  </div>
</app-popup>

<!-- pop-up for incomebenfit -->
<app-popup #incomebenfit>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      increasing cover benefit
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closeIncomebenfit()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <div>Whats this?</div>
      <div>
        <span>This add-on ensures that you have an alternate income, in case you're unable to work post a cancer or
          heart disease diagnosis.
          1% of your cover is provided to you monthly, for 5 years after a major diagnosis.
        </span>
      </div>
    </div>
    <div class="pop-button pop-btn-wrapper">
      <button class="popbtn-orange pop-btn" (click)="closeIncomebenfit()">ADD THIS BENEFIT</button>
    </div>
  </div>
</app-popup>