.no-space{
    padding:0;
    margin:0;
}
.benefits-details-wrapper{
    margin-top:30px;
    margin-bottom:30px;
}
.floatleftedit{
    float:right;
    position: relative;
    top:-120px;
  }
.details-card-common{
    padding-left:10px;
    padding-right:10px;
}
.details-button-class{
    border-radius: 3px;
    padding: 14px 10px;
    font-weight: 600;
    font-size: 18px;
    min-width: 285px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 3px 4px 7.36px 0.64px rgba(0,0,0,.15);
    color: #fff;
    background: #f5821f;
    border: 1px solid #f5821f;
}
.button-center{
    text-align: center;
}
.right-arrow{
    font-size:18px;
    margin-left:4px;
    font-weight:100;
    vertical-align: sub;
}
.arrow-class{
    display: inline-block !important;
}
.benefit-icon {
    width:30px;
}
.popbtn-orange{
    color: #fff;
    background: #f5821f;
    border: 1px solid #f5821f;
}
.pop-btn{
    padding: 7px;
        width:100%;
        border-radius: 3px;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        box-shadow: 3px 4px 7.36px 0.64px rgba(0,0,0,.15);
}
.pop-btn-wrapper{
    margin-top:20px;
}
.slide-back{
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #666;
    position: absolute;
    left: 12px;
    top: 0;
}
.icon-video-prev{
    line-height: 45px;
    color: #666;
    position: relative;
    left: 10px;
    top: 1px;
    font-size: 18px;
}
h3 {
    font-size: 25px;
    color: #053c6d;
    font-weight: 700;
}
.benefitHeader {
    padding-right: 3%;
}
@media (min-width: 1920px) {
    .preAmount {
        padding: 0px 13%;
    }
}
@media (max-width: 1024px) {
    .benefits-details-wrapper{
        padding-left:12px;
        padding-right:12px;
    }
    .details-card-common{
        padding-left:12px;
        padding-right:12px;
    }
}
@media (max-width: 768px) {
    .benefits-details-wrapper{
        padding-left:5px;
        padding-right:5px;
    }
    .details-card-common{
        margin-bottom: 12px;
    }
    .details-button-class{
        width:100%;
        font-size:15px;
        padding:12px;
    }
    .benefits-button-wrapper{
        margin:0 !important;
    }
    .benefits-details-wrapper{
        margin-bottom: 15px;
    }
    .arrow-class{
        display: none !important;
    }
    h3 {
        font-size: 20px;
        color: #053c6d;
        font-weight: 700;
    }
    .icon-video-prev {
        top: -7px;
        font-size: 20px;
    }
    .icon-edit-pen {
        font-size: 16px;
        line-height: 45px;
        position: relative;
        left: -2px;
        top: -9px;
    }
}
@media (max-width: 320px) {
    .details-button-class{
        width:100% !important;
        min-width:0;
    }
}