.protected {
    padding: 70px 0;
  }
.protected-wrapper {
    float: left;
}
.mod-protect {
    text-align: center;
}
.mod-protect .cm-icon {
    margin-bottom: 35px;
    display: inline-block;
}
.cm-icon.icon-protect1 {
    width: 200px;
    height: 172px;
    background-image: url(../../../assets/images/claims_logo.png);
    background-position: -33px -10px;
    background-repeat: no-repeat;
}
.cm-icon.icon-protect3 {
    width: 160px;
    height: 172px;
    background-image: url(../../../assets/images/POY_logo_Ccover.png);
    top: 25px;
    background-repeat: no-repeat;
}
.cm-icon.icon-protect2 {
    width: 163px;
    height: 172px;
    background-position: center -4728px;
    background-image: url(../../../assets/images/sprite.png);
    background-repeat: no-repeat;
}
.mod-protect .protect-title {
    font-size: 16px;
    color: #444444;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 700;
    min-height: 44px;
    margin-bottom: 25px;
}
p {
    margin: 0 30px 10px;
}
sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    top: 6px;
}

@media (min-width: 1920px) {
    .protectedPadding {
    padding: 0px 11%;
    }
}

@media (max-width: 767px) {
    .protected {
        padding: 40px 0;
    }
}