<div class="container-fluid protected">
  <div class="col-xl-10 offset-xl-1 col-lg-12 col-12 protectedPadding">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12 sec-head">
        <h2 class="sec-title">You can rely on us
          <span class="cm-line-break">
            <span class="divider"></span>
            for a protected future<span class="divider">
            </span>
          </span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="col-xl-4 col-lg-4 col-md-4 col-12 protected-wrapper">
          <div class="mod-protect">
            <span class="cm-icon icon-protect1"></span>
            <h2 class="protect-title">ASSURANCE OF CLAIMS <span class="cm-line-break">SETTLEMENT</span></h2>
            <p class="desc">
              Get peace of mind with our claims settlement ratio at 97.88% for 2017-18<sup>~</sup></p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-12 protected-wrapper">
          <div class="mod-protect">
            <span class="cm-icon icon-protect3"></span>
            <h2 class="protect-title">PRODUCT OF THE YEAR</h2>
            <p class="desc">
              Winner of life insurance category.<br>Survey of over 4000 people by Nielsen.
            </p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-12 protected-wrapper">
          <div class="mod-protect">
            <span class="cm-icon icon-protect2"></span>
            <h2 class="protect-title">CUSTOMER LOYALTY</h2>
            <p class="desc">
              Rated No. 1 in Customer Loyalty in FY 2016–17 by Kantar IMRB<sup>'</sup>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>