<div snInViewport (inViewportChange)="action($event)">
  <div class="container-fluid future" *ngIf="show" [defaultImage]="defaultImage" [lazyLoad]="protectFuture" [offset]="offset" [ngClass]="{'hideClass':this.tempservice.hideDiv, 'active':!this.tempservice.hideDiv}">
    <div class="col-lg-10 offset-lg-1">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="cm-title">You can rely on us for a <span class="line-break"></span> Protected Future </h2>
            </div>
        </div>
        <div class="row">
            <div class="swiper-container col-lg-12 sec-future protectedFuture" [swiper]="config" [(index)]="index">
                <ul class="swiper-wrapper future-list">
                    <li class="swiper-slide">
                        <div class="card">
                            <img [defaultImage]="defaultImage" [lazyLoad]="image" [offset]="offset" alt="future icon" class="future-icon">
                            <h3 class="title">97.88%<sup>^</sup> CLAIMS SETTLED</h3>
                            <p class="desc">Get peace of mind with our claim settlement ratio at 97.88%<sup>^</sup>.</p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="card">
                            <img [defaultImage]="defaultImage" [lazyLoad]="futureIcon2" [offset]="offset" alt="future icon" class="future-icon">
                            <h3 class="title">PRODUCT OF THE YEAR</h3>
                            <p class="desc">Winner of the insurance category. Survey of over 4000 people by Neilsen</p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="card">
                            <img [defaultImage]="defaultImage" [lazyLoad]="futureIcon3" [offset]="offset" alt="future icon" class="future-icon">
                            <h3 class="title">No.1 IN CUSTOMER LOYALTY</h3>
                            <p class="desc">Rated No. 1 in Customer Loyalty in FY 2016–17 by Kantar IMRB6<sup>&</sup></p>
                        </div>
                    </li>
                </ul>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
  </div>
</div>