.future {
    background-size: cover;
    padding: 90px 0;
  }
  
  .future .cm-title {
    color: #fff;
  }
  
  .cm-title {
    font-size: 36px;
    line-height: 2.5rem;
    color: #053c6d;
    position: relative;
    text-align: center;
    font-weight: 700;
  }
  
  .cm-title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -8px;
    background: #f5821f;
    width: 36px;
    height: 7px;
  }
  
  .line-break {
    display: block;
  }
  
  .sec-future {
    margin-top: 10px;
  }
  
  .future .future-list {
    margin-top: 70px;
  }
  
  .future .future-list li {
    display: inline-block;
    width: 32.3%;
    margin-right: 12px;
    vertical-align: top;
  }
  
  .future .future-list li:last-child {
    margin-right: 0;
  }
  
  .future .future-list li .card {
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 35px 16px;
    height: 320px;
  }
  
  .future .future-list li .card .title {
    font-size: 20px;
    font-weight: 700;
    margin: 35px 0 20px 0;
  }
  
  .future .future-list li .card .desc {
    font-size: 14px;
    line-height: 20px;
  }
  
  .future .swiper-container-horizontal > .swiper-pagination-bullets,
  .lyt-future .swiper-pagination-custom,
  .lyt-future .swiper-pagination-fraction {
    bottom: 0;
  }
  
  .future .swiper-pagination-bullet {
    background: #fff;
  }
  
  .future .swiper-pagination-bullet-active {
    background: #f5821f;
  }
  
  img {
    max-width: 55%;
    max-height: 51%;
    margin: 0 auto;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img { 
         width:55%;
    }
  }
  
  @media (min-width: 1920px) {
    .protectedFuture {
      padding: 0px 15%;
    }
  }
  
  @media (max-width: 768px) {
    .cm-title {
      font-size: 21px;
      line-height: 36px;
    }
  
    .future {
      padding: 40px 0;
    }
  
    .future .future-list {
      margin-top: 50px;
    }
  
    .future .future-list li {
      width: calc(100% - 60px);
      transform: scaleY(0.9);
      margin-left: 8%;
    }
  
    .future .future-list li.swiper-slide-active {
      transform: scaleY(1);
    }
  
    .future .future-list li .card {
      padding: 25px;
      margin-bottom: 30px;
    }
  
    .future .future-list li .card .title {
      font-size: 16px;
    }
    .swiper-container ul {
      margin-left: -4%;
    }
  }
  
  @media (max-width: 321px) {
    .cm-title {
      font-size: 18px;
      line-height: 30px;
    }
  
    .future .future-list li .card .title {
      font-size: 12px;
    }
  
    .future .future-list li .card .desc {
      font-size: 12px;
      line-height: 20px;
    }
  
    .future .future-list li .card {
      height: 275px;
    }
  
    .future .future-list {
      margin-top: 25px;
    }
  }
  