<div class="sticky" id="calculatorPage">
  <div @slide id="personal-details">
    <div class="container-fluid lyt-personalDetails">
      <div class="col-md-12 premium-quote-wrapper persDetails">
        <app-steps #showBullet>
          <div class="resuablebackbutton">
            <div class="back-arrow-wrapper d-none d-lg-block">
              <span class="slide-back" (click)="previousPage()">
                <span class="icon-video-prev"></span>
              </span>
            </div>
            <div class="mobile-slide-back d-lg-none">
              <span class="icon-video-prev" (click)="previousPage()"></span>
            </div>
          </div>
          <span class="reusabletopheader">1 step to customise your plan</span>
          <h3 class="resuable">Tell us about yourself</h3>
          <span class="reusableEditMobileView">
            <span class="d-block d-md-none">
              <span class="icon-edit-pen" (click)=showEditMenu()></span>
              <app-editpanel #showeditMenu></app-editpanel>
            </span>
          </span>
        </app-steps>
      </div>
      <span class="floatleftedit">
        <app-editpanel></app-editpanel>
      </span>
      <div class="col-lg-12 col-sm-12">
        <div class="form-group input-wrap">
          <div class="icon-addon">
            <span class="icon icon-user"></span>
            <label for="" class="addon-text">Name</label>
          </div>
          <input type="text" required class="input-field" (keyup)="onKeyUp($event,'first-name')" [(ngModel)]="this.tempservice.userInput['name']"
            placeholder="Enter your Name" name="first-name" id="first-name">
          <label for="first-name" id="first-name-error" class="error">{{nameErrorMsg}}</label>
        </div>
        <div class="form-group input-wrap">
          <div class="icon-addon">
            <span class="icon icon-mobile"></span>
            <label for="" class="addon-text">Mobile</label>
          </div>
          <input type="tel" required class="input-field" (keyup)="onKeyUp($event,'mobile-number')" [(ngModel)]="this.tempservice.userInput['Mobile']"
            placeholder="Enter your Mobile Number" name="mobile-number" id="mobile-number" maxlength="10">
          <label for="mobile-number" id="mobile-number-error" class="error">{{mobileErrorMsg}}</label>
        </div>
        <div class="form-group input-wrap">
          <div class="icon-addon">
            <span class="icon icon-email"></span>
            <label for="" class="addon-text">EMAIL</label>
          </div>
          <input type="text" required class="input-field" (keyup)="onKeyUp($event,'email')" [(ngModel)]="this.tempservice.userInput['email']"
            placeholder="Enter your Email" name="email" id="email">
          <label for="email" id="email-error" class="error">{{emailErrorMsg}}</label>
        </div>
        <div class="form-group input-wrap">
          <div class="icon-addon">
            <span class="icon icon-wallet"></span>
            <label for="" class="addon-text">ANNUAL <span class="line-break">INCOME</span></label>
          </div>
          <select name="annualPackage" required class="input-field" id="income" placeholder="Please select your income"
            (change)="this.premiumCalc.onChangeDropdown($event,'annualPackage')" [(ngModel)]="this.tempservice.userInput['annualPackage']">
            <option disabled>Please select your income</option>
            <option value="Up to 5 lakh">Up to 5 lakh</option>
            <option value="5 &#8212; 10 lakh">5 &#8212; 10 lakh</option>
            <option value="10 lakh and above">10 lakh and above</option>
          </select>
        </div>
        <div class="form-group input-wrap">
          <div class="icon-addon">
            <span class="icon icon-pincode"></span>
            <label for="" class="addon-text">PINCODE</label>
          </div>
          <input type="tel" required class="input-field" (keyup)="onKeyUp($event,'pincode')" [(ngModel)]="this.tempservice.userInput['pincode']"
            maxlength="6" placeholder="Enter your Pincode" name="pincode" id="pincode">
          <label for="pincode" class="error">{{pincodeErrorMsg}}</label>
        </div>
        <div class="col-lg-6 col-md-6 checkboxContent bs-checkbox">
          <input type="checkbox" name="tnc" id="tnc" [(checked)]="this.tempservice.flag['InfoSubmitFlag']" (change)="changeCheked()">
          <label for="tnc" class="textDetails"><span>By submitting my contact details here, I override NDNC
              registeration and
              authorize ICICI Life Prudential Life and its authorized representatives
              to contact me</span></label>
        </div>
      </div>
      <div class="col-lg-4 col-12 check-premiumbtn">
        <div class="check-premium">
          <button class="btn typ-primary" (click)="checkPremium()">PROCEED
            TO ADD BENEFITS<span class="arrow-icon icon-chk-arrow d-none d-md-inline-block"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>