.lyt-personalDetails {
    padding: 0px 0;
}
.lyt-personalDetails .swiper-slide {
    width: 100%;
}

.lyt-personalDetails .swiper-slide .slide-title {
    font-size: 26px;
    color: #053c6d;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    color: #053c6d;
    font-weight: 700;
}
.input-wrap {
    border: 1px solid #ccc;
    max-width: 400px;
    margin: 15px auto;
    text-align: left;
    position: relative; 
}
.icon-addon {
    vertical-align: middle;
    display: inline-block;
    border-right: 1px solid #e5e5e5;
    height: 50px;
    line-height: 16px;
    width: 110px;
    text-align: left;
}
.addon-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    line-height: 14px;
    color: #666;
    text-transform: uppercase;
    text-align: left;
    margin-top: 17px;
}
.icon {
    font-size: 30px;
    color: #f5821f;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    width: 38%;
    padding-left: 10px;
    margin-top: 10px;
}   
.input-field {
    border-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    max-width: 260px;
    text-align: left;
    padding-left: 20px;
    width: 390px;
    font-size: 16px;
    line-height: 20px;
    color: #666;
    margin: 0 auto;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    box-shadow: none;
}
.arrow-icon {
    vertical-align: middle;
}
.error {
    position: absolute;
    left: 110px;
    bottom: -23px;
    font-size: 11px;
    line-height: 14px;
    color: red;
    text-transform: capitalize;
}
.line-break {
    display: block;
}

.checkboxContent {
    display: inline-flex;
    left: 30%;
}
.check-premiumbtn {
    left: 34%;
}
.textDetails {
    line-height: 18px;
    margin-left: 10px;
    font-size: 13px;
    color: #233846;
    opacity: 0.8;
}
.check-premium .btn {
    margin-top: 47px;
    text-align: center;
    min-width: 0;
    font-size: 18px;
    min-width: 255px;
    padding: 9px 50px;
    margin-bottom: 50px;
}
.floatleftedit {
  float:right;
  position: relative;
  top:-120px;
}
.btn.btn-disable {
    opacity: .5; 
}
.slide-back {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #666;
    position: absolute;
    left: 0;
    top: 0;
}
.icon-video-prev {
    line-height: 45px;
    color: #666;
    position: relative;
    left: 10px;
    top: 1px;
    font-size: 18px;
}
.bs-checkbox input[type=checkbox] {
	position: absolute;
	opacity: 0;
}

.bs-checkbox input[type=checkbox]+label {
	position: relative;
	cursor: pointer;
	padding: 0;
	color: #233846;
}

.bs-checkbox input[type=checkbox]+label span {
	display: inline-block;
	width: calc(100% - 50px);
	vertical-align: top;
	margin-left: 4px;
}

.bs-checkbox input[type=checkbox]+label:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 15px;
	background: #fff;
	border: 1px solid #f5821f;
	border-radius: 50%;
	transition: background .3s ease-in;
}

.bs-checkbox input[type=checkbox]:checked+label:before {
	background: #f5821f;
}

.bs-checkbox input[type=checkbox]:disabled+label {
	color: #b8b8b8;
	cursor: auto;
}

.bs-checkbox input[type=checkbox]:disabled+label:before {
	box-shadow: none;
	background: #ddd;
}

.bs-checkbox input[type=checkbox]:checked+label:after {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
    left: 5px;
    width: 4px;
    height: 8px;
	border: solid #fff;
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
}
@media (min-width: 1920px) {
    .persDetails {
        padding: 0px 14%;
    }
    .check-premiumbtn {
        left: 39%;
    }
}
@media(max-width: 768px) {
    .premium-quote-wrapper h3 {
        font-size: 20px;
        color: #053c6d;
        font-weight: 700;
        margin-top: 10px;
    }
    .icon-video-prev {
        font-size: 16px;
        left: 0%;
    }
    .icon {
        font-size: 20px;
    }
    .addon-text {
        line-height: 12px;
        font-size: 10px;
    }
    .textDetails {
        line-height: 18px;
        margin-left: 10px;
        font-size: 11px;
        text-align: justify;
    }
    .input-field {
        font-size: 14px;
    }
    .error {
        left: 35px;
    }
    .check-premium .btn {
        padding: 9px 45px;
        font-size: 16px;
    }
    .icon-edit-pen {
        font-size: 16px;
        line-height: 45px;
        position: relative;
        left: 50%;
        top: 50%;
    }
    .checkboxContent {
        display: inline-flex;
        left: 25%;
    }
    .check-premiumbtn {
        left: 0%;
    }
    .check-premium {
        text-align: center;
    }
}
@media (max-width: 700px) {
    .checkboxContent {
        display: inline-flex;
        left: 0%;
    }
}
@media (max-width: 456px) {
    .error {
        left: 28%;
    }
}

@media(max-width: 416px) {
    .error {
        left: 110px;
        font-size: 10px;
    }
}
@media (max-width: 394px) {
    .input-field {
        width: 250px;
    } 
    .check-premium .btn {
        padding: 9px 60px;
    }
}
@media(max-width: 376px) {
    .input-field {
        width: 230px;
    }
    .check-premium .btn {
        padding: 9px 15%;
    }
    .error {
        left: 110px;
        font-size: 10px;
    }
}
@media(max-width: 361px) {
    .icon-addon {
        width: 90px;
    }    
    .icon {
        font-size: 25px;
        margin-right: 5px;
        width: 38%;
        padding-left: 5px;
    }
    .check-premium .btn {
        padding: 9px 60px;
        font-size: 14px;
    }
    .error {
        left: 90px;
        font-size: 10px;
    }
}

@media screen and (min-width: 375px) and (max-width: 401px) { 
    .icon-addon {
        width: 100px;
    }
  }

