<div class="sticky" id="calculatorPage">
<div @slide  id="premium-details">
  <div style="z-index: 1" class="container-fluid no-space">
    <div class="row no-space">
      <div class="col-md-12 no-space premium-quote-wrapper preAmount">
        <app-steps #showBullet>
          <div class="resuablebackbutton">
            <div class="back-arrow-wrapper d-none d-lg-block">
              <span class="slide-back" (click)="previousPage()">
                <span class="icon-video-prev"></span>
              </span>
            </div>
            <div class="mobile-slide-back d-lg-none">
              <span class="icon-video-prev" (click)="previousPage()"></span>
            </div>
          </div>
          <span class="reusabletopheader premiumHeader">Your quote is ready</span>
          <span class="resuable">Your quote is ready</span>
          <span class="reusableEditMobileView">
            <span class="d-block d-md-none">
              <span class="icon icon-edit-pen" (click)=showeditMenu.show()></span>
              <app-editpanel #showeditMenu></app-editpanel>
            </span>
          </span>
        </app-steps>
      </div>
    </div>
  </div>
  <app-premium-amount></app-premium-amount>
  <span class="floatleftedit d-none d-md-block">
    <app-editpanel></app-editpanel>
  </span>
  <div class="container-fluid lyt-calc">
    <div class="col-lg-12 col-md-12 col-12 preSelect">
      <div class="col-lg-10 offset-lg-1 col-12">
        <h5 class="dash-title">Select your cover amount</h5>
        <div class=" row cover-box">
          <div class="d-none d-lg-block col-lg-2 box-wrap profile-data">
            <div *ngIf="this.tempservice.flag['Male'] && !this.tempservice.flag['husbandWife']">
              <div class="quote-icon icon-maleChange gender-icon"></div>
              <div class="icon-info-text">
                Male<br>
                {{this.tempservice.age}} Years
              </div>
            </div>
            <div *ngIf="this.tempservice.flag['Female'] && !this.tempservice.flag['husbandWife']">
              <div class="quote-icon icon-femaleChange gender-icon"></div>
              <div class="icon-info-text">
                Female<br>
                {{this.tempservice.age}} Years
              </div>
            </div>
            <div *ngIf="this.tempservice.flag['husbandWife']">

              <div *ngIf="this.Male" class="quote-spouse-male icon-male-spouse">
              </div>
              <div *ngIf="this.Female" class="quote-spouse-male icon-spouse-male">
              </div>
              <div class="info-wrap">
                <div *ngIf="this.Male">
                  <span class="gender">Male</span>
                </div>
                <div *ngIf="this.Female">
                  <span class="gender">Female</span>
                </div>
                <span class="age">{{this.tempservice.age}} Years</span>
              </div>
              <div class="info-wrap typ-spouse">
                <div *ngIf="this.Female">
                  <span class="gender">Male</span>
                </div>
                <div *ngIf="this.Male">
                  <span class="gender">Female</span>
                </div>
                <span class="age">{{this.tempservice.Partnerage}} Years</span>
              </div>
            </div>
          </div>
          <div class="col-lg-5 box-wrap input-data-wrap input-data-wrap-bottom-space">
            <div class="row">
              <div class="disable-whole-div__cover" [hidden]="disableCancerDiv"></div>
              <div class="cancerSection" [style.opacity]="!this.globalServices.flag.cover.CancerCover?'0.2':'1'">
                <div class="col-3 col-sm-4 col-lg-12 cancer-heart-cover-text mobileView">
                  <span>CANCER COVER</span>
                </div>
                <div class="col-8 col-sm-7 col-lg-12 nopadding mobileView">
                  <app-plusminus Type="cancer" [sumAssured] = this.tempservice.cancerSumAssured></app-plusminus>
                </div>
              </div>
              <div class="d-none d-lg-block col-lg-12 cancer-heart-remove-text" *ngIf="this.tempservice.flag['showHide']['hideRemoveCancerOption']">
                <span class="addRemove" *ngIf="this.tempservice.flag.showHide.removeCancerCover" (click)="openRemoveCancer()">Remove</span>
                <span class="addRemove" *ngIf="!this.tempservice.flag.showHide.removeCancerCover" (click)="addCancer()">Add</span>
              </div>
              <div class="col-1 d-lg-none close-circle-icon-wrapper mobileView" *ngIf="this.tempservice.flag['showHide']['hideRemoveCancerOption']">
                <span *ngIf="this.tempservice.flag.showHide.removeCancerCover" (click)="openRemoveCancer()"><span class="mobileCrossIcon"
                    aria-hidden="true"></span></span>
                <span *ngIf="!this.tempservice.flag.showHide.removeCancerCover" (click)="addCancer()"><span class="mobilePlusIcon"
                    aria-hidden="true"></span></span>
              </div>
            </div>
          </div>
          <div class="col-lg-5 box-wrap input-data-wrap input-data-wrap-bottom-space">
            <div class="row">
              <div class="disable-whole-div__cover" [hidden]="disableDIV"></div>
              <div class="heartSection" [style.opacity]="!this.globalServices.flag.cover.HeartCover?'0.2':'1'">
                <div class="col-3 col-sm-4 col-lg-12 cancer-heart-cover-text mobileView">
                  <span>HEART COVER</span>
                </div>
                <div class="col-8 col-sm-7 col-lg-12 nopadding mobileView">
                  <app-plusminus Type="heart" [sumAssured] = this.tempservice.heartSumAssured></app-plusminus>
                </div>
              </div>
              <div class="d-none d-lg-block col-lg-12 cancer-heart-remove-text" *ngIf="this.tempservice.flag['showHide']['hideRemoveHeartOption']">
                <span class="addRemove" *ngIf="this.tempservice.flag.showHide.removeHeartCover" (click)="openRemoveHeart()">Remove</span>
                <span class="addRemove" *ngIf="!this.tempservice.flag.showHide.removeHeartCover" (click)="addHeart()">Add</span>
              </div>
              <div class="col-1 d-lg-none close-circle-icon-wrapper mobileView" *ngIf="this.tempservice.flag['showHide']['hideRemoveHeartOption']">
                <span *ngIf="this.tempservice.flag.showHide.removeHeartCover" (click)="openRemoveHeart()"><span class="mobileCrossIcon"
                    aria-hidden="true"></span></span>
                <span *ngIf="!this.tempservice.flag.showHide.removeHeartCover" (click)="addHeart()"><span class="mobilePlusIcon"
                    aria-hidden="true"></span></span>
              </div>
            </div>
          </div>
          <div class="col-lg-12 add-cover">
            <a class="add-cover-wife" (click)="showDialogSpouse()" *ngIf="this.tempservice.flag['showHide']['partnerCoverRemoveAdd'] == false"><span
                class="icon icon-circle-plus"></span>
              Add cover for your <span class="spouse">{{this.showContent}}</span>
              and get <span class="cm-bold">5% discount</span></a>
            <a class="add-cover-wife" (click)="removeSpouse()" *ngIf="this.tempservice.flag['showHide']['partnerCoverRemoveAdd'] == true"><span
                class="icon icon-circle-cross"></span>
              Remove your <span class="spouse">{{this.showContent}}'s Cover</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 get-cover">
        <div class="btn-buy-now ">
          <button class="btn typ-primary" (click)="getcover()">GET THIS COVER</button>
        </div>
        <div class="bottom-icici-customer">
          <button class="btn typ-link btn-existing" *ngIf="this.tempservice.flag['showHide']['notExistingCus']" (click)="showDialogExistingCustomer()"><span
              class="text">Click here if you are an existing ICICI Pru Customer</span><i class="icon icon-right-arrow rightcaret"></i></button>
          <button class="btn typ-link btn-existing" (click)="congratulations.showDialog()" *ngIf="this.tempservice.flag['showHide']['ExistingCus']"><span class="text">5%
              Existing customer discount applied</span><i class="icon icon-right-arrow rightcaret"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- pop-up for spouse -->
<app-popup #spousecoverdiscount>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      spouse cover discount
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closeDialogSpouse()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <span>By adding cover for your </span><span class="spouse">{{this.showContent}}</span>
      <span>, you will not be able to use the existing customer discount
        (if you're an existing customer of ours) on this plan.
      </span>
    </div>
    <div>
      <span class="spouse-body-bold">Is that OK with you ?</span>
    </div>
    <div class="spouse-body-button-wrapper">
      <div class="spouse-button-wrapper">
        <div class="spouse-inliner">
          <button class="spouse-button-class spouse-btn" (click)="closeDialogSpouse();yesNoEvent();"><span>NO</span></button>
        </div>
        <div class="spouse-inliner spouse-orange-space">
          <button class="spouse-button-class spouse-btn spouse-orange-button" (click)="openSpouseDetails();yesNoEvent();">
            <span>YES</span></button>
        </div>
      </div>
    </div>
  </div>
</app-popup>

<!-- pop-up for existing customer-->
<app-popup #existingcustomer>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      existing customer discount
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closeDialogExistingCustomer()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <span>By choosing the existing cutomer discount you will not be able to add cover for
        your {{this.showContent}} in this plan
      </span>
    </div>
    <div>
      <span class="spouse-body-bold">Is that OK with you</span>
    </div>
    <div class="spouse-body-button-wrapper">
      <div class="spouse-button-wrapper">
        <div class="spouse-inliner">
          <button class="spouse-button-class spouse-btn" (click)="closeDialogExistingCustomer()"><span>NO</span></button>
        </div>
        <div class="spouse-inliner spouse-orange-space">
          <button class="spouse-button-class spouse-btn spouse-orange-button" (click)="openExistingCustDetails()"><span>YES</span></button>
        </div>
      </div>
    </div>
  </div>
</app-popup>

<!-- pop-up for Group Employee-->
<!-- <app-popup #groupemployee>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      Group Employee discount
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="groupEmployeesucc()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <span>Because you are an ICICI Group Employee, there’s a special 5% discount for you!</span>
    </div>
    <div>
      <span class="spouse-body-bold">
        Enter your NT ID and password to validate
        you as an ICICI Group Employee:
      </span>
    </div>
    <div class="mobile-email-wrapper">
      <div class="mobile-wrapper ntid-class">
        <input type="string" placeholder="Enter Your NT ID" (keyup)="onKeyUp($event,'ntid')" class="spousedetails-input-class"
          name="ntid" id="ntid" #ntid>
      </div>
      <div class="email-wrapper password-class">
        <input type="password" placeholder="Enter your password" class="spousedetails-input-class" (keyup)="onKeyUp($event,'password')"
          name="password" id="password" #password>
        <label for="password" id="password-error" class="errorpopupMob">{{emailErrorMsg}}</label>
      </div>
      <div *ngIf="employeeVerificationFailed">
        <span>Uh oh. We are unable to identify you as ICICI group employee</span>
      </div>
      <div *ngIf="employeeVerificationSuccess">
        <span>Group Employee Discount applied</span>
        <button class="spouse-orange-button btn spouse-button-class existing-customer-button" (click)="groupEmployeesucc()">
            Close</button>
      </div>
    </div>
    <div class="existing-customer-details-wrapper">
      <div>
        <button class="spouse-orange-button btn spouse-button-class existing-customer-button" (click)="employeeVerify()">
          CONFIRM</button>
      </div>
    </div>
  </div>
</app-popup> -->
<!-- pop-up for spouse details-->
<app-popup #spousedetails>
  <div class="resuablepopupheader">
    <div class="arrow-header-wrapper">
      <div class="spouse-header-inliner pop-back-arrow">
        <div>
          <i class="icon icon-video-prev" (click)="backToSpouse()"></i>
        </div>
      </div>
      <div class="spouse-header-inliner pop-header-content">
        tell us about your {{this.showContent}}
      </div>
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closeSpouseDetails()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-do-tobacco-wrapper">
      <div class="spouse-details-inliner spouse-details-body-text spouse-details-dob">
        <label>Your {{this.showContent}}'s Date of birth</label>
      </div>
      
      <div class="spouse-details-inliner">
        <input type="tel" placeholder="DD/MM/YYYY" class="spousedetails-input-class" [(ngModel)]="this.tempservice['userInput']['spousedob']"
          name="dobDate" (keyup)="onKeyPress($event,'SpousedobDate')" [textMask]="{mask:tempservice.dateMask}" id="dobDate"
          #dobDate>
          <div>
        <label for="dobDate" class="error">{{dobErrorMsg}}</label>
        </div>
      </div>
    </div>
      <div class="tobacco-wrapper">
        <div class="spouse-details-inliner spouse-details-body-text spouse-details-dob">
          <span>Does you {{this.showContent}}</span>
          <span class="consume-tobacco-class">Consume tobacco</span>
        </div>
        <div class="spouse-details-inliner radio-wrapper">   
          <div class="spouse-radio typ-sm">
            <input id="Yes" type="radio" value="Yes" name="radio" required=""
                [(checked)]="this.tempservice.flag['spouseTobaccoYes']" (change)="this.tempservice.onChangeRadio($event,'spouseTobacco')">
            <label for="Yes" class="form-label">
                <span class="icon-name">Yes</span>
            </label>
        </div>
        <div class="spouse-radio typ-sm">
            <input id="No" type="radio" value="No" name="radio" required=""
                [(checked)]="this.tempservice.flag['spouseTobaccoNo']" (change)="this.tempservice.onChangeRadio($event,'spouseTobacco')">
            <label for="No" class="form-label">
                <span class="icon-name">No</span>
            </label>
        </div>
        <div>
        <label for="tobacco" class="spousetobacco">{{this.tempservice.flag['Inputfields']['spouseTobaccoErrorMsg']}}</label>
        </div>
      </div>
        
      </div>
    <div class="spouse-details-button-wrapper">
      <button class="spouse-orange-button btn spouse-button-class show-updated-button" (click)="showmeUpdatedQuote()">
        SHOW ME UPDATED QUOTE</button>
    </div>
  </div>
</app-popup>

<!-- existing cutomer details-->
<app-popup #existingcustdetails>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      enter your details
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closePopUp()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <span>Because you are an existing customer of ours, there’s a special 5% discount for you!</span>
    </div>
    <div>
      <span class="spouse-body-bold">
        Enter your mobile no. to validate
        you as an existing customer:
      </span>
    </div>
    <div class="mobile-email-wrapper">
      <div class="mobile-wrapper mobile-class">
        <input type="tel" placeholder="Enter Your Mobile" (keyup)="onKeyUp($event,'mobileNo')" class="spousedetails-input-class"
          maxlength="10" name="mobileNo" id="mobileNo" #mobileNo>
        <label for="mobileNo" id="mobileNo-error" class="errorpopupMob">{{mobileErrorMsg}}</label>
      </div>
      <!-- <div class="email-wrapper email-class">
        <input type="tel" placeholder="Enter your Email" class="spousedetails-input-class" (keyup)="onKeyUp($event,'email')"
          name="email" id="email" #email>
        <label for="email" id="email-error" class="errorpopupMob">{{emailErrorMsg}}</label>
      </div> -->
      <div *ngIf="otpVerificationFailed">
        <span>Uh oh. We are unable to identify you as an existing customer.</span>
      </div>
      <div *ngIf="otpApiCallFailed">
        <span>Uh oh. Something's not right. We're working to resolve it as soon as possible. Please check back in some time</span>
      </div>
    </div>
    <div class="existing-customer-details-wrapper">
      <div>
        <button class="spouse-orange-button btn spouse-button-class existing-customer-button" (click)="gotoOTP()">
          CONFIRM</button>
      </div>
    </div>
  </div>
</app-popup>

<!-- OTP -->
<app-popup #otp>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      enter your otp
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closeOTP()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <span>An OTP has been sent to the provided mobile no</span>
      <span class="bluemobilenumber">{{this.encodedmobile}}</span>
    </div>
    <!--  otp to be filled remaining-->
    <div class="otp-input-class">
      <input id="partitioned" type="text" maxlength="6" (keyup)="onKeyUp($event,'otp')"/>
      <label for="partitioned" id="partitioned-error" class="errorpopupMob">{{otpErrorMsg}}</label>
    </div>
    <!--  -->
    <div class="otp-wrapper">
      <div>
        <span class="bluemobilenumber" (click)="regenerateotp()">Regenerate OTP</span>
      </div>
      <div *ngIf="otpRegenerated">
        <span>OTP has been resent to your mobile no</span>
      </div>

    </div>
    <div class="existing-customer-details-wrapper">
      <div>
        <button class="spouse-orange-button btn spouse-button-class existing-customer-button" (click)="gotoCongratulations()">CONFIRM</button>
      </div>
    </div>
  </div>
</app-popup>

<!-- congratulations-->
<app-popup #congratulations>
  <div class="resuablepopupheader">
    <div class="image-yes-tick">
      <!-- change dis image -->
      <img class="congrats" src="./././assets/images/painttick.png">
    </div>
    <div class="spouse-body-bold small-letters">
      <span class="congrats">Congratulations</span>
    </div>
  </div>
  <span class="resuablepopupclose">
    <div class="tohidecrossborder"></div>
  </span>
  <div class="resuablepopupbody congrats-body">
    <div class="discount-text">
      <span>You get 5% discount because you have been validated as our existing customer</span>
    </div>
    <div class="name-value-wrapper">
      <div class="old-wrapper">
        <div class="name-value-inliner congrats-name">
          <span>Old Premium</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span> ₹ {{this.premiumCalc.oldPremiumAmount}} {{this.tempservice.HeartCancer_InputArr.Frequency}} </span>
        </div>
      </div>
      <div class="old-wrapper">
        <div class="name-value-inliner congrats-name">
          <span>Discount(5 %)</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span> ₹ {{this.premiumCalc.discountAmount}} {{this.tempservice.HeartCancer_InputArr.Frequency}} </span>
        </div>
      </div>
      <hr class="dottedline">
      <div class="old-wrapper">
        <div class="name-value-inliner congrats-name">
          <span>New Premium</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span> ₹ {{this.premiumCalc.newPremiumAmount}} {{this.tempservice.HeartCancer_InputArr.Frequency}} </span>
        </div>
      </div>
    </div>
    <!-- button -->
    <div class="existing-customer-details-wrapper">
      <div>
        <button class="spouse-orange-button btn spouse-button-class existing-customer-button" (click)="done()">
          DONE</button>
      </div>
    </div>
    <!-- buttons ends here -->
    <div class="remove-existing-class" (click)="removeExisting()">
      <span>Remove existing customer discount</span>
    </div>
  </div>
</app-popup>

<!-- pop-up for remove cancer-->
<app-popup #removecancer>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      ATTENTION
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closeCancer()"></span>
  </span>
  <div class="resuablepopupbody">
    <div>
      <span class="spouse-body-bold">Are you sure you want to miss out on protecting yourself from risks of
        cancer?</span>
    </div>
    <div class="spouse-body-button-wrapper">
      <div class="spouse-button-wrapper">
        <div class="spouse-inliner">
          <button class="spouse-button-class spouse-btn" (click)="cancerYes()"><span>YES</span></button>
        </div>
        <div class="spouse-inliner spouse-orange-space">
          <button class="spouse-button-class spouse-btn spouse-orange-button" (click)="closeCancer()">
            <span>NO</span></button>
        </div>
      </div>
    </div>
  </div>
</app-popup>

<!-- pop-up for remove heart-->
<app-popup #removeheart>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      ATTENTION
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closeHeart()"></span>
  </span>
  <div class="resuablepopupbody">
    <div>
      <span class="spouse-body-bold">Are you sure you want to miss out on protecting yourself from future heart
        problems?</span>
    </div>
    <div class="spouse-body-button-wrapper">
      <div class="spouse-button-wrapper">
        <div class="spouse-inliner">
          <button class="spouse-button-class spouse-btn" (click)="heartYes()"><span>YES</span></button>
        </div>
        <div class="spouse-inliner spouse-orange-space">
          <button class="spouse-button-class spouse-btn spouse-orange-button" (click)="closeHeart()">
            <span>NO</span></button>
        </div>
      </div>
    </div>
  </div>
</app-popup>

<app-popup #existingCustomerSelected>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      Spouse cover discount
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closeexistingCustomerSelected()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <span>We see you’ve used the existing customer discount. however, you can’t use the spouse cover discount at the
        same time.
      </span>
    </div>
    <div>
      <span class="spouse-body-bold">Do you want to remove your Existing customer discount?</span>
    </div>
    <div class="spouse-body-button-wrapper">
      <div class="spouse-button-wrapper">
        <div class="spouse-inliner">
          <button class="spouse-button-class spouse-btn" (click)="closeexistingCustomerSelected()"><span>NO</span></button>
        </div>
        <div class="spouse-inliner spouse-orange-space">
          <button class="spouse-button-class spouse-btn spouse-orange-button" (click)="openSpouseInfo()"><span>YES</span></button>
        </div>
      </div>
    </div>
  </div>
</app-popup>

<app-popup #spouseSelected>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      EXISTING CUSTOMER DISCOUNT
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closespouseSelected()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <span>We see you’ve opted for spouse cover, and the existing customer discount won’t be applicable to you when
        you take a spouse cover.
      </span>
    </div>
    <div>
      <span class="spouse-body-bold">Do you want to remove spouse cover?</span>
    </div>
    <div class="spouse-body-button-wrapper">
      <div class="spouse-button-wrapper">
        <div class="spouse-inliner">
          <button class="spouse-button-class spouse-btn" (click)="closespouseSelected()"><span>NO</span></button>
        </div>
        <div class="spouse-inliner spouse-orange-space">
          <button class="spouse-button-class spouse-btn spouse-orange-button" (click)="existingCusPopUp()"><span>YES</span></button>
        </div>
      </div>
    </div>
  </div>
</app-popup>
