.Ticon:before {
    content: "";
    width: 25px;
    height: 25px;
    border: 1px solid #a3a3a3;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}
.lyt-premium {
    z-index: 999;
}
.icon-close {
    cursor: pointer;
}
.view-breakup {
    position: absolute;
    bottom: 58%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 24;
    box-shadow: 0 1px 14.85px 0.15px rgba(0,0,0,.1);
    border-radius: 15px;
    font-size: 12px;
    color: #444;
    text-transform: uppercase;
    width: 180px;
    line-height: 22px;
    background: #fff;
    text-align: center;
}
.checkBox{
    font-size: 18px;
    margin-left: 10px !important;
}

.view-breakup {
    text-decoration: none;
}
.addRemove {
    cursor: pointer;
}
.premiumHeader {
    margin-right: 3%;
}
.profile-data .info-wrap {
    display: inline-block;
    padding: 0 12px;
    margin-top: 5px;
}
.profile-data .info-wrap.typ-spouse {
    display: inline-block;
    border-left: 1px solid #e3e3e3;
}
.profile-data .info-wrap .gender {
    display: block;
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    color: #323232;
}
 .lyt-calc {
    padding: 0px 0px;
    text-align: center;
}

.lyt-calc .slide-title {
    font-size: 26px;
    color: #053c6d;
    font-weight: 700;
    width: 100%;
}

.lyt-calc .slide-state {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -38px;
    font-size: 12px;
    color: #666;
}
.dash-title{
font-size: 16px;
    color: #323232;
    opacity: .8;
    line-height: 25px;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 20px;
    font-weight: 700;
}
.dash-title:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 1px;
    background: #7f7f7f;
}
.dash-title:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 1px;
    background: #7f7f7f;
}
.cover-box {
    border: 1px solid #e3e3e3;
}
.spouse-do-tobacco-wrapper,.tobacco-wrapper {
    display: flex;
}
.box-wrap {
    float: left;
}
.profile-data {
    padding: 10px 0;
    border-right: 1px solid #e3e3e3;
    vertical-align: middle;
}
.input-data-wrap {
    vertical-align: middle;
}
.add-cover {
    border-top: 1px solid #e3e3e3;
    padding: 8px 0;
    background: #fafafa;
}
.gender-icon {
    margin:0 auto;
    margin-bottom: 10px;
}
.lyt-calc .cover-box .add-cover a {
    font-size: 14px;
    color: #323232;
    opacity: 0.9;
}
.cm-bold {
    font-weight: 700;
}
.icon {
    font-size: 14px;
} 
.btn-existing {
    font-size: 16px;
    opacity: .9;
}
.btn.typ-link {
    background: 0 0;
    border: 0;
    color: black;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    padding: 0;
    opacity: 0.9;
    box-shadow: none;
}
.cancer-heart-cover-text{
    font-size: 15px;
    color: #323232;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top:15px;
    opacity: 0.9;
}
.cancer-heart-remove-text {
    padding-top: 10px;
    text-decoration: underline;
    text-align: center;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    padding-bottom:20px;
}
.icon-info-text{
    text-align: center;
    color: #323232;
    font-size: 12px;
    font-weight: 500;
}
.close-circle-icon{
    font-size:17px;
    color: #8b8b8b;
}
.close-circle-icon-wrapper{
    margin:auto;
    padding:0;
}
.btn-buy-now {
    margin: 30px 0 5px;
}
.btn {
    border: 0;
    border-radius: 3px;
    padding: 14px 10px;
    background: #fff;
    color: #323232;
    font-weight: 600;
    font-size: 16px;
    min-width: 285px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #323232;
    cursor: pointer;
    box-shadow: 3px 4px 7.36px 0.64px rgba(0,0,0,.15);
}
.btn.typ-primary {
    color: #fff;
    background: #f5821f;
    border: 1px solid #f5821f;
    font-size: 20px;
    padding: 8px 20px;
}
.get-cover {
    padding:0px;
}
.no-space {
    padding:0;
    margin:0;
}
.premium-quote-wrapper{
    padding-left: 5px;
    padding-right: 5px;
}
.rightcaret{
    top: 1px;
    position: relative;
    font-size: 10px;
    padding-left: 4px;
}
.bottom-icici-customer{
    margin-bottom:80px;
}
.add-cover-wife{
    cursor: pointer;
}
/* pop up */
.spouse-body-wrapper{
    padding-bottom: 20px;
    opacity: 0.8;
    font-size: 16px;
    color: #323232;
}
.spouse-header-center {
    padding-left: 10%;
}
.spouse-body-bold {
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    color: #323232;
}
.spouse-inliner{
    display: inline-block;
}
/* button */
.spouse-button-class{
    min-width: 130px;
    padding: 6px 35px;
}
.spouse-btn{
        border-radius: 3px;
        background: #fff;
        color: #323232;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 1px solid #323232;
        cursor: pointer;
        box-shadow: 3px 4px 7.36px 0.64px rgba(0,0,0,.15);
        
}
.spouse-body-button-wrapper{
    margin-top:20px;
}
.spouse-orange-button{
    color: #fff;
    background: #f5821f;
    border: 1px solid #f5821f;
    font-size: 17px;
}
.spouse-orange-space{
    padding-left:20px;
}
button:focus {
    outline: none;
  }
input[type="tel"]:focus{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0 none;
}
  /* spouse details popup */
.spouse-header-inliner{
    display: inline-block;
}
.pop-back-arrow{
    width:10%;
}
.pop-header-content{
    width:90%;
}
.fa-angle-left{
    font-size: 27px;    
    font-weight: 700;
    color: #323232;
}
.spouse-details-inliner{
    display: inline-block;
    width:50%;
    text-align: left;
}
.spousedetails-input-class{
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #6a6a6a;
    border: 0;
    border-bottom: 1px solid #eaf0f4;
    text-align: center;
}
.spouse-details-body-text{
    font-size: 17px;
    line-height: 20px;
    color: #322323;
    font-weight: 500;
}
.consume-tobacco-class{
    display: block;
}
.tobacco-wrapper{
    padding-top:20px;
}
.radio-class{
    display: inline-block;
    width:80px;
}
.spouse-details-button-wrapper{
    margin-top:60px;
}

/* exisitn customer details pop up */
.mobile-class{
    margin-top:40px;
}
.email-class{
    margin-top:40px;
    margin-bottom:40px;
}
.fonttickorange{
    font-size:29px;
    color:#f5821f;

}
.fonttick{
    font-size:29px;    
    color: #a3a3a3;
}
input[type=radio]{
    opacity: 0;
}
/* otp */
.bluemobilenumber{
    color: #004a80;
}
.otp-wrapper{
    margin-bottom:35px;
}
#partitioned {
    padding-left: 16px;
    letter-spacing: 21px;
    border: 0;
    background-image: linear-gradient(to left, #0091da 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 30px 3px;
    background-repeat: repeat-x;
    background-position-x: 30px;
    width: 189px;
    box-shadow: none;
    outline: 0px;
    -webkit-appearance: none;
  }
  .otp-input-class{
      margin-top:20px;
      margin-bottom:20px;
  }
/* congratulations */
.small-letters{
    text-transform: none !important;
}
.tohideborder{
    background: #ffffff;
    top: 22px;
    height: 3px;
    position: relative;
}
.tohidecrossborder{
    background: #ffffff;    
    top: 76px;
    height: 3px;
    position: relative;
}
.congrats-body{
    margin-top:0px;
}
.name-value-inliner{
    display:inline-block;
}
.congrats-name{
    text-align: left;
    width:50%;
    padding-left: 10%;
}
.congrats-name:after {
    content: ":";
    position: absolute;
    right: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 10px;
}
.congrats-value{
    text-align: right;
    width:50%;
    padding-right: 10%;
}
.old-wrapper{
    margin-bottom:10px;
}
.discount-text{
    margin-bottom:30px;
}
.dottedline{
    border-top: 1px dashed #323232;
}
.remove-existing-class{
    cursor: pointer;
    margin-top:20px;
}
.total-cover{
    background: #f5f4f4;
    border-top: 1px dashed #dcdbdb;
    font-weight: 700;
    color: #323232;
    padding-top:15px;
    padding-bottom:15px;
}
.error {
    left: 50%;
    top: 15%;
    font-size: 11px;
    line-height: 14px;
    color: red;
    text-transform: capitalize;
}
.spousetobacco {
    left: 50%;
    top: 15%;
    font-size: 11px;
    line-height: 14px;
    color: red;
    text-transform: capitalize;
}

.errorpopupMob {
    font-size: 11px;
    line-height: 14px;
    color: red;
    text-transform: capitalize;
    display: block;
    padding: 10px;
}
.slide-back{
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #666;
    position: absolute;
    left: 0;
    top: 0;
}
.icon-video-prev{
    line-height: 45px;
    color: #666;
    position: relative;
    left: 10px;
    top: 2px;
    font-size: 18px;
}
.cancerSection {
    padding-left: 16%;
}
.heartSection {
    padding-left: 16%;
}
.age {
    font-size: 12px;
}
.disable-whole-div__cover {
    position: absolute;
    height: 65%;
    width: 100%;
    z-index: 1000;
    opacity: 0.3;
} 
.showBreakAmount {
    margin-right: 2%;
}
.floatleftedit{
    float:right;
    position: relative;
    top:-120px;
  }
.typ-sm {
    display: inline-block;
}
.spouse-radio input[type=radio]+.form-label {
    display: inline-block;
    cursor: pointer;
    padding: 3px 25px;
    font-size: 18px;
    color: #6a6a6a;
    margin-left: 0;
    position: relative;
    z-index: 1;
    border-radius: 20px;
}
.spouse-radio input[type=radio] {
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.spouse-radio.typ-sm input[type=radio]+.form-label {
    padding-left: 40px;
  }  
  .spouse-radio.typ-sm input[type=radio]+.form-label .icon-name {
    color: #323232;
    opacity: .75;
    font-size: 16px;
    font-weight: 700;
  }
  
  .spouse-radio.typ-sm input[type=radio]+.form-label:before {
    content: "";
    width: 25px;
    height: 25px;
    border: 1px solid #a3a3a3;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
  }
  
  .spouse-radio.typ-sm input[type=radio]:checked+.form-label .icon-name {
    opacity: 1;
  }
  
  .spouse-radio.typ-sm input[type=radio]:checked+.form-label:before {
    background: #f5821f;
    border-color: #f5821f;
  }
  
  .spouse-radio.typ-sm input[type=radio]:checked+.form-label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 5px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .congrats {
      padding-left: 8%;
  }
@media (min-width: 1920px) {
    .view-breakup {
        bottom: 74.2%;
    }
    .taxes {
        right: 28%;
    }
    .preAmount ,.preSelect{
         padding: 0px 14%;
    }
}
@media (max-width: 1024px) {
    .premium-quote-wrapper{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 991px) {
    .spouse-body-bold{
        font-size: 12px;
        line-height: 18px;
    }
    .spouse-btn{
        font-size:15px;
    }
    .spouse-button-class{
        padding: 8px 15px;
    }
    .spouse-details-inliner {
        display: block;
        width:100%;
        text-align: center;        
    }
    .spouse-details-body-text{
        font-size:14px;
    }
    .spouse-details-dob{
        padding-bottom:5px;
    }
    .show-updated-button{
        font-size:15px;
    }
    .existing-customer-button{
        font-size:15px;
    }
    .tohideborder{
        top: 13px;
    }
    .tohidecrossborder{
        top: 53px;
    }
    .congrats-body{
        margin-top:-25px;
    }
}
@media (max-width: 769px) {
    .lyt-calc {
        padding: 20px 0px;
    }
    .lyt-calc .edit-pen {
        position: absolute;
        right:20px;
        top:8px;
        z-index:25;
    }
    .view-breakup {
        bottom: 64%;
        font-size: 11px;
    }
    .cover-box{
        border: none;
    }
    .cancer-heart-cover-text{
        padding:0;
        margin:auto;
        font-size: 11px;        
    }
    .dash-title{
        font-size: 12px;
        padding: 5px 0px;
    }
    .input-data-wrap-bottom-space {
        padding-bottom:30px;
    }
    .nopadding{
        padding-right:0px;
    }
    .btn.typ-primary{
        width:100%;
        font-size: 16px;
    }
    .btn.typ-link{
        font-size: 11px;        
    }
    .premium-quote-wrapper{
        padding-left: 0px;
        padding-right: 0px;
    }
    .quote-title {
        font-size: 20px;
    }
    .editpenicon {
        display: inline-block;
    }
    .icon-video-prev {
        top: -5px;
    }
    .spouse-details-button-wrapper{
        margin-top:30px;
    }
    .disable-whole-div__cover {
        position: absolute;
        height: 65%;
        width: 80%;
        z-index: 1000;
        opacity: 0.3;
    } 
    .mobileView {
        float: left;
    }
    .heartSection {
         padding-left: 20%; 
    }
    .cancerSection {
        padding-left: 20%;
    }
    .add-cover {
        padding: 0px 0;
    }
    .lyt-calc .cover-box .add-cover a {
        font-size: 12px;
    }
    .spouse-body-wrapper {
        font-size: 13px;
    }
    .mobileCrossIcon:after {
        content: "l";
        box-sizing: border-box;
        font-family: icici-pru-hnc;
        color: #8b8b8b;
        border: 1px solid #adadad;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: -11px;
        font-size: 12px;
        width: 22px;
        height: 22px;
        line-height: 20px;
    }
    .mobilePlusIcon:after {
        content: "f";
        box-sizing: border-box;
        font-family: icici-pru-hnc;
        color: #8b8b8b;
        border: 1px solid #adadad;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: -11px;
        font-size: 12px;
        width: 22px;
        height: 22px;
        line-height: 20px;
    }
    .spouse-do-tobacco-wrapper,.tobacco-wrapper {
        display: inline-block;
    }
}
@media (max-width: 700px) {
    .heartSection {
        padding-left: 0%; 
   }
   .cancerSection {
       padding-left: 0%;
   }
}
@media (max-width: 416px) {
    .quote-title {
        font-size: 20px;
    }
    .view-breakup {
        bottom: 64%;
        font-size: 11px;
    }
}
@media (max-width: 375px) {
    .cancer-heart-cover-text {
        font-size: 10px;        
    }
    .view-breakup {
        bottom: 67%;
        font-size: 11px;
    }
}
@media (max-width: 320px) {
    .cancer-heart-cover-text {
        font-size: 8px;        
    }
    .nopadding {
        padding-right:0px;
        padding-left:0px;
    }
    .spouse-inliner {
        display: block;
    }
    .spouse-orange-space {
        padding-left:0;
        padding-top:20px;
    }
    .btn.typ-link {
        font-size: 9px;
    }
}





