<div snInViewport (inViewportChange)="action($event)">
  <div class="container-fluid lyt-content" id="banneHide"
    [ngClass]="{'hideClass':this.tempservice.hideDiv,'active':!this.tempservice.hideDiv}" *ngIf="show">
    <div class="row lyt-banner">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div
          class="col-xl-10 col-lg-10 col-md-10 col-10 offset-xxl-2  offset-xl-1 offset-lg-1 offset-md-1 banner-container">
          <div class="row">
            <div class="info-wrap">
              <a class="iprotect" href="#">
                <img src="HeartnCancer/assets/images/heart-logo.png" alt="iprotect-logo">
              </a>
              <h3 class="info-title">Get protected against <span class="line-break"></span> <span class="bold">Heart
                  ailments
                </span> & <span class="bold">Cancer</span></h3>
              <a href="javascript:void(0)" class="btn typ-primary" (click)="showQuote()"
                [ngx-scroll-to]="'#calculatorPage'">CHECK PREMIUM
                QUOTE<span class="right-icon icon-chk-arrow"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>