.lyt-content {
  padding-top: 66px;
  overflow: hidden;
}
.lyt-banner {
  height: 465px;
  background: url(../../../assets/images/banner.JPEG) no-repeat 0 0 transparent;
  background-position: right bottom;
  background-size: cover;
}
.lyt-banner .banner-container {
  position: relative;
  padding-top: 86px;
}
.lyt-banner .banner-container .info-title {
  display: block;
  font-weight: 400;
  color: #053c6d;
  font-size: 43px;
  line-height: 50px;
}
.line-break {
  display: block;
}
.bold {
  font-weight: 700;
}
.iprotect {
  margin-bottom: 30px;
  display: inline-block;
}
.lyt-banner .banner-container .btn {
  font-weight: 600;
  margin-top: 47px;
  text-align: center;
  min-width: 0;
  font-size: 16px;
  min-width: 255px;
  padding: 14px 47px;
}
.right-icon {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
a:focus {
  outline: 0px;
  -webkit-appearance:none;
  box-shadow: 3px 4px 7.36px 0.64px rgba(0,0,0,.15);
}
@media (min-width: 1920px) {
  .info-wrap {
    padding-left: 15%;
  }
}

@media (max-width: 768px) {
  .lyt-banner {
    height: 380px;
	background: url(../../../assets/images/banner.JPEG) no-repeat 0 0
      transparent;
    background-position: right bottom;
    background-size: cover;
    padding: 30px 0;
  }
	.lyt-banner .banner-container {
    position: relative;
    padding-top: 86px;
  }
  .lyt-banner .banner-container .info-title {
    font-size: 21px;
    line-height: 27px;
  }
  .lyt-banner .banner-container .btn {
    margin-top: 0px;
    text-align: center;
    font-size: 16px;
    padding: 10px 65px;
  }
  .info-wrap {
    padding: 10px 5px;
  }
}
@media (max-width: 700px) {
  .lyt-banner {
    height: 380px;
	background: url(../../../assets/images/banner-mob.JPEG) no-repeat 0 0
      transparent;
    background-position: right bottom;
    background-size: cover;
    padding: 30px 0;
  }
}
@media (max-width: 456px) {
  .lyt-banner .banner-container .btn {
    margin-top: 0px;
    text-align: center;
    font-size: 16px;
    padding: 10px 70px;
  }
}

@media (max-width: 375px) {
  .lyt-banner .banner-container .btn {
    padding: 10px 50px;
    font-size: 16px;
  }
  .lyt-banner .banner-container .info-title {
    font-size: 20px;
  }
}

@media (max-width: 361px) {
  .info-wrap {
    padding: 15px 0px;
  }
  .lyt-banner .banner-container .btn {
    padding: 10px 45px;
  }
}
@media (max-width: 321px) {
  .lyt-banner .banner-container .btn {
    padding: 7px 30px;
    font-size: 15px;
  }
  .lyt-banner .banner-container .info-title {
    font-size: 16px;
    line-height: 23px;
  }
}
@media screen and (min-width: 375px) and (max-width: 410px) { 
  .lyt-banner[_ngcontent-c2] .banner-container[_ngcontent-c2] .btn[_ngcontent-c2] {
    padding: 10px 55px;
  }
}