.mod-inc-dec {
  width: 280px;
  margin: 0 auto;
  border-radius: 23px;
}

.mod-inc-dec .input-group-btn {
  position: relative;
  vertical-align: middle;
  display: table-cell;
}

.mod-inc-dec .input-group-btn:first-child > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.mod-inc-dec .input-group-btn:last-child > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mod-inc-dec .input-group-btn .btn {
  padding: 0;
  min-width: 0;
  border: 1px solid #f5821f;
  border-radius: 23px;
  width: 64px;
  height: 38px;
  background: 0 0;
  position: relative;
  box-shadow: none;
}

.plus-icon {
  color: #f5821f;
  font-size: 20px;
}

.icon {
  font-size: 15px;
  color: #f5821f;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.mod-inc-dec .form-control {
  border: 0 solid #d9d9d9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0;
  font-size: 16px;
  padding: 4px 5px;
  font-weight: 700;
  text-align: center;
  width: 142px;
  height: 38px;
  color: #444;
}

@media (max-width: 769px) {
  .mod-inc-dec .input-group-btn .btn {
    width: 45px;
    height: 30px;
    min-width: 0;
    top: -2px;
  }
  .plus-icon {
    font-size: 17px;
  }
  .mod-inc-dec {
    width: 190px;
    float: left;
  }
  .mod-inc-dec .form-control {
    font-size: 14px;
    width: 98px;
    height: 30px;
  }
}
