<div class="mod-inc-dec">
    <div class="input-group">
        <span class="input-group-btn">
            <button (click)="incDec('minus')" class="icon icon-minus btn btn-minus" type="button">
                <span class="icon plus-icon"></span>
            </button>
        </span>
        <input type="tel" class="form-control inc-dec-val restrictInputChar plus-minus-class" maxlength="7" (focus)="onFocusField($event)"
            (blur)="onBlurField($event)" (keyup)="onKeyUp($event)" [(ngModel)]="sumAssured" id="inpt-cancer-bg">
        <span class="input-group-btn">
            <button (click)="incDec('plus')" class="icon icon-plus btn btn-plus" type="button">
                <span class="icon plus-icon"></span>
            </button>
        </span>
    </div>
</div>