.cardReuse {
  background: #fff;
  box-shadow: 0 1px 14.85px 0.15px rgba(0, 0, 0, 0.1);
  height: 270px;
  margin-right: 20px;
  padding: 25px;
}
.check-card .card-title {
  font-size: 16px;
  color: #323232;
  font-weight: 700;
  position: relative;
}

.basicDetails-tick {
  top: -20px;
  font-size: 25px;
  position: absolute;
  left: 48%;
  color: #f5821f;
  background: white;
}
.bdtick:before{
  content: "";
  width: 23px;
  height: 23px;
  background: #f5821f;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 8px;
  border-radius: 50%;
  line-height: 25px;
  font-size: 1.8rem;
}
.bdtick:after {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 9px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0;
  margin: 0 auto;
}

.vibrate-state {
  animation: shake 0.5s;
  animation-iteration-count: forwards;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 1100px) and (min-width: 769px) {
  .cardReuse {
    padding: 20px 8px;
  }
}

@media (max-width: 768px) {
  .cardReuse {
    padding: 10px 0 0 0;
    box-shadow: none;
    text-align: left;
    height: 120px;
    padding: 25px;
  }
  .lyt-calc .check-card {
    padding: 10px 0px 0px 35px;
    box-shadow: none;
    text-align: left;
  }
  .check-card {
    float: none;
    max-width: 100% !important;
    height: 130px;
  }
  .substep {
    margin-left: 0px;
  }
  .radio-box {
    margin-top: 0px !important;
  }
  .card-title {
    margin-bottom: 0px !important;
    margin-left: 0;
    font-size: 16px;
    color: #323232;
    font-weight: 400;
    text-align: center;
  }
  .lyt-calc
    .check-card
    .radio-box
    input[type="radio"]:not(old)
    + .form-label
    .icon-name {
    padding: 7px 22px;
  }
  .datepicker .form-control.age {
    margin-left: 18px;
    width: 58%;
    border: none;
    border-bottom: 1px solid #7f7f7f;
  }
  .check-premium .btn {
    padding: 10px 80px;
  }
  .toolTipContent {
    left: 56%;
    top: -55%;
  }
  .triangle:before {
    left: 5%;
  }
  .check-card .card-title {
    font-size: 14px;
    color: #323232;
    font-weight: 500;
  }
}
@media (max-width: 426px) {
  .triangle:before {
    left: 23%;
  }
}
@media (max-width: 394px) {
	.cardReuse {
    padding: 10px;
  }
}
@media (max-width: 376px) {
	.cardReuse {
    padding: 0;
  }
  .lyt-calc .swiper-slide .slide-title {
    font-size: 23px;
    line-height: 30px;
    padding: 0px 12% 10px;
  }
  .lyt-calc .check-card {
    padding: 10px 0 0 35px;
  }
  .lyt-calc
    .check-card
    .radio-box
    input[type="radio"]:not(old)
    + .form-label
    .icon-name {
    padding: 5px 15px;
  }
  .triangle:before {
    left: 40%;
  }
}
@media (max-width: 360px) {
  .cardReuse {
    padding: 0px;
  }
}
@media (max-width: 321px) {
  .check-premium .btn {
    padding: 8px 50px;
  }
  .lyt-calc .swiper-slide .slide-title {
    padding: 0px 8% 10px;
  }
  .toolTipContent {
    left: 50%;
  }
  .triangle:before {
    left: 70%;
  }
}
