<div class="col-lg-12 col-md-12 col-12 cardReuse" [class.vibrate-state]="validateVibrate">
    <div class="d-none d-lg-block basicDetails-tick" *ngIf="showTickGender">
        <span class="bdtick" aria-hidden="true"></span>
    </div>
    <div class="check-card">
        <h4 class="card-title">
            <ng-content select=".resuableheadertext"></ng-content>
        </h4>
        <div class="col-lg-12 col-md-12 col-12">
            <ng-content select=".resuableData"></ng-content>
        </div>
    </div>
</div>
