<div class="container-fluid dependOn" id="assurance">
  <div class="col-xl-10 offset-xl-1 col-lg-12 col-12 dependOnPadding">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12 sec-head">
        <h2 class="sec-title">You can
          <span class="cm-line-break">
            <span class="divider"></span>
            depend on us<span class="divider">
            </span>
          </span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="col-lg-6 col-md-6 col-12 dependOn-wrapper">
          <div class="news-card norightborder ">
            <div class="p-l-20 img1refund">
              <h2 class="sub-heading">30 Day Return Policy</h2>
              <p class="para">If not satisfied, you can return (free look) the policy and get your money back.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 dependOn-wrapper">
          <div class="news-card nobottomborder">
            <div class="p-l-20 img2refund">
              <h2 class="sub-heading">Service Assurance</h2>
              <p class="para">Your policy will be issued in 72 hours on receipt of all documents and medical reports.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>