.scoreCard {
    padding: 20px 0;
}
.bs-sec ul {
    padding: 0px;
    margin: 0px;
}
.lyt-protect ul li {
    float: left;
    width: 25%;
    padding: 0 50px 0px 0px;
    box-sizing: border-box;
    position: relative;
}
.lyt-protect .mod-protect .protect-title {
    font-size: 17px;
    color: #f58220;
    line-height: 20px;
    text-transform: capitalize;
    min-height: 22px;
    font-weight: normal;
    font-family: ZurichBT-Bold;
}
.protect-head {
    font-size: 34px;
    font-weight: normal;
    font-family: ZurichBT-Bold;
    color: rgb(9, 73, 132 );
    margin-bottom: 15px;
    border-bottom: 1px #dadada solid;
    padding-bottom: 10px;
}
.lyt-protect .mod-protect .desc {
    font-size: 15px;
    color: #444444;
    line-height: 24px;
}
sup {
    top: -.5em;
}
ul {
    list-style: none;
}
.protect-head .fontRup {
    font-size: 20px;
    font-weight: 600;
    font-size: 20px;
    top: -10px;
    right: 0px;
    display: inline-block;
    position: relative;
}

@media (min-width: 1920px) {
    .scoreCardPadding {
    padding: 0px 11%;
    }
}

@media screen and (max-width: 768px){
    .lyt-protect ul li {
        float: none;
        width: 100%;
        padding: 5px 20px 15px;
        margin-bottom: 15px;
        border-bottom: 1px #dadada solid;
        text-align: center;
    }
    .lyt-protect .mod-protect .protect-title {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 10px;
        min-height: 0;
        font-weight: normal;
        margin-top: 20px;
        font-family: "ZurichBT-Bold";
    }
    .protect-head {
        font-size: 34px;
        font-weight: normal;
        font-family: ZurichBT-Bold;
        color: rgb(9, 73, 132 );
        margin-bottom: 5px;
        padding-bottom: 0px;
        border-bottom: 0px #dadada solid;
    }
    .lyt-protect .mod-protect .desc {
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width: 767px) {

}