<div class="container-fluid header">
  <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="header-scroll">
    <div class="respMenuIcon col-2 col-md-2 d-block d-lg-none header-wrap">
      <a href="javascript:void(0)" class="menu-btn d-block d-lg-none d-md-block" [class.headeractive]="leftDiv" (click)="showHeader()">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-8 col-8 header-wrap left-cont">
      <a class="icici-logo">
        <img src="HeartnCancer/assets/images/icicilogoImg.png" title="ICICI Prudential Life Insurance" alt="icici-logo" class="icici-logo-resp"
          (click)="redirectHomePage()">
      </a>
    </div>
    <div class="col-xl-8 col-lg-8 d-none d-lg-block header-wrap headerMenuList" [ngClass]="{ 'expand-on-scroll': addCss}">
      <nav class="navbar navbar-expand menu-list">
        <ul class="navbar-nav" [class.showanimate]="expand">
          <li class="nav-item nav-term">
            <a href="javascript:void(0)" (click)="show();BenefitScroll()" [ngx-scroll-to]="'#benefit-scroll'">BENEFITS</a>
          </li>
          <li class="nav-item nav-term">
            <a href="javascript:void(0)" (click)="scrollFunction();WorksScroll()" [ngx-scroll-to]="'#planWork-scroll'">HOW
              DOES THE
              PLAN WORKS?</a>
          </li>
          <li class="nav-item nav-term">
            <a href="javascript:void(0)" (click)="scrollFunction();Faqs();headerLinkLoad()" [ngx-scroll-to]="'#faqs-scroll'">FAQs</a>
          </li>
          <li class="nav-item nav-term">
            <a href="javascript:void(0)" (click)="scrollFunction();Videos();headerLinkLoad()" [ngx-scroll-to]="'#videos-scroll'">VIDEOS</a>
          </li>
          <li class="nav-item bs-dropdown no-border nav-term">
            <a href="javascript:void(0)" (click)="Clk_Brochure();headerLinkLoad()"><span class="brochure-icon"><i class="icon icon-download"></i></span>BROCHURE</a>
          </li>
          <li class="nav-item nav-get-quote no-border" *ngIf="showQuoteScroll">
            <a href="javascript:void(0)" [ngClass]="{ 'btn-orange': addCss}" [ngx-scroll-to]="'#calculatorPage'">GET
              YOUR
              QUOTE</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-2 d-md-none d-block header-wrap">
      <span *ngIf="showmobileLogo"><img src="assets/images/heart-logo.png" class="mobileLogo" alt="hnc logo"></span>
    </div>
  </div>
</div>
<div class="headerMenu d-block d-lg-none" [ngClass]="showpanel? 'active' : 'disabled'" style="display: inline-block;">
  <ul class="mod-menu js-menu active">
    <li>
      <a href="javascript:void(0)" class="nav-link typ-scroll" (click)="close();BenefitScroll()" [ngx-scroll-to]="'#benefit-scroll'">BENEFITS</a>
    </li>
    <li>
      <a href="javascript:void(0)" class="nav-link typ-scroll" (click)="close();WorksScroll()" [ngx-scroll-to]="'#planWork-scroll'">HOW
        DOES THE PLAN WORK?</a>
    </li>
    <li class="nav-mobile call-request">
      <a href="javascript:void(0)" class="nav-link" (click)="callRequestMethod()">CALL REQUEST</a>
    </li>
    <li>
      <a href="javascript:void(0)" class="nav-link typ-scroll" (click)="close();Faqs()" [ngx-scroll-to]="'#faqs-scroll'">FAQs</a>
    </li>
    <li>
      <a href="javascript:void(0)" class="nav-link typ-scroll" (click)="close();Videos()" [ngx-scroll-to]="'#videos-scroll'">VIDEOS</a>
    </li>
    <li class="no-border">
      <a href="javascript:void(0)" class="nav-link" (click)="Clk_Brochure()" (click)="close()"><span class="icon icon-download"></span>
        BROCHURE</a>
    </li>
    <li class="nav-get-quote no-border">
      <a href="javascript:void(0)" class="nav-link jslink-get-quote typ-scroll typ-primary" (click)="close()"
        [ngx-scroll-to]="'#calculatorPage'">GET YOUR QUOTE
      </a>
    </li>
  </ul>
</div>
<div class="float-act-wrapper">
  <a href="javascript:void(0)" class="btn-home" [ngClass]="{ 'set-home-icon': showReturnHomeIcon}" *ngIf="showReturnHomeIcon"
    [ngx-scroll-to]="'#header-scroll'">
    <span class="icon icon-video-up"></span>
    <span class="icon-txt">Return to Home</span>
  </a>
  <a href="javascript:void(0)" class="btn-calculator" [ngClass]="{ 'set-cal-icon': showReturnHomeIcon}"
    [class.Cal-active]="isSelected" *ngIf="showDownCalIcon" [ngx-scroll-to]="'#calculatorPage'" (click)="checkPremiumIcon()">
    <span class="icon icon-calc"></span>
    <span class="icon-txt">Check Premium</span>
  </a>
</div>
<app-popup #callRequest>
  <div class="resuablepopupheader">
    <div class="mainHeadContent">
      <div class="headContent">
        <img [defaultImage]="defaultImage" [lazyLoad]="getCallImage" [offset]="offset" alt="get a call">
        <div class="name">Please give us a missed call on</div>
        <div class="number">+91 8963995991</div>
      </div>
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closecallRequest()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="call-title">Call centers hours:</div>
    <div class="timing">9.30 a.m. – 6.30 p.m.</div>
    <div class="timing">Monday - Saturday</div>
    <button class="btn orange-button">call now</button>
    <button class="callLater" (click)="closecallRequest()">NO, I'LL CALL LATER</button>
  </div>
</app-popup>