.prod_form_email_outerdiv {
    display: inline-block;
    width: 400px;
    text-align: center;
    border-radius: 4px;
    border: 1px #ccc solid;
    background-color: #fff;
    margin: 5px 10px 10px 0px;
    padding: 10px;
}
.prd_heading1 {
    color: rgb(5, 60, 109);
    font-size: 20px;
    display: block;
    border-bottom: 0px rgb(223, 223, 223) solid;
    width: auto;
    margin: 0px auto;
    padding: 0px 10px 0px 35px;
    text-align: left;
}
.prd_heading1 .backspan {
    position: absolute;
    padding: 0px 5px;
    line-height: 25px;
    transform: rotate(180deg);
    left: 7px;
    border-radius: 50%;
    cursor: pointer;
    color: #666;
}
span.backspan:after {
    content: '\279C';
}
.prd_subheading {
    padding-bottom: 20px;
    border-bottom: 1px #c9c5c6 inset;
    box-shadow: 0px 1px 1px -1px #c1c1c1;
    float: left;
    width: 100%;
}
.policytermtext .fontRup {
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    color: #97291e;
    right: -0.5em;
    left: 0px;
    top: 0px;
    font-weight: 600;
}
.premiumDropDown {
    border: none;
    color: #97291e;
    border-bottom: 1px #d7d7d7 solid;
    font-size: 15px;
    padding: 3px 5px 3px 0px;
    -webkit-appearance: none;  
    -moz-appearance: none;  
    -ms-appearance: none;
    background: url(../../../assets/images/dropdown_arrow.png)  no-repeat; 
    background-position: 70px 11px;        
    width: 80px;
}
.lasttextspan {
    font-size: 40px;
    line-height: 32px;
    color: #97291e;
    position: relative;
    left: 5px;
    top: 8px;
    font-family: 'ZurichCnBT-Bold';
}
.yearlyTxt {
    display: none;
}
.premiumSection{
    float: left;
    margin-left: 4%;
}
.dropdownselect {
    margin-top: 2%;
}
.PolicyTermSelectType {
    width: auto;
    top: 15px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
}
.prod_form_email_block {
    color: rgb(51, 51, 51);
    position: relative;
    z-index: 1036;
    width: 100%;
    margin: 0px 0px 5px;
    display: inline-block;
    text-align: left;
    padding: 0px 0px;
    position: relative;
    z-index: 1016;
}
.prod_form_email_block_elements {
    border: 2px #efefef solid;
    padding: 0px;
    border-radius: 4px;
    height: 38px;
    display: block;
    margin: 20px 0px 18px;
}
.form-element4 {
    background-position: -5px -184px;
}
.form-element5 {
    background-position: -3px -279px;
}
.form-element6 {
    background-position: -5px -97px;
}
.form-element7 {
    background-position: -4px -332px;
}
.prod_form_email_block_elements_label {
    background-color: #efefef;
    width: 130px;
    padding: 9px 0px 9px 0px;
    color: #5a5a5a;
    border-radius: 4px 0px 0px 4px;
    padding-left: 40px;
    background-image: url(../../../assets/images/quote_form_sprite.png);
    background-repeat: no-repeat;
    font-size: 12px;
    float: left;
}
.prod_form_email_block_elements_label_content {
    width: 240px!important;
}
.prod_form_email_block_elements_label_content input {
    width: 245px;
    margin: 0px;
    border: 0px #fff solid;
    border-radius: 0px;
    padding: 7px 10px;
    height: auto;
    box-shadow: 0px 0px 0px 0px #fff;
    font-size: 14px !important;
}
.prod_form_email_block_elements_label_content .error_text {
    padding: 5px 10px;
    display: block;
}
.error_text {
    color: red;
    font-size: 10px;
    line-height: 12px;
}
.prod_form_email_block_elements_label_content {
    float: left;
    width: 185px;
    height: 33px;
}
.prd_div-button {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    height: 48px;
    line-height: 2.5;
    z-index: 1018;
    min-width:225px;
    position: relative;
    border: 0px #fff solid;
    background: rgba(227,227,227,1);
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: rgba(229,118,22,1);
    background: linear-gradient(to bottom, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%);
    background: -moz-linear-gradient(top, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%);
    background: -webkit-linear-gradient(top, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%);
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bydetails .checkbox {
    margin-bottom: 0px;
}
.bydetails .checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type=checkbox] {
    display: none;
    left: 10px;
    margin: 0;
    top: 4px;
}
.bydetails .checkbox label {
    position: relative;
    display: inline-block;
    text-align: left;
    padding-left: 22px;
    border: 0px;
    height: auto;
    width: auto;
    font-size: 9px;
    min-height: auto;
    vertical-align: middle;
}
.bydetails .checkbox label::before {
    height: 16px;
    width: 16px;
    border: 1px #b5b5b5 solid;
    left: 0px;
    top: 1px;
    transform: rotate(0deg);
}
.bydetails .checkbox label::before, .bydetails .checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
    /* width: auto; */
    top: auto;
    margin: auto;
    /* left: auto; */
}
.checkbox label:before {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border: solid #0a4974;
    border-width: 0 0 4px 4px;
    
    display: none;
    height: 6px;
    left: 10px;
    margin: -5px 0 0 -6px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 12px;
}
.bydetails .checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 3px;
    top: 5px;
    color: #666;
}
.bydetails .checkbox input[type="checkbox"] + label::after {
    content: none;
}
.bydetails .checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}
.prd_div-button::after {
    content: '\279C';
    position: absolute;
    padding: 0px 5px;
    line-height: 45px;
}
.PolicyTermSelectType .PolicyTermType.SumoSelect {
    width: auto;
    float: left;
    margin-right: 10px;
}
.SumoSelect {
    display: inline-block;
    position: relative;
    outline: 0;
}
.PolicyTermSelectType .PolicyTermselect {
    width: auto;
    float: right;
}
@media (min-width: 1920px) {
    .prd_heading1 .backspan {
        left: 5%;
    }
}
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) { 
    .prod_form_email_block_elements_label {
        background-color: #efefef;
        width: 104px;
    }
    .prod_form_email_outerdiv {
        display: inline-block;
        width: 375px;
    }
}
@media (max-width: 768px) {
    .prd_heading {
        font-size: 16px;
      }
    .prod_form_email_outerdiv {
        width: 100%;
      }
      .prod_form_email_block_elements_label {
        width: 105px;
      }
      .prod_form_email_block_elements_label_content input {
        width: 200px;
      }
      .prod_form_email_block_elements_label_content {
        width: 200px !important;
      }
      .lasttextspan {
        font-size: 30px;
      }
}
@media (max-width: 767px) {
    .prod_form_email_outerdiv {
        width: calc(100% - 0px);
        margin: 5px 0px 10px 0px;
        padding: 5px 7px;
    }
    .prd_heading {
        font-size: 16px;
        padding-left: 15px;
    }
    .prod_form_email_block_elements {
        border: 0px #efefef solid;
        margin: 10px 0px 0px;
        border-bottom: 0px #efefef solid;
        padding: 0px 0px 0px;
        height: auto;
    }
    .prod_form_email_block_elements_label {
        width: auto;
        display: block;
        float: none;
        background: none;
        padding: 0px;
        text-transform: uppercase;
        color: #5a5a5a;
    }
    .prod_form_email_block_elements_label_content:last-child {
        height: 34px;
        margin-bottom: 20px;
        border: 1px #e8e8e8 solid;
        border-radius: 2px;
        width: auto!important;
    }
    .prod_form_email_block_elements_label_content input {
        width: 100%;
        display: block;
        border: 1px #e8e8e8 solid;
        border-radius: 2px;
    }
    .prod_form_email_block_elements_label_content {
        float: none;
    }
    .getExtspan {
        font-size: 18px;
    }
    .getExtspanCR {
        font-size: 18px;
        padding: 0px 0px 0px 0px;
        color: #97291e;
        right: -0.15em;
        top: -12px;
        position: relative;
    }
    .home-quote-heading-text-0 .percenttxt {
        font-size: 30px;
        line-height: 32px;
        text-transform: uppercase;
        display: inline-block;
        color: #97291e;
        font-family: 'ZurichCnBT-Bold';
    }
    .discounttxt {
        font-size: 18px;
        /* word-break: break-word; */
        /* top: 0px; */
        left: 5px;
        /* width: 90px; */
        line-height: 18px;
        display: inline-block; 
    }
    .home-quote-heading-text-0 {
        color: rgb(5, 60, 109);
        text-align: left;
        padding: 0px 0px;
        margin: 0px 0px;
        display: block
    }
    .prd_div-button {
        box-shadow: 0px 4px 3px 0px #504f4f;
        cursor: pointer;
        border-radius: 30px;
        margin-bottom: 5%;
    }
}

select::-ms-expand {
    display: none;
}
