a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

ol,ul {
    list-style: none
}

* {
    outline: 0;
    box-sizing: border-box
}

li,ul {
    list-style: none;
    margin: 0;
    padding: 0
}

img {
    max-width: 100%
}

@media(max-width: 769px) {
    html {
        position:relative
    }

    p {
        font-size: 1.4rem;
        line-height: 2rem
    }
    .lyt-video .swiper-button-next{
      display:none;
      }

      .lyt-video ol#vid-list{
      display:block;
      }
      .lyt-video{
          float:left;
      }
}

.cm-container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative
}

.cm-title {
    font-size: 36px;
    line-height: 2.5rem;
    color: #053c6d;
    position: relative;
    text-align: center;
    font-weight: 700
}

.cm-title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -8px;
    background: #f5821f;
    width: 36px;
    height: 7px
}

@media(max-width: 769px) {
    .cm-title {
        font-size:21px;
        line-height: 16px;
    }
    .cm-container {
        width: auto
    }
}

@media(max-width: 1025px)and (min-width:769px) {
    .cm-container {
        padding:0 20px
    }
}

.lyt-video {
    padding: 90px 0 30px;
}

.lyt-video .title {
    width: 100%;
    max-width: 854px;
    margin: 0 auto
}

.lyt-video .vid-main-wrapper {
    width: 100%;
    max-width: 865px;
    background: #fff;
    margin: 70px auto 0
}

.lyt-video .vid-main-wrapper .title {
    font-size: 1.2rem;
    color: #444;
    font-weight: 600;
    padding: 20px 0 15px
}

.lyt-video .vid-main-wrapper .desc {
    font-size: 12px;
    line-height: 1.1rem;
    color: #444;
}

.lyt-video .swiper-slide {
    width: auto
}

.lyt-video .vid-container {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden
}

.lyt-video .vid-container embed,.lyt-video .vid-container iframe,.lyt-video .vid-container object {
    width: 100%;
    min-height: 488px
}

.lyt-video .vid-list-container {
    position: relative
}

.lyt-video ol#vid-list {
    margin: 0;
    padding: 0;
    background: #fff
}

.lyt-video ol#vid-list li {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    clear: both;
    max-width: 170px
}

.lyt-video ol#vid-list li a {
    text-decoration: none;
    background-color: #fff;
    display: block;
    padding-bottom: 10px
}

.lyt-video ol#vid-list li a.morelink {
    display: inline-block
}

.lyt-video .vid-thumb img {
    width: 170px;
    border-radius: 5px
}

.lyt-video .active-vid {
    background: #3a3a3a
}

.lyt-video #vid-list .desc {
    color: #444;
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 20px;
    opacity: .85;
    cursor: pointer;
}

.lyt-video #vid-list .desc .title {
    font-size: 14px;
    color: #444;
    padding-bottom: 10px
}

.lyt-video #vid-list .desc .desc-detail {
    font-size: 12px;
    font-weight: 400;
    color: #444;
    line-height: 1.1rem;
}

.lyt-video .up-next {
    font-size: 1.1rem;
    color: #000;
    font-weight: 500;
    padding: 30px 0 20px;
    display: block
}

.lyt-video .swiper-button-prev,.lyt-video .swiper-container-rtl .swiper-button-next {
    background: 0 0;
    font-size: 50px;
    color: #d7d7d7;
    left: -90px;
    width: 40px
}

.lyt-video .swiper-button-next,.lyt-video .swiper-container-rtl .swiper-button-prev {
    background: 0 0;
    font-size: 50px;
    color: #d7d7d7;
    right: -50px;
    width: 40px;
}

.lyt-video .morecontent span {
    display: none
}

.lyt-video .morelink {
    display: inline-block;
    color: #f5821f;
    cursor: pointer;
}

.lyt-video .morelink .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 8px;
    line-height: 1rem;
}

@media(max-width: 769px) {
    .lyt-video {
        padding:40px 20px;
    }

    .lyt-video .vid-main-wrapper {
        margin: 40px auto 0;
    }

    .lyt-video .vid-container embed,.lyt-video .vid-container iframe,.lyt-video .vid-container object {
        min-height: 180px;
    }

    .lyt-video ol#vid-list li {
        display: block;
        width: 100%;
        max-width: 100%;
        border-bottom: 1px solid #ececec;
        margin-bottom: 15px;
    }

    .lyt-video ol#vid-list li .desc {
        display: inline-block;
        width: 60%;
        vertical-align: top;
        margin-left: 20px;
        padding-top: 5px;
    }

    .lyt-video ol#vid-list li .desc .title {
        padding: 0 0 5px
    }

    .lyt-video ol#vid-list li .vid-thumb img {
        width: 100px
    }
}


@media(max-width: 361px) {
    .lyt-video ol#vid-list li .desc {
        width:55%
    }
}
@media(max-width: 321px) {
    .cm-title {
        font-size:18px;
        line-height: 16px;
    }
}

.plyr__video-embed {
    padding: 0;
    height: 500px
}

@media(max-width: 768px) {
    .plyr__video-embed {
        height:230px
    }
}

.jp-details .jp-title {
    display: none
}

.jp-full-screen {
    background-position: 0 -310px;
    margin-left: 20px
}

.jp-volume-controls .jp-volume-max {
    display: none;
}

.jp-video-270p {
    width: 800px;
    margin: 0 auto;
    border: 0;
    background: 0 0
}

.jp-jplayer {
    margin: 0 auto;
    background: 0 0
}

.jp-video .jp-current-time,.jp-video .jp-duration {
    margin-left: 6px;
    font-size: 11px;
    color: #fff;
    position: relative;
    top: 15px;
    left: 50px
}

.jp-video .jp-duration {
    margin: 0 8px 0 0;
    left: 635px;
    position: absolute;
    top: 15px
}

.jp-video .jp-progress {
    height: 6px;
    width: 550px;
    left: 100px;
    right: 50px;
    margin: 0;
    position: absolute;
    border-radius: 3px;
    background: rgba(255,255,255,.4);
    top: 20px;
    z-index: 20
}

.jp-video .jp-interface {
    border-top: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 40px;
    width: 800px;
    margin: 0 auto;
    top: auto;
    bottom: -24px
}

.jp-video .jp-interface .jp-seek-bar {
    background: 0 0
}

.jp-video .jp-type-single {
    height: 475px;
    padding-bottom: 0;
    box-sizing: border-box;
    position: relative
}

.jp-video .jp-type-single .jp-controls {
    width: auto;
    margin: 0 0 0 12px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    float: none
}

.jp-video .jp-toggles {
    position: absolute;
    right: 20px;
    margin: 0 0 0;
    width: 43px;
    top: 13px
}

.jp-video .jp-toggles .jp-repeat {
    display: none
}

.jp-video .jp-volume-bar {
    display: none;
}

.jp-video .jp-volume-controls {
    top: 22px;
    right: 50px;
    left: auto
}

.jp-video .jp-volume-controls .jp-mute {
    width: 31px;
    height: 34px;
    top: -9px;
    right: 0;
    transform: scale(.7)
}

.jp-play-bar {
    background: #ff712f
}

.jp-type-single {
    height: 475px;
    padding-bottom: 80px;
    box-sizing: border-box;
    position: relative
}

.jp-controls .jp-play,.jp-controls .jp-play:focus {
    width: 26px;
    height: 38px;
    transform: scale(.7);
    position: relative;
    top: 8px
}

.jp-controls .jp-stop {
    display: none
}

.jp-state-playing .jp-controls .jp-play,.jp-state-playing .jp-controls .jp-play:focus {
    width: 26px;
    height: 32px;
    background-position: right -5002px;
    left: -4px
}

button.jp-full-screen,button.jp-full-screen:focus {
    width: 26px;
    height: 26px;
    transform: scale(.7)
}

.jp-repeat {
    display: none
}

.jp-controls-holder {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    height: 40px
}

.jp-controls-holder .jp-controls {
    width: 26px;
    margin-left: 12px
}

.jp-state-full-screen button.jp-full-screen,.jp-state-full-screen button.jp-full-screen:focus {
    width: 26px;
    height: 26px;
    transform: scale(.7)
}

.jp-state-full-screen .jp-interface {
    width: 100%;
    bottom: 0
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media screen and (max-width: 768px) {
    .jp-full-screen {
        background-position:0 -310px;
        margin-left: 20px
    }

    .jp-volume-controls .jp-volume-max {
        display: none;
    }

    .jp-video-270p {
        height: 150px;
        width: 100%;
        margin: 0 auto;
        border: 0;
        background: 0 0
    }

    .jp-jplayer {
        margin: 0 auto;
        background: 0 0;
        width: 100%;
        height: auto;
    }

    .jp-jplayer video,.jp-jplayer>img {
        width: 100%;
        height: auto;
    }

    .jp-jplayer>img {
        position: absolute;
        height: 186px;
    }

    .jp-video .jp-current-time,.jp-video .jp-duration {
        font-size: 9px;
        top: 18px;
        left: 20px
    }

    .jp-video .jp-duration {
        left: auto;
        top: 18px;
        right: 28px
    }

    .jp-video .jp-progress {
        height: 6px;
        width: 60%;
        left: 60px;
        right: 50px;
        margin: 0;
        position: absolute;
        border-radius: 3px;
        background: rgba(255,255,255,.4);
        top: 22px
    }

    .jp-video .jp-interface {
        border-top: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 14px;
        height: 50px;
        width: 100%;
        margin: 0 auto;
    }

    .jp-video .jp-interface .jp-seek-bar {
        background: 0 0
    }

    .jp-video .jp-type-single {
        height: 200px;
        padding-bottom: 0;
        box-sizing: border-box;
        position: relative
    }

    .jp-video .jp-type-single .jp-controls {
        width: auto;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        float: none
    }

    .jp-video .jp-toggles {
        position: absolute;
        right: 2px;
        margin: 0 0 0;
        width: 43px;
        top: 13px
    }

    .jp-video .jp-toggles .jp-repeat {
        display: none
    }

    .jp-video .jp-volume-bar {
        display: none;
    }

    .jp-video .jp-volume-controls {
        top: 22px;
        right: 50px;
        left: auto
    }

    .jp-video .jp-volume-controls .jp-mute {
        width: 31px;
        height: 34px;
        top: -9px;
        right: 0;
        transform: scale(.7)
    }
    .jp-play-bar {
        background: #ff712f;
    }

    .jp-type-single {
        height: 500px;
        padding-bottom: 80px;
        box-sizing: border-box;
        position: relative
    }

    .jp-controls .jp-play {
        width: 26px;
        height: 38px;
        transform: scale(.5);
        position: relative;
        top: 8px
    }

    .jp-controls .jp-stop {
        display: none
    }

    .jp-state-playing .jp-controls .jp-play,.jp-state-playing .jp-controls .jp-play:focus {
        width: 26px;
        height: 32px;
        background-position: right -5002px;
        left: -4px
    }

    button.jp-full-screen,button.jp-full-screen:focus {
        width: 26px;
        height: 26px;
        transform: scale(.5)
    }

    .jp-repeat {
        display: none
    }

    .jp-controls-holder {
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        position: absolute;
        right: 0;
        height: 40px
    }

    .jp-controls-holder .jp-controls {
        width: 26px;
        margin-left: 12px
    }

    .jp-state-full-screen button.jp-full-screen,.jp-state-full-screen button.jp-full-screen:focus {
        width: 26px;
        height: 26px;
        transform: scale(.5)
    }

    .jp-state-full-screen .jp-interface {
        width: 100%
    }

    .jp-state-full-screen .jp-jplayer img,.jp-state-full-screen .jp-jplayer video {
        width: 100%;
    }

    .jp-video-full {
        height: 100%
    }

    .jp-video-full .jp-jplayer>img {
        position: absolute;
        height: 100%;
    }
}

/*slider*/
.initial{
    transition-duration: 300ms; transform: translate3d(0px, 0px, 0px);
    }

    .class1{
    transition-duration: 300ms; transform: translate3d(-225px, 0px, 0px);
    }


    .class2{
    transition-duration: 300ms; transform: translate3d(-450px, 0px, 0px);
    }

    .class3{
    transition-duration: 300ms; transform: translate3d(-655px, 0px, 0px);}

    .cursorclass {
        cursor: pointer;
    }
