<div class="lyt-video" id="videos-scroll">
      <div class="cm-container">
            <div class="row">
                  <div class="col-lg-12 col-sm-12">
                        <h2 class="cm-title">Watch some videos</h2>
                  </div>
            </div>
            <div class="vid-main-wrapper clearfix">
                  <!-- THE YOUTUBE PLAYER -->
                  <div class="vid-container">
                        <iframe id="vid_frame" [src]="youtubeurl" frameborder="0"></iframe>
                        <h4 class="title">{{mainVideoContent.headingTxt}}</h4>
                        <p class="desc more">{{mainVideoContent.displayTxt}}<span
                                    [style.display]=" this.maintxt?'inline':'none'"
                                    class="moreellipses">...&nbsp;</span><span class="morecontent"><span
                                          class="more-content-section"
                                          [style.display]=" this.readMeFadeInAndOut?'none':'inline'"
                                          [class.fadeOut]=" this.maintxt" [class.fadeIn]="!this.maintxt">ies. And what
                                          adds to one’s
                                          worries are the high treatment costs. Sometimes to manage the costs, one may
                                          even be forced to choose a different hospital, specialist or treatment.
                                          {{mainVideoContent.hiddenTxt}}</span>&nbsp;&nbsp;<a
                                          (click)="Readmoretxt('maintxt')" class="morelink">{{this.Read}}<i
                                                [style.display]="this.arrow?'inline':'none'"
                                                class="icon icon-video-next"></i></a></span>
                        </p>
                  </div>
                  <!-- THE PLAYLIST -->
                  <div class="vid-list-container">
                        <span class="up-next">Up next</span>
                        <div
                              class="swiper-container video-swiper swiper-container-horizontal swiper-container-wp8-horizontal">
                              <ol id="vid-list" class="swiper-wrapper" [ngClass]="class==''?'initial':this.class">
                                    <li class="swiper-slide" style="margin-right: 55px;">
                                          <a data-id="AOkahnu2AxU" class="cursorclass"
                                                (click)="onClickEvt('video1',$event)">
                                                <span class="vid-thumb" lazy-load-images><img
                                                            src="HeartnCancer/assets/images/videoImg3.jpg"></span>
                                                <div class="desc">
                                                      <h4 class="title">#HeartAndCancer - New Health Plan that pays
                                                            claim amount on detection</h4>
                                                      <p class="desc-detail more">Heart Disease &amp; Cancer are two
                                                            <span [style.display]="this.videoContentList.videoContent1?'inline':'none'"
                                                                  class="moreellipses">...&nbsp;</span><span
                                                                  class="morecontent"><span class="more-content-section"
                                                                        [style.display]="this.readMeFadeInAndOutVideo.videoContent1?'none':'inline'"
                                                                        [class.fadeOut]="this.videoContentList.videoContent1"
                                                                        [class.fadeIn]="!this.videoContentList.videoContent1">of
                                                                        the most common lifestyle-related illnesses
                                                                        today. They are impacting people close to each
                                                                        and every one of us. Once detected, the road to
                                                                        recovery is long and expensive – with tests,
                                                                        scans, treatments and surgeries. And what adds
                                                                        to one’s worries are the high treatment costs.
                                                                        Sometimes to manage the costs, one may even be
                                                                        forced to choose a different hospital,
                                                                        specialist or treatment.
                                                                        At such a time, the new specialised health plan
                                                                        Heart/Cancer Protect can be a lifesaver. It is
                                                                        a health insurance plan that pays claim amount
                                                                        immediately on detection. This means you will
                                                                        have money in hand to get the right treatment,
                                                                        and can win against the illness – Agar taiyaari
                                                                        sahi ho, toh jeet pakki hai!
                                                                        Get a cover of up to Rs. 25 lakhs for Heart
                                                                        Diseases and Rs. 50 lakhs for Cancer.
                                                                        To know more about ICICI Pru Heart/Cancer
                                                                        Protect, visit
                                                                        www.iciciprulife.com</span>&nbsp;&nbsp;
                                                                  <a (click)="onClickEvt('videoContent1',$event)"
                                                                        class="morelink">{{this.videoContentList.videoContent1txt}}<i
                                                                              [style.display]="this.videoContentList.videoContent1?'inline':'none'"
                                                                              class="icon icon-video-next"></i></a></span>
                                                      </p>
                                                </div>
                                          </a>
                                    </li>
                                    <li class="swiper-slide swiper-slide-next" style="margin-right: 55px;">
                                          <a data-id="f16WXvLhQIU" class="cursorclass"
                                                (click)="onClickEvt('video2',$event)">
                                                <span class="vid-thumb" lazy-load-images><img
                                                            src="HeartnCancer/assets/images/videoImg2.jpg"></span>
                                                <div class="desc">
                                                      <h4 class="title">#Listentobody - Catch the signs early. Protect
                                                            yourself financially.</h4>
                                                      <p class="desc-detail more">One life-saving truth that we all
                                                            m<span [style.display]="this.videoContentList.videoContent2?'inline':'none'"
                                                                  class="moreellipses">...&nbsp;</span><span
                                                                  class="morecontent"><span class="more-content-section"
                                                                        [style.display]="this.readMeFadeInAndOutVideo.videoContent2?'none':'inline'"
                                                                        [class.fadeOut]="this.videoContentList.videoContent2"
                                                                        [class.fadeIn]="!this.videoContentList.videoContent2">iss,
                                                                        but Sumit understood. Watch the film to know
                                                                        more.
                                                                        Visit goo.gl/Anhwsg to register for a health
                                                                        check-up today.</span>&nbsp;&nbsp;
                                                                  <a (click)="onClickEvt('videoContent2',$event)"
                                                                        class="morelink">{{this.videoContentList.videoContent2txt}}<i
                                                                              [style.display]="this.videoContentList.videoContent2?'inline':'none'"
                                                                              class="icon icon-video-next"></i></a>
                                                            </span></p>
                                                </div>
                                          </a>
                                    </li>
                                    <li class="swiper-slide" style="margin-right: 55px;">
                                          <a data-id="h9mtx6NpJas" class="cursorclass"
                                                (click)="onClickEvt('video3',$event)">
                                                <span class="vid-thumb" lazy-load-images><img
                                                            src="HeartnCancer/assets/images/videoImg4.jpg"></span>
                                                <div class="desc">
                                                      <h4 class="title">ICICI Pru Heart/Cancer Protect</h4>
                                                      <p class="desc-detail more">ICICI Pru Heart/Cancer Protect is
                                                            a<span [style.display]="this.videoContentList.videoContent3?'inline':'none'"
                                                                  class="moreellipses">...&nbsp;</span><span
                                                                  class="morecontent"><span class="more-content-section"
                                                                        [style.display]="this.readMeFadeInAndOutVideo.videoContent3?'none':'inline'"
                                                                        [class.fadeOut]="this.videoContentList.videoContent3"
                                                                        [class.fadeIn]="!this.videoContentList.videoContent3">
                                                                        health insurance plan which gives a lumpsum
                                                                        payout in the event of a cancer or heart
                                                                        disease.
                                                                        Know More at
                                                                        https://goo.gl/PeLSPe</span>&nbsp;&nbsp;
                                                                  <a (click)="onClickEvt('videoContent3',$event)"
                                                                        class="morelink">{{this.videoContentList.videoContent3txt}}<i
                                                                              [style.display]="this.videoContentList.videoContent3?'inline':'none'"
                                                                              class="icon icon-video-next"></i></a></span>
                                                      </p>
                                                </div>
                                          </a>
                                    </li>
                                    <li class="swiper-slide" style="margin-right: 55px;">
                                          <a data-id="h9mtx6NpJas" class="cursorclass"
                                                (click)="onClickEvt('video4',$event)">
                                                <span class="vid-thumb" lazy-load-images><img
                                                            src="HeartnCancer/assets/images/videoImg1.jpg"></span>
                                                <div class="desc">
                                                      <h4 class="title">ICICI Pru Heart/Cancer Protect</h4>
                                                      <p class="desc-detail more">ICICI Pru Heart/Cancer Protect is
                                                            a<span [style.display]="this.videoContentList.videoContent4?'inline':'none'"
                                                                  class="moreellipses">...&nbsp;</span><span
                                                                  class="morecontent"><span class="more-content-section"
                                                                        [style.display]="this.readMeFadeInAndOutVideo.videoContent4?'none':'inline'"
                                                                        [class.fadeOut]="this.videoContentList.videoContent4"
                                                                        [class.fadeIn]="!this.videoContentList.videoContent4">
                                                                        health insurance plan which gives a lumpsum
                                                                        payout in the event of a cancer or heart
                                                                        disease.
                                                                        Know More at
                                                                        https://goo.gl/PeLSPe</span>&nbsp;&nbsp;
                                                                  <a (click)="onClickEvt('videoContent4',$event)"
                                                                        class="morelink">{{this.videoContentList.videoContent4txt}}<i
                                                                              [style.display]="this.videoContentList.videoContent4?'inline':'none'"
                                                                              class="icon icon-video-next"></i></a></span>
                                                      </p>
                                                </div>
                                          </a>
                                    </li>
                                    <li class="swiper-slide" style="margin-right: 55px;">
                                          <a (click)="onClickEvt('video5',$event)" class="cursorclass"
                                                data-id="rmuXyfert9w">
                                                <span class="vid-thumb" lazy-load-images><img
                                                            src="HeartnCancer/assets/images/videoImg5.jpg"></span>
                                                <div class="desc">
                                                      <h4 class="title">ICICI Pru Heart/Cancer Protect - Zero premiums
                                                            after diagnosis</h4>
                                                      <p class="desc-detail more">With ICICI Pru Heart/Cancer
                                                            Protect<span
                                                                  [style.display]="this.videoContentList.videoContent5?'inline':'none'"
                                                                  class="moreellipses">...&nbsp;</span><span
                                                                  class="morecontent"><span class="more-content-section"
                                                                        [style.display]="this.readMeFadeInAndOutVideo.videoContent5?'none':'inline'"
                                                                        [class.fadeOut]="this.videoContentList.videoContent5"
                                                                        [class.fadeIn]="!this.videoContentList.videoContent5">,
                                                                        you do not have to pay any premiums after a
                                                                        minor diagnosis. The policy will continue for
                                                                        the rest of the term without you having to pay
                                                                        any premiums.</span>&nbsp;&nbsp;
                                                                  <a (click)="onClickEvt('videoContent5',$event)"
                                                                        class="morelink">{{this.videoContentList.videoContent5txt}}
                                                                        <i [style.display]="this.videoContentList.videoContent5?'inline':'none'"
                                                                              class="icon icon-video-next"></i></a></span>
                                                      </p>
                                                </div>
                                          </a>
                                    </li>
                                    <li class="swiper-slide" style="margin-right: 55px;">
                                          <a (click)="onClickEvt('video6',$event)" class="cursorclass"
                                                data-id="NN-fGsk6Itg">
                                                <span class="vid-thumb" lazy-load-images><img
                                                            src="HeartnCancer/assets/images/videoImg6.jpg"></span>
                                                <div class="desc">
                                                      <h4 class="title">ICICI Pru Heart/Cancer Protect - Multiple
                                                            claims</h4>
                                                      <p class="desc-detail more">ICICI Pru Heart/Cancer Protect
                                                            pays<span
                                                                  [style.display]="this.videoContentList.videoContent6?'inline':'none'"
                                                                  class="moreellipses">...&nbsp;</span><span
                                                                  class="morecontent"><span class="more-content-section"
                                                                        [style.display]="this.readMeFadeInAndOutVideo.videoContent6?'none':'inline'"
                                                                        [class.fadeOut]="this.videoContentList.videoContent6"
                                                                        [class.fadeIn]="!this.videoContentList.videoContent6">
                                                                        out on multiple claims of cancer, protecting
                                                                        you fully.</span>&nbsp;&nbsp;
                                                                  <a (click)="onClickEvt('videoContent6',$event)"
                                                                        class="morelink">{{this.videoContentList.videoContent6txt}}<i
                                                                              [style.display]="this.videoContentList.videoContent6?'inline':'none'"
                                                                              class="icon icon-video-next"></i></a></span>
                                                      </p>
                                                </div>
                                          </a>
                                    </li>
                                    <li class="swiper-slide" style="margin-right: 55px;">
                                          <a data-id="FxzWYlFly2Y" class="cursorclass"
                                                (click)="onClickEvt('video7',$event)">
                                                <span class="vid-thumb" lazy-load-images><img
                                                            src="HeartnCancer/assets/images/videoImg7.jpg"></span>
                                                <div class="desc">
                                                      <h4 class="title">ICICI Pru Heart/Cancer Protect - Cancel all
                                                            worries</h4>
                                                      <p class="desc-detail more">Stay worry free with ICICI Pru
                                                            Hear<span
                                                                  [style.display]="this.videoContentList.videoContent7?'inline':'none'"
                                                                  class="moreellipses">...&nbsp;</span><span
                                                                  class="morecontent"><span class="more-content-section"
                                                                        [style.display]="this.readMeFadeInAndOutVideo.videoContent7?'none':'inline'"
                                                                        [class.fadeOut]="this.videoContentList.videoContent7"
                                                                        [class.fadeIn]="!this.videoContentList.videoContent7">t/Cancer
                                                                        Protect, a health insurance plan that pays on
                                                                        diagnosis.</span>&nbsp;&nbsp;
                                                                  <a (click)="onClickEvt('videoContent7',$event)"
                                                                        class="morelink">{{this.videoContentList.videoContent7txt}}
                                                                        <i [style.display]="this.videoContentList.videoContent7?'inline':'none'"
                                                                              class="icon icon-video-next"></i></a></span>
                                                      </p>
                                                </div>
                                          </a>
                                    </li>
                              </ol>
                        </div>
                        <div class="swiper-button-next"
                              [ngClass]="this.class=='class3'?'swiper-button-disabled':'active'"
                              (click)="nextprev('next')"><i class="icon icon-video-next"></i></div>
                        <div class="swiper-button-prev"
                              [ngClass]="this.class=='initial'||this.class==''?'swiper-button-disabled':'active'"
                              (click)="nextprev('previous')"><i class="icon icon-video-prev"></i></div>
                  </div>
            </div>
      </div>
</div>