.lyt-spl-discount {
    padding: 70px 0;
  }
.benefit-wrapper {
    float: left;
  }
.div-benfits {
    margin: 10px 0px 20px 0px;
}
.blue-title-unique {
    color: #004a80;
    font-family: ZurichBT-Bold;
    font-size: 18px;
}
.txt {
    color: #444;
    font-family: ZurichBT-Roman;
    font-size: 15px;
}
@media (min-width: 1920px) {
    .benefitPadding {
        padding: 0px 11%;
    }
}
@media screen and (max-width: 768px){
    
}
@media (max-width: 767px){
    .lyt-spl-discount {
        padding: 30px 0;
    }
    .div-benfits {
        margin: 10px 0px 20px 0px;
        border-bottom: 1px #ddd solid;
        padding-bottom: 15px;
    }
    .befits-img {
        display: inline-block;
        position: absolute;
        margin-left: -2px;
    }
    .div-benfits h4 {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 80px;
        font-size: 16px;
        font-weight: normal;
    }
    .div-benfits span.txt {
        display: inline-block;
        line-height: 22px;
        margin-left: 80px;
    }
    .nobottomborder {
        border: 0px #ddd solid !important;
    }
}