<div class="container-fluid lyt-content respHeight" id="calculatorSection" #banner>
  <div class="row lyt-banner">
    <div class="col-xl-10 col-lg-10 offset-xl-1 offset-lg-1 col-md-12 col-sm-12 bannerPadding">
      <div class="prod_form_left_outerdiv">
        <div class="prod_form_left_outerdiv_inner">
          <div *ngIf="this.tempservice.flag['showHide']['quoteSection']">
            <div><span class="home-quote-heading-text-00">India expected to have</span> <span class="percentCol"> 17
                lakhs</span><span class="home-quote-heading-text-00"> new cancer cases <span
                  class="home-quote-heading-text-00 mobileView" style="font-size:13px">(by 2020)#</span></span>
              <br><span class="home-quote-heading-text-00">Cost of treatment is over </span><span
                class="percentCol"><sup class="fontRup rupeeAlign">₹</sup>23 lakhs<sup class="rupeeAlign">^</sup></span>
            </div>
            <div class="home-quote-heading-text-0 home-get-section">
              <sup class="getExtspan">Get</sup>
              <div>
                <app-plusminus></app-plusminus>
              </div>
              <p class="getExtspanCC"><span class="border-top-black">CANCER COVER</span></p>
              <div class="lasttextdiv"><span class="justtextspan just-txt-align">@ JUST</span><sup
                  class="fontRup cal-paddrupeeAlign">₹</sup><span
                  class="lasttextspann LA1_1stPremium_Total">{{this.tempservice.premiumAmount}}</span><span
                  class="lasttextspann yearlyTxt"></span>
                <sup class="permonthtxt" *ngIf="this.tempservice.Cancer_InputArr['Frequency'] == 'Monthly'">p.m*</sup>
                <sup class="permonthtxt" *ngIf="this.tempservice.Cancer_InputArr['Frequency'] == 'Yearly'">p.a*</sup>
              </div>
              <div class="disc-text"><span class="brdr-top">Claim paid on detection<sup>1</sup></span></div>
            </div>
            <div class="prd_div_button_outer mobile-view-qfrm d-block d-md-none d-lg-none"> <a
                class="prd_div-button quoteBtn" id="getQuotebtn" (click)="getQuote()">Get Your Quote</a>
            </div>
          </div>
          <div id="GetQuote" *ngIf="this.tempservice.mobileStructure">
            <ngx-flip class="d-block d-md-none d-lg-none" [flip]="this.tempservice.flag['showHide']['personalPage']">
              <div *ngIf="this.tempservice.showHideMobile" front @slide>
                <app-basic-details></app-basic-details>
              </div>
              <div *ngIf="this.tempservice.showHideMobile" back>
                <app-personal-details></app-personal-details>
              </div>
            </ngx-flip>
          </div>
          <!-- -->
        </div>
      </div>
      <!-- right side Main Section-->
      <div class="prod_form_right_outerdiv mobileView" id="GetQuote" *ngIf="!this.tempservice.IEBrowser">
        <ngx-flip class="d-none d-md-block" [flip]="this.tempservice.flag['showHide']['personalPage']">
          <div class="d-none d-md-block" front *ngIf="this.tempservice.desktopStructure && !this.tempservice.IEBrowser">
            <app-basic-details *ngIf="this.tempservice.desktopStructure && !this.tempservice.IEBrowser">
            </app-basic-details>
          </div>
          <div class="d-none d-md-block" back *ngIf="this.tempservice.desktopStructure && !this.tempservice.IEBrowser">
            <app-personal-details *ngIf="this.tempservice.desktopStructure && !this.tempservice.IEBrowser">
            </app-personal-details>
          </div>
        </ngx-flip>
      </div>
      <!-- right side Main Section Ends-->
      <!--   Only For IE Browser-->
      <div class="prod_form_right_outerdiv mobileView" id="GetQuote" *ngIf="this.tempservice.IEBrowser">
        <!-- <ngx-flip class="d-none d-md-block" [flip]="this.tempservice.flag['showHide']['personalPage']"> -->
        <div class="d-none d-md-block" *ngIf="this.tempservice.desktopStructure && this.tempservice.IEBrowser">
          <div [hidden]="!this.tempservice.flag['showHide']['IEBasicDetailsPage']">
            <app-basic-details></app-basic-details>
          </div>
        </div>
        <div class="d-none d-md-block" *ngIf="this.tempservice.desktopStructure && this.tempservice.IEBrowser">
          <div [hidden]="!this.tempservice.flag['showHide']['IEPersonalDetailsPage']">
            <app-personal-details></app-personal-details>
          </div>
        </div>
        <!-- </ngx-flip> -->
      </div>
      <!--  Ends -->
    </div>
  </div>
</div>

<app-popup #existingcustdetails>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      enter your details
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closePopUp()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <span>Because you are an existing customer of ours, there’s a special 5% discount for you!</span>
    </div>
    <div>
      <span class="spouse-body-bold">
        Enter your mobile no. to validate
        you as an existing customer:
      </span>
    </div>
    <div class="mobile-email-wrapper">
      <div class="mobile-wrapper mobile-class">
        <input type="tel" placeholder="Enter Your Mobile" (keyup)="onKeyUp($event,'mobileNo')"
          class="spousedetails-input-class" maxlength="10" name="mobileNo" id="mobileNo" #mobileNo>
        <label for="mobileNo" id="mobileNo-error" class="errorpopupMob">{{mobileErrorMsg}}</label>
      </div>
      <div *ngIf="otpVerificationFailed">
        <span>Uh oh. We are unable to identify you as an existing customer.</span>
      </div>
      <div *ngIf="otpApiCallFailed">
        <span>Uh oh. Something's not right. We're working to resolve it as soon as possible. Please check back in some
          time</span>
      </div>
    </div>
    <div class="existing-customer-details-wrapper">
      <div>
        <button class="spouse-orange-button btn spouse-button-class existing-customer-button" (click)="gotoOTP()">
          CONFIRM</button>
      </div>
    </div>
  </div>
</app-popup>

<app-popup #otp>
  <div class="resuablepopupheader">
    <div class="spouse-header-center">
      enter your otp
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closeOTP()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="spouse-body-wrapper">
      <span>An OTP has been sent to the provided mobile no</span>
      <span class="bluemobilenumber">{{this.encodedmobile}}</span>
    </div>
    <div class="otp-input-class">
      <input id="partitioned" type="text" maxlength="6" (keyup)="onKeyUp($event,'otp')" />
      <label for="partitioned" id="partitioned-error" class="errorpopupMob">{{otpErrorMsg}}</label>
    </div>
    <div class="otp-wrapper">
      <div>
        <span class="bluemobilenumber" (click)="regenerateotp()">Regenerate OTP</span>
      </div>
      <div *ngIf="otpRegenerated">
        <span>OTP has been resent to your mobile no</span>
      </div>
    </div>
    <div class="existing-customer-details-wrapper">
      <div>
        <button class="spouse-orange-button btn spouse-button-class existing-customer-button"
          (click)="gotoCongratulations()">CONFIRM</button>
      </div>
    </div>
  </div>
</app-popup>

<app-popup #congratulations>
  <div class="resuablepopupheader">
    <div class="image-yes-tick">
      <img class="congrats" src="./././assets/images/painttick.png">
    </div>
    <div class="spouse-body-bold small-letters">
      <span class="congrats">Congratulations</span>
    </div>
  </div>
  <span class="resuablepopupclose">
    <div class="tohidecrossborder"></div>
  </span>
  <div class="resuablepopupbody congrats-body">
    <div class="discount-text">
      <span>You get 5% discount because you have been validated as our existing customer</span>
    </div>
    <div class="name-value-wrapper">
      <div class="old-wrapper">
        <div class="name-value-inliner congrats-name">
          <span>Old Premium</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span> ₹ {{this.tempservice.oldPremiumAmount}} {{this.tempservice.Cancer_InputArr.Frequency}} </span>
        </div>
      </div>
      <div class="old-wrapper">
        <div class="name-value-inliner congrats-name">
          <span>Discount(5 %)</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span> ₹ {{this.tempservice.discountAmount}} {{this.tempservice.Cancer_InputArr.Frequency}} </span>
        </div>
      </div>
      <hr class="dottedline">
      <div class="old-wrapper">
        <div class="name-value-inliner congrats-name">
          <span>New Premium</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span> ₹ {{this.tempservice.newPremiumAmount}} {{this.tempservice.Cancer_InputArr.Frequency}} </span>
        </div>
      </div>
    </div>
    <div class="existing-customer-details-wrapper">
      <div>
        <button class="spouse-orange-button btn spouse-button-class existing-customer-button" (click)="done()">
          DONE</button>
      </div>
    </div>
    <div class="remove-existing-class" (click)="removeExisting()">
      <span>Remove existing customer discount</span>
    </div>
  </div>
</app-popup>