.title {
  font-size: 36px;
  line-height: 2.5rem;
  color: #053c6d;
  position: relative;
  text-align: center;
  font-weight: 700;
}
.title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -8px;
  background: #f5821f;
  width: 36px;
  height: 7px;
}
.line-break {
  display: block;
}
.lyt-reasons {
  padding: 90px 0;
}
.benefit-wrapper {
  float: left;
}
.benefit {
  margin-top: 55px;
}
.reason-icon {
  position: absolute;
  left: 30px;
  top: 30px;
}
.lyt-reasons .reason-text p {
  font-size: 18px;
  line-height: 27px;
  color: #505050;
  opacity: 0.8;
}
.lyt-reasons .benefit-wrapper .reason-text h3 {
  font-weight: 700;
  font-size: 21px;
  padding-bottom: 5px;
}

.lyt-reasons .reason-text {
  padding: 27px 0px 16px 162px;
}
@media (min-width: 1920px) {
  .reasonToChoose {
    padding: 0px 13%;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .benefit {
    margin-top: 0px;
  }

  .lyt-reasons {
    padding: 40px 0;
  }

  .lyt-reasons .benefit-wrapper {
    width: 100%;
    margin-top: 40px;
  }

  .lyt-reasons .reason-text {
    padding: 0px 0px 0px 105px;
  }

  .lyt-reasons .benefit-wrapper .reason-text h3 {
    padding-bottom: 10px;
    font-size: 16px;
  }

  .lyt-reasons .reason-text p {
    font-size: 14px;
    line-height: 23px;
    color: #505050;
    opacity: 0.8;
  }

  .lyt-reasons .benefit-wrapper .reason-icon {
    left: 25px;
    width: 65px;
  }
}
@media (max-width: 376px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 321px) {
  .title {
    font-size: 18px;
    line-height: 30px;
  }
  .lyt-reasons .reason-text p {
    font-size: 13px;
    line-height: 20px;
  }
  .lyt-reasons .benefit-wrapper .reason-text h3 {
    padding-bottom: 10px;
    font-size: 14px;
  }
  .lyt-reasons .reason-text {
    padding: 0px 0px 0px 102px;
  }
}
