<div class="container-fluid payoutOptions">
  <div class="col-xl-10 offset-xl-1 col-lg-12 col-12 payoutPadding">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-12">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 payoutWrapper">
          <div class="news-card">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="p-l-20 img1refund">
                <h2 class="sub-heading">Payment Options</h2>
                <p class="para">We support multiple payment options and your transactions are totally secure.</p>
                <p class="para">
                  <span class="paymeth rightborder "><span class="brdrgt icon2_nc iconpay"></span>Credit Card</span>
                  <span class="paymeth rightborder "><span class="brdrgt icon1_nc iconpay"></span>Debit Card</span>
                  <span class="paymeth"><span class="icon3_nc iconpay"></span>Netbanking</span>
                  <span class="paymeth rightborder"><span class="brdrgt icon4_nc iconpay"></span>Wallets </span>
                  <span class="paymeth"> <span class="brdrgt icon5_nc iconpay"></span>UPI</span>
                  <span class="paymeth"><span class="icon3_nc iconpay"></span>BharatQR</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 payoutWrapper">
          <div class="news-card noright nobottomborder">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="p-l-20">
                <h2 class="sub-heading">Contact Us</h2>
                <p class="para">Our insurance experts are always available to solve any doubts that you may have and
                  help you with anything about your policy</p>
                <p class="para"><span class="tollnum"><a href="tel:18602667766">1860 266 7766</a></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>