<div class="container-fluid lyt-faq" id='faqs-scroll'>
  <div class="col-lg-10 offset-lg-1 col-sm-12">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h2 class="cm-title">Frequently asked questions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 accordian freqQuest">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true" class="custom">
            <mat-expansion-panel-header class="accord-head">
              How does the policy pay out?
            </mat-expansion-panel-header>
            <div class="accord-content">
              <p>The policy pays out on diagnosis of listed conditions of heart ailments or cancer, irrespective of the stage of the disease
                (Early
                or late). If it is a minor condition, the policy pays out 25% of the cover amount and continues it’s
                cover
                till the policy term. If unfortunately, the disease affects the policy holder again in a major way (any
                major
                condition), it pays out the rest 75% to the policy holder and the policy terminates. In case of a major
                condition,
                the policy pays out 100% of the cover amount as lump sum upon diagnosis.</p>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel class="custom">
            <mat-expansion-panel-header class="accord-head">
              How long does it take to get the reimbursement?
            </mat-expansion-panel-header>
            <div class="accord-content">
              <p>ICICI Pru Heart/Cancer Protect pays out on diagnosis of the disease, and hence do not require you to
                show
                bills to claim. You just have to produce medical records of diagnosis/doctor’s certificate of
                diagnosis,
                to our claim care centres.</p>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel class="custom">
            <mat-expansion-panel-header class="accord-head">
              How many network hospitals does the company have tied up with, where I can get treatment?
            </mat-expansion-panel-header>
            <div class="accord-content">
              <p>The policy pays out a lump sum amount on diagnosis, and has no bearing on where the treatment is
                carried
                out. The policyholder can use the amount to fund his/her treatment at hospital of his/her choice.</p>
            </div>
          </mat-expansion-panel>
          <div *ngIf='this.visible == true'>
            <mat-expansion-panel class="custom moreQuestion">
              <mat-expansion-panel-header class="accord-head">
                What if a cancer gets treated once and then comes back to affect the person in remission, does the
                policy cover it again?
              </mat-expansion-panel-header>
              <div class="accord-content">
                <p>ICICI Pru Heart/Cancer Protect pays out on every stage. If the Cancer was of minor stage to start
                  with,
                  policy pays out 25% of the total cover for treatment and recovery. If, unfortunately, the Cancer
                  comes back
                  from remission to affect the person again at a higher severity (major stage), the policy pays out
                  rest of
                  the cover amount for treatment and recovery.</p>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="custom">
              <mat-expansion-panel-header class="accord-head">
                What are the facilities covered under hospitalization benefit?
              </mat-expansion-panel-header>
              <div class="accord-content">
                <p>Hospitalization benefit pays out Rs.5000 per day for maximum 10 days in a policy year of hospitalization irrespective of actual expenses
                  incurred,
                  if the policy holder is hospitalized for a period of 24 hours, due to any of the listed conditions
                  under
                  your chosen cover.</p>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="custom">
              <mat-expansion-panel-header class="accord-head">
                Can I cover my parents within the same policy?
              </mat-expansion-panel-header>
              <div class="accord-content">
                <p>No, but you can cover your spouse under the same policy, availing a 5% discount on the first year’s
                  premium.
                  Also, unlike a family floater, the covers of both people would remain independent of each other, with
                  the
                  option to choose different cover amounts for each.</p>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="custom">
              <mat-expansion-panel-header class="accord-head">
                Does the family get any sum assured upon the policyholder’s death?
              </mat-expansion-panel-header>
              <div class="accord-content">
                <p>The policy does not have a death benefit, as in no absolute amount is paid upon death of the policy
                  holder.
                  But cover under heart and cancer conditions would be paid out irrespective of if death occurs or not,
                  provided
                  the policyholder has been diagnosed with heart illnesses or cancer. There is no survival period for
                  Cancer.
                  But also note that there is a survival period of 7 days for heart diseases i.e., the policy holder
                  has to
                  survive for a period of 7 days from the date of diagnosis to be eligible to receive the cover amount.
                  If
                  you have availed the income benefit, even in case of a policyholder’s death, get 1% of the Sum Assured as additional income for 5 years on diagnosis of Major conditions</p>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="custom">
              <mat-expansion-panel-header class="accord-head">
                Are pre existing conditions covered?
              </mat-expansion-panel-header>
              <div class="accord-content">
                <p>Pre existing diseases are not covered. Any heart or cancer condition which was diagnosed or for
                  which medical advice/treatment was received within 48 months prior to the policy issuance, would not
                  be covered.</p>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="custom">
                <mat-expansion-panel-header class="accord-head">
                    What are the tax benefits applicable on ICICI Pru Heart/Cancer Protect?
                </mat-expansion-panel-header>
                <div class="accord-content">
                  <p>Save tax up to <sup>`</sup>25,000<sup>#</sup> for premiums paid towards this plan under Section 80D. Choosing the single pay option (5 years premium) can be used to fulfil your 80D limit of up to <sup>`</sup>25,000 for the relevant financial year.</p>
                </div>
              </mat-expansion-panel>
          </div>
        </mat-accordion>
		<a class="btn typ-primary view-more" (click)="showMore()" *ngIf="this.showMoreButton">view more</a>
      </div>
    </div>
  </div>
</div>