.lyt-faq {
    padding: 90px 0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .lyt-faq .accordian {
    margin-top: 70px;
    text-align: left;
  }
  .accord {
    border: none;
  }
  :host >>> .mat-expansion-panel-body {
    padding: 0;
  }
  :host >>> .mat-expansion-panel-content,
  :host >>> .mat-expansion-panel-header {
    font-family: Montserrat,sans-serif;
  }
  
  mat-expansion-panel.custom {
    background-color: #fff;
    box-shadow: none;
    padding: 0 20px;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 25px;
  }
  .accord-head:hover {
    background: #fff;
    box-shadow: none;
  }
  mat-expansion-panel-header.accord-head {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #323232;
    position: relative;
    padding: 30px 0;
    background-color: #fff !important;
  }
  .btn.typ-primary {
    color: #fff;
    background: #f5821f;
    border: 1px solid #f5821f;
    box-shadow: 3px 4px 7.36px 0.64px rgba(0, 0, 0, 0.15);
  }
  .accord-content p {
    font-size: 16px;
    line-height: 24px;
    color: #444;
    opacity: 0.85;
  }
  
  .lyt-faq .btn {
    font-size: 14px;
    margin-top: 30px;
    letter-spacing: 1px;
    margin-left: 45%;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .lyt-faq .btn :hover {
    color: #ffff;
  }
  
  @media (min-width: 1920px) {
    .freqQuest {
      padding: 0px 15%;
    }
  }
  
  @media (max-width: 768px) {
    .lyt-faq{
      float:left;
    }
    .cm-title {
      font-size: 24px;
      line-height: 30px;
    }
  
    .lyt-faq .accordian {
      margin-top: 30px;
      text-align: left;
    }
  
    mat-expansion-panel.custom {
      padding: 5px 10px;
    }
  
    mat-expansion-panel-header.accord-head {
      font-size: 14px;
      line-height: 20px;
    }
  
    .mat-expansion-panel-body {
      padding: 0 0px 16px !important;
    }
  
    .accord-content p {
      font-size: 14px;
      line-height: 22px;
      color: #444;
      opacity: 0.85;
      text-align: justify;
    }
  
    .lyt-faq .btn {
      margin-left: 35%;
    }
    .moreQuestion {
      margin-top:10px;
    }
  }
  
  @media (max-width: 425px) {
    .cm-title {
      font-size: 21px;
    }
    mat-expansion-panel.custom {
      padding: 10px 20px;
    }
    mat-expansion-panel-header.accord-head {
      font-size: 14px;
    }
  }
  
  @media (max-width: 321px) {
    .cm-title {
      font-size: 18px;
    }
    .accord-content p {
      font-size: 12px;
      line-height: 18px;
    }
    .lyt-faq .btn {
      font-size: 12px;
      margin-left: 35%;
    }
  }
  