.lyt-content {
    padding-top: 66px;
    overflow: hidden;
  }
  .lyt-banner {
  position: relative;
  min-height: 535px;
  text-align: center;
  background-image: url(../../../assets/images/bg_heart.jpg);
  background-position: 61% 0px;
  background-repeat: no-repeat;
  
}
.prod_form_left_outerdiv {
  width: 60%;
  float: left;
  text-align: left;
  border: 0px rgb(239, 239, 239) solid;
  padding: 0px 0px 15px;
  position: relative;
}
.prod_form_left_outerdiv_inner {
  padding: 30px 0px 15px;
}
.home-quote-heading-text-00 {
  font-size: 24px;
  color: rgb(5,60,109);
  font-family: 'ZurichBT-Roman';
  line-height: 35px;
}
.percentCol {
  color: #97291e;
  font-family: zurichBT-BOLD;
  font-size: 30px;
}
.home-quote-heading-text-0 {
  padding: 10px 0px;
  margin: 0px;
  color: rgb(5, 60, 109);
}
.home-get-section {
  border: 2px solid #e67c16;
  width: 47%;
  margin-left: 8% !important;
  text-align: center;
  margin-top: 30px !important;
}
.home-quote-heading-text-0.home-get-section .getExtspan {
  background-image: url(../../../assets/images/bg_Ccover.jpg);
  top: -16px;
  background: #e4e4e4;
  padding: 12px;
}
.home-quote-heading-text-0 .getExtspan {
  font-size: 30px;
}
.home-quote-heading-text-0 .getExtspanCC {
  font-size: 30px;
  top: -2px;
}
.border-top-black {
  border-top: 1px solid #000;
}
span.justtextspan {
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  color: #97291e;
}
.just-txt-align {
  top: -8px;
  position: relative;
}
.lasttextdiv .fontRup {
  font-size: 22px;
  padding: 0px 5px;
  color: #97291e;
  top: -14px;
}
.rupeeAlign {
  top: -8px;
}
.home-quote-heading-text-0 .lasttextspann {
  font-size: 46px;
  line-height: 38px;
  display: inline-block;
  color: #97291e;
  position: relative;
  top: 5px;
  font-family: 'ZurichCnBT-Bold';
}
sup.permonthtxt {
  font-size: 21px;
  color: #97291e;
  position: relative;
  top: -18px;
}
.disc-text {
  text-align: center;
  font-size: 17px;
  color: #444;
}
.home-get-section .disc-text {
  padding-top: 20px;
}
.brdr-top {
  border-top: 1px solid #ccc;
  padding-top: 8px;
}
.prod_form_right_outerdiv {
  position: relative;
  display: block;
  float: right;
  width: 37%;
  min-height: 540px;
  margin: 5px auto;
  overflow: hidden;
}
.try {
  display:none !important;
}
.spouse-header-center {
  padding-left: 10%;
}
.spouse-body-wrapper {
  padding-bottom: 4%;
  opacity: .8;
  font-size: 16px;
  color: #323232;
}
.spouse-body-bold {
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  color: #323232;
}
.spouse-inliner{
  display: inline-block;
}
.mobile-class{
  margin-top:40px;
}
.spouse-button-class {
  min-width: 130px;
  padding: 6px 35px;
}
.spousedetails-input-class {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #6a6a6a;
  border: 0;
  border-bottom: 1px solid #eaf0f4;
  text-align: center;
}
input[type=tel]:focus {
  box-shadow: none;
  outline: 0;
}
.errorpopupMob {
  font-size: 11px;
  line-height: 14px;
  color: red;
  text-transform: capitalize;
  display: block;
  padding: 10px;
}
.bluemobilenumber{
  color: #004a80;
}
.otp-input-class{
  margin-top:20px;
  margin-bottom:20px;
}
#partitioned {
  padding-left: 16px;
  letter-spacing: 21px;
  border: 0;
  background-image: linear-gradient(to left, #0091da 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 30px 3px;
  background-repeat: repeat-x;
  background-position-x: 30px;
  width: 189px;
  box-shadow: none;
  outline: 0px;
  -webkit-appearance: none;
}
.spouse-orange-button {
  color: #fff;
  background: #f5821f;
  border: 1px solid #f5821f;
  font-size: 17px;
}
.errorpopupMob {
  font-size: 11px;
  line-height: 14px;
  color: red;
  text-transform: capitalize;
  display: block;
  padding: 10px;
}
.otp-wrapper{
  margin-bottom:35px;
}
.existing-customer-button{
  font-size:15px;
}
button:focus {
  outline: none;
}
.congrats-body{
  margin-top:0px;
}
.name-value-inliner{
  display:inline-block;
}
.congrats-name{
  text-align: left;
  width:50%;
  padding-left: 10%;
}
.congrats-name:after {
  content: ":";
  position: absolute;
  right: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 10px;
}
.congrats-value{
  text-align: right;
  width:50%;
  padding-right: 10%;
}
.remove-existing-class{
  cursor: pointer;
  margin-top:2%;
}

@media (min-width: 1920px) {
  .bannerPadding {
      padding: 0px 11%;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1200px) {
    
}
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) { 
  .prod_form_left_outerdiv {
    width: 53%;
  }
  .prod_form_right_outerdiv {
    width: 45%;
  }
  .home-get-section {
    border: 2px solid #e67c16;
    width: 70%;
  }
  .lyt-banner {
    background-image: url(../../../assets/images/bgHeart.jpg);
    background-position: 54% 0px;
  }
  .home-quote-heading-text-0.home-get-section .getExtspan {
    top: -0.50em;
    background: #f9f9f9f9;
  }
}
@media (max-width: 768px) {
  .prod_form_left_outerdiv {
    width: 51%;
  }
  .prod_form_right_outerdiv {
    width: 47%;
  }
  .home-get-section {
    width: 80%;
  }
  .lyt-banner {
    background-image: url(../../../assets/images/bgHeart.jpg);
    background-position: 54% 0px;
  }
  .home-quote-heading-text-0.home-get-section .getExtspan {
    /* background: #fbece6; */
    background: #f8f8f8;
  }
}

@media (max-width: 767px) {
  .bannerPadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .mobileView {
    display: none !important;
  }
  .outerStructureHide{
    display: none !important;
  }
  .lyt-banner  {
    position: relative;
    min-height: 535px;
    text-align: center;
    background-image: url(../../../assets/images/bgHeart.jpg);
    background-repeat: no-repeat;
    background-position: 50% -5px;
}
  .prod_form_left_outerdiv {
    /* z-index: 999; */
    width: 100%;
    float: none;
}
  .prod_form_left_outerdiv_inner {
    padding: 15px 10px 15px;
  }
  .home-quote-heading-text-00 {
    line-height: 32px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  .home-quote-heading-text-0 {
    padding: 5px 0px;
    margin: 8px 0px;
    color: rgb(5, 60, 109);
  }
  .home-get-section {
    width: 100%;
    margin-left: 0% !important;
  }
  .prd_div-button{
    background: linear-gradient(to bottom, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%);
    color: rgb(255, 255, 255) !important;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 2px;
    min-width: 225px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    height: 48px;
    line-height: 2.5;
    z-index: 1018;
    position: relative;
    border: 0px #fff solid;
    box-shadow: 0px 4px 3px 0px #504f4f;
    cursor: pointer;
    border-radius: 30px;
  }
  .mobile-view-qfrm {
    display: block;
    margin: 10px 0px;
  }
  .quoteBtn {
    margin: 2% 16%;
  }
  .home-quote-heading-text-0.home-get-section .getExtspan {
    top: -0.50em;
    background: #f0f0f0;
    padding: 12px;
  }
  .respHeight {
    min-height: 660px !important;
  }
}
@media (max-width: 420px) {
  .quoteBtn {
      margin: 2% 20%;
  }
}
@media (max-width: 361px) {
  .quoteBtn {
      margin: 2% 17%;
  }
}

