<div class="mod-inc-dec typ-sm typ-new js-inc-dec">
  <div class="input-group">
    <span class="input-group-btn">
      <button (click)="incDec('minus')" class="cm-icon icon-minus no-shadow btn btn-minus" type="button">minus</button>
    </span>
    <sup class="fontRup">₹</sup>
    <input type="text" class="form-control LA1_CancerAmount" maxlength="7" (focus)="onFocusField($event)" (blur)="onBlurField($event)" 
    (keyup)="onKeyUp($event)" [(ngModel)]="sumAssured">
    <span class="input-group-btn">
      <button (click)="incDec('plus')" class="cm-icon icon-plus no-shadow btn btn-plus" type="button">plus</button>
    </span>
  </div>
</div>