<div class="container-fluid scoreCard lyt-protect">
  <div class="col-xl-10 offset-xl-1 col-lg-12 col-12 bs-sec scoreCardPadding">
    <div class="row">
      <div class="col-xl-12 col-md-12 d-none d-lg-block sec-head">
        <h2 class="sec-title">Check
          <span class="cm-line-break">
            <span class="divider"></span>
            Our Score Card<span class="divider">
            </span>
          </span>
        </h2>
      </div>
      <div class="col-12 d-block d-xl-none sec-head hide">
        <h2 class="sec-title">Check our
          <span class="cm-line-break">
            <span class="divider"></span>
            Score Card<span class="divider">
            </span>
          </span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="sec-cont">
          <ul>
            <li>
              <span class="divider"></span>
              <div class="mod-protect">
                <h2 class="protect-title">Claim Settlement Ratio<sup>₹</sup></h2>
                <div class="protect-head">97.88%</div>
                <p class="desc"><sup>~</sup>Claim settlement ratio is for FY 2017-18 and computed basis individual
                  claims settled over total individual claims for the financial year.</p>
              </div>
            </li>
            <li>
              <div class="mod-protect">
                <h2 class="protect-title">Benefits paid</h2>
                <div class="protect-head"><span class="fontRup">₹</span>1,14,744 CR </div>
                <p class="desc">As per Financial Statements (Schedule 4- Benefits paid (Gross)) of the Company,
                  Benefits paid since inception upto year ended March 31, 2018.</p>
              </div>
            </li>
            <li>
              <span class="divider"></span>
              <div class="mod-protect">
                <h2 class="protect-title">Sum Assured</h2>
                <div class="protect-head"><span class="fontRup">₹</span>8,22,564 CR</div>
                <p class="desc">Total Sum Assured figure for FY 2017-18. The source for this number is Annual Report FY
                  2017-18.</p>
              </div>
            </li>
            <li>
              <span class="divider"></span>
              <div class="mod-protect">
                <h2 class="protect-title">Assets Under Management</h2>
                <div class="protect-head"><span class="fontRup">₹</span>1,46,129 CR</div>
                <p class="desc">Total assets under management, held at Sept 30, 2018</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>