/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~swiper/dist/css/swiper.min.css';

/* icici-pru-hnc */
@font-face {
	font-family: "icici-pru-hnc";
	src:url("https://file.myfontastic.com/9axBFVWdwcVf6LtAe3KNwB/fonts/1536744169.eot");
	src:url("https://file.myfontastic.com/9axBFVWdwcVf6LtAe3KNwB/fonts/1536744169.eot?#iefix") format("embedded-opentype"),
	  url("https://file.myfontastic.com/9axBFVWdwcVf6LtAe3KNwB/fonts/1536744169.woff") format("woff"),
	  url("https://file.myfontastic.com/9axBFVWdwcVf6LtAe3KNwB/fonts/1536744169.ttf") format("truetype"),
	  url("https://file.myfontastic.com/9axBFVWdwcVf6LtAe3KNwB/fonts/1536744169.svg#1536744169") format("svg");
	font-weight: normal;
	font-style: normal;
  }

  [data-icon]:before {
	font-family: "icici-pru-hnc";
	content: attr(data-icon);
	-moz-content: attr(data-icon);
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
	font-family: "icici-pru-hnc";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-chk-arrow:before {
	content: "\61";
  }
  .icon-right-arrow:before {
	content: "\62";
  }
  .icon-down-arrow:before {
	content: "\63";
  }
  .icon-edit-btn:before {
	content: "\64";
  }
  .icon-plus:before {
	content: "\66";
  }
  .icon-edit-pen:before {
	content: "\67";
  }
  .icon-left-back:before {
	content: "\68";
  }
  .icon-minus:before {
	content: "\69";
  }
  .icon-video-next:before {
	content: "\6a";
  }
  .icon-video-prev:before {
	content: "\6b";
  }
  .icon-close:before {
	content: "\6c";
  }
  .icon-question:before {
	content: "\6d";
  }
  .icon-circle-cross:before {
	content: "\6e";
  }
  .icon-circle-plus:before {
	content: "\6f";
  }
  .icon-video-down:before {
	content: "\65";
	font-size: 10px;
  }
  .icon-video-up:before {
	content: "\70";
  }
  .icon-email:before {
	content: "\71";
  }
  .icon-mobile:before {
	content: "\72";
  }
  .icon-user:before {
	content: "\73";
  }
  .icon-pincode:before {
	content: "\74";
  }
  .icon-wallet:before {
	content: "\75";
  }
  .icon-calc:before {
	content: "\76";
  }
  .icon-download:before {
	content: "\77";
  }
  
  body {
  background: #ffffff;
  font-family: Montserrat ,sans-serif !important;
	font-size: 20px;
	-webkit-font-size: 10px;
	margin: 0 auto ;
	color: #444444;
	font-display: swap;
}

li, ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cm-title {
    font-size: 36px;
    line-height: 2.5rem;
    color: #053c6d;
    position: relative;
    text-align: center;
    font-weight: 700;
}
.cm-title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -8px;
    background: #f5821f;
    width: 36px;
    height: 7px;
}
.btn.typ-primary {
    color: #fff;
    background: #f5821f;
    border: 1px solid #f5821f;
	box-shadow: 3px 4px 7.36px 0.64px rgba(0,0,0,.15);
	outline: 0px;
    -webkit-appearance:none;
    box-shadow: 3px 4px 7.36px 0.64px rgba(0,0,0,.15);
}
.btn.typ-primary:focus {
	outline: 0px;
    -webkit-appearance:none;
    box-shadow: 3px 4px 7.36px 0.64px rgba(0,0,0,.15);
}
.arrow-icon {
    margin-left: 10px;
}
.quote-icon {
    background: url(./././assets/images/sprites.png) no-repeat;
    width: 90px;
    height: 70px;
}
.quote-spouse-male {
	background: url(./././assets/images/sprites.png) no-repeat;
    width: 100%;
    height: 70px;
}

.icon-male {
    background-position: -20px -841px;
}
.icon-maleChange {
    background-position: -20px -621px;
}
.icon-female {
    background-position: -20px -731px;
}
.icon-femaleChange {
    background-position: -20px -951px;
}
.icon-cake {
    background-position: -20px -1061px;
}
.icon-yestobacco {
    background-position: -20px -312px;
}
.icon-yestobaccoChange {
    background-position: -20px -415px;
}
.icon-notobacco {
    background-position: -20px -209px;
}
.icon-notobaccoChange {
    background-position: -20px -518px;
}
.icon-male-spouse {
    background-position: 33px -20px;
}
.icon-spouse-male {
	background-position: 33px -114px;
}

/* Swiper css */

.swiper-pagination-bullet-active {
    background: #f5821f !important;
    border: 1px solid #f5821f;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}

.swiper-pagination {
	position: absolute;
	text-align: center;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%
}

.swiper-pagination-bullet {
	opacity: 1;
    background: #fff;
    display: inline-block;
	border-radius: 100%;
    border: 1px solid #bababa;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

button.swiper-pagination-bullet {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
	background: #fff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
	background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
	background: #000
}

.swiper-container-vertical>.swiper-pagination-bullets {
	right: 10px;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	-moz-transform: translate3d(0, -50%, 0);
	-o-transform: translate(0, -50%);
	-ms-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 5px 0;
	display: block
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px
}

@-webkit-keyframes swiper-preloader-spin {
	100% {
			-webkit-transform: rotate(360deg)
	}
}

@keyframes swiper-preloader-spin {
	100% {
			transform: rotate(360deg)
	}
}

.disclaimer-container .mat-content {
    flex: none !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.more-content-section.fadeIn {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
            animation: fadein 2s;
}

.more-content-section.fadeOut {
	-webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 2s; /* Firefox < 16 */
        -ms-animation: fadeout 2s; /* Internet Explorer */
            animation: fadeout 2s; 
}
.sticky {
    height: calc(100%);
    background: #fff;
    width: 100%;
    overflow: auto;
}

.mat-expansion-panel {
    transition: margin 600ms cubic-bezier(.4,0,.2,1) !important;
}

.bodySticky {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	border-bottom: none !important;
}
.hideClass {
	display: none;
}
.active{
	display: block;
}
.zoom {
	zoom: 250%;
  }
 
  @-webkit-keyframes square-spin {
	25% {
	  -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
			  transform: perspective(100px) rotateX(180deg) rotateY(0); }
	50% {
	  -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
			  transform: perspective(100px) rotateX(180deg) rotateY(180deg); }
	75% {
	  -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
			  transform: perspective(100px) rotateX(0) rotateY(180deg); }
	100% {
	  -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
			  transform: perspective(100px) rotateX(0) rotateY(0); } }
	@keyframes square-spin {
	25% {
	  -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
			  transform: perspective(100px) rotateX(180deg) rotateY(0); }
	50% {
	  -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
			  transform: perspective(100px) rotateX(180deg) rotateY(180deg); }
	75% {
	  -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
			  transform: perspective(100px) rotateX(0) rotateY(180deg); }
	100% {
	  -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
			  transform: perspective(100px) rotateX(0) rotateY(0); } }
	.square-spin > div {
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
	width: 50px;
	height: 50px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
			animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite; 
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
