<div class="container-fluid no-space">
  <div class="row no-space">
    <div class="col-12 col-xl-12 no-space premium-amount-wrapper">
        <a href="javascript:void(0);" class="view-breakup" *ngIf="this.tempservice.flag['showHide']['showBreakUp']" (click)="openTotalBreakUp()">view
            total
            breakup <span><i class="icon icon-right-arrow rightcaret"></i></span></a>
      <div class="row no-space preAmount">
        <div class="d-none d-xl-block col-xl-1 no-space"></div>
        <div class="col-12 col-xl-10 premium-wrapper no-space">
          <div class="row no-space">
            <div class="d-none d-xl-block col-xl-1 no-space"></div>
            <div class="col-12 col-lg-12 no-space total-strip-wrapper">
              <div class="flex-wrapper">
                <div class="total-cover-wrapper inlinerblock">
                  <span class="total-amount-text">Total Cover amount is</span>
                  <span class="total-amount-text-bold bold-money">&#8377; {{this.premiumCalc.sumAssured}}</span>
                </div>
                <div class="foryears-wrapper inlinerblock">
                  <span>for</span>
                  <span>

                    <div class="bs-dropdown policydiv">
                      <select (change)="this.premiumCalc.onChangeDropdown($event,'policyterm')" [(ngModel)]="this.tempservice.HeartCancer_InputArr.PolicyTerm"
                        class="js-select premiumDropDown">
                        <option *ngFor="let p of this.tempservice.setPolicyTermDropdownprimary" [value]="p">
                          {{p+" years"}}
                      </select>
                    </div>
                  </span>
                  <span class="withclass">with</span>
                </div>
                <div class="total=premium-select inlinerblock">
                  <span class="totalPremium"> a Total Premium of</span>
                  <span class="bold-money">&#8377; {{this.premiumCalc.premiumAmount}}</span>
                  <span>
                    <div class="frequency">
                      <select (change)="this.premiumCalc.onChangeDropdown($event,'Frequency')" [(ngModel)]="this.tempservice.HeartCancer_InputArr.Frequency"
                        class="js-select premiumDropDown">
                        <option value="Yearly">
                          Yearly
                        </option>
                        <option value="Monthly">
                          Monthly
                        </option>
                      </select>
                    </div>
                  </span>
                  <span class="taxes" (click)="showTaxes()">incl.of taxes</span>
                </div>
              </div>
            </div>
            <div class="d-none d-xl-block col-xl-1 no-space"></div>
          </div>
        </div>
        <div class="d-none d-xl-block col-xl-1 no-space"></div>
      </div>
    </div>
  </div>
</div>

<app-popup #inclusiveOfTaxes>
  <div class="resuablepopupheader">
    <div class="spouse-header-center headerFont">
      TAX BENEFITS UNDER SECTION 80D OF THE INCOME TAX ACT, 1961
    </div>
  </div>
  <span class="resuablepopupclose">
    <i class="icon icon-close" aria-hidden="true" (click)="closeinclusiveOfTaxes()"></i>
  </span>
  <div class="resuablepopupbody">
    <table width="100%">
      <colgroup>
        <col style="width:25%">
        <col style="width:25%">
        <col style="width:25%">
        <col style="width:25%">
      </colgroup>
      <thead>
        <tr class="table-head">
          <th class="tbl-subtitle">PLAN</th>
          <th id="tbl-h" class="tbl-subtitle"><span id="npscontro">HEART COVER BASE PREMIUM</span></th>
          <th id="tbl-h" class="tbl-subtitle">CANCER COVER BASE PREMIUM</th>
          <th id="tbl-h" class="tbl-subtitle">TOTAL PREMIUM (SECTION 80D TAX BENEFIT#)</th>
        </tr>

      </thead>
      <tbody class="table-body">
        <tr id="summaryColumn1" class="panel-hide">
          <td class="tbl-data">Base Premium</td>
          <td class="tbl-data2"><span class="rupee-sign">&#8377; &nbsp;</span><span class="premiumWithoutTax">{{ this.heartWoTax }}</span></td>
          <td class="tbl-data2"><span class="rupee-sign">&#8377; &nbsp;</span><span class="premiumTax">{{ this.cancerWoTax }}</span></td>
          <td class="tbl-data2"><span class="rupee-sign">&#8377; &nbsp;</span><span class="premiumWitTax">{{ this.totalWoTax }}</span></td>
        </tr>
        <tr id="summaryColumn2" class="panel-hide">
          <td class="tbl-data">Applicable Taxes</td>
          <td class="tbl-data2"><span class="rupee-sign">&#8377; &nbsp;</span> <span class="premiumWithoutTax">{{ this.heartTax }}</span></td>
          <td class="tbl-data2"><span class="rupee-sign">&#8377; &nbsp;</span> <span class="premiumTax">{{ this.Cancertax }}</span></td>
          <td class="tbl-data2"><span class="rupee-sign">&#8377; &nbsp;</span> <span class="premiumWithTax">{{ this.totalTax }}</span></td>
        </tr>
        <tr id="summaryColumn4" class="panel-hide premiumColumn">
          <td class="tbl-data1">TOTAL PREMIUM</td>
          <td class="tbl-data1"><span class="rupee-sign">&#8377; &nbsp;</span> <span class="premiumWithoutTax1">{{ this.totalHeartValue }}</span></td>
          <td class="tbl-data1"><span class="rupee-sign">&#8377; &nbsp;</span> <span class="premiumTax1">{{ this.totolCancerValue }}</span></td>
          <td class="tbl-data1"><span class="rupee-sign">&#8377; &nbsp;</span> <span class="premiumWithTax1">{{ this.totalPremiumWithTax }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</app-popup>

<!-- Total breakup-->
<app-popup #totalbreakup>
    <div class="resuablepopupheader">
      <div class="spouse-header-center">
        TOTAL BREAKUP
      </div>
    </div>
    <span class="resuablepopupclose">
      <span class="icon icon-close" aria-hidden="true" (click)="closeTotalBreakup()"></span>
    </span>
    <div class="resuablepopupbody">
      <div class="old-wrapper">
        <div class="name-value-inliner congrats-name">
          <span>My Cover</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span class="showBreakAmount"> ₹ {{this.premiumCalc.sumAssured}} </span>
        </div>
      </div>
      <div class="old-wrapper">
        <div class="name-value-inliner congrats-name">
          <span>Spouse Cover</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span class="showBreakAmount"> ₹ {{this.premiumCalc.sumAssured}} </span>
        </div>
      </div>
      <div class="old-wrapper total-cover">
        <div class="name-value-inliner congrats-name">
          <span>Total Cover</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span class="showBreakAmount"> ₹ {{this.premiumCalc.totalSumAssuredWithSpouse}} </span>
        </div>
      </div>
      <div class="old-wrapper">
        <div class="name-value-inliner congrats-name">
          <span>Old Premium</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span class="showBreakAmount"> ₹ {{ this.oldPremium}} </span><span>{{showBreakupFrequency}}</span>
        </div>
      </div>
      <div class="old-wrapper">
        <div class="name-value-inliner congrats-name">
          <span>Discount (5%)</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span class="showBreakAmount"> ₹ {{this.discount}} </span><span>{{showBreakupFrequency}}</span>
        </div>
      </div>
      <div class="old-wrapper total-cover">
        <div class="name-value-inliner congrats-name">
          <span>New Premium</span>
        </div>
        <div class="name-value-inliner congrats-value">
          <span class="showBreakAmount"> ₹ {{this.totalcoverBreakup}} </span><span>{{showBreakupFrequency}}</span>
        </div>
      </div>
      <!-- button -->
      <div class="existing-customer-details-wrapper">
        <div>
          <button class="spouse-orange-button btn spouse-button-class existing-customer-button" (click)="totalGotIt()">
            GOT IT</button>
        </div>
      </div>
      <!-- buttons ends here -->
    </div>
  </app-popup>