.no-space {
  padding: 0;
  margin: 0;
}

.premium-amount-wrapper {
  padding: 15px 10px;
  box-shadow: 0 1px 14.85px 0.15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.flex-wrapper {
  text-align: center;
}

.total-strip-wrapper {
  font-size: 20px;
  color: #323232;
  word-spacing: 0.5px;
}

.bold-money {
  font-weight: 700;
  margin: 0 12px;
  font-size: 24px;
}

.icon {
  font-size: 16px;
}

.inlinerblock {
  display: inline-flex;
}

.totalPremium {
  margin-left: 10px;
}

.taxes {
  right: 18%;
  position: absolute;
  top: 33px;
  font-size: 10px;
  text-decoration: underline;
  color: #444;
  opacity: 0.7;
  text-align: left;
  font-weight: 700;
  cursor: pointer;
}

.ui-dropdown:not(.ui-state-disabled):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}

.premiumDropDown {
  border: none; 
  font-weight: 400;
  color: #004a80;
  font-size: 22px;
}

.rightcaret {
  font-size: 9px;
}
:host >>> .ui-dropdown {
  border: none;
  width: 119px !important;
  top: -2px;
}

:host >>> .ui-dropdown .ui-dropdown-trigger {
  border: none;
  right: 7px;
  font-size: 20px;
  color: #004a80;
  padding: 0;
}

:host >>> .ui-dropdown label.ui-dropdown-label {
  color: #004a80;
}

:host >>> .ui-dropdown-panel .ui-dropdown-list {
  padding: 0;
}

:host >>> .ui-state-highlight {
  background: #f7f7f7;
  color: #323232;
}

:host >>> .ui-dropdown.ui-state-focus {
  box-shadow: 0px 0px 0px !important;
}

table {
  border-collapse: collapse;
}

.popUpSize {
  width: 1000px !important;
}

.headerFont {
  font-size: 14px;
}

.tbl-subtitle {
  font-size: 15px;
  line-height: 26px;
}

.tbl-data1 {
  font-weight: 600;
}

.table-head {
  background: #f5f4f4;
  border-bottom: 1px dashed #dcdbdb;
}

.premiumColumn {
  background: #f5f4f4;
  border-top: 1px dashed #dcdbdb;
}

.view-breakup {
  position: absolute;
  bottom: -13%;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 1px 14.85px 0.15px rgba(0,0,0,.1);
  border-radius: 15px;
  font-size: 12px;
  color: #444;
  text-transform: uppercase;
  width: 180px;
  line-height: 22px;
  background: #fff;
  text-align: center;
}
.spouse-header-center {
  padding-left: 10%;
}
.icon {
  font-size: 14px;
}
.old-wrapper{
  margin-bottom:10px;
}
.congrats-body{
  margin-top:0px;
}
.name-value-inliner{
  display:inline-block;
}
.congrats-name{
  text-align: left;
  width:50%;
  padding-left: 10%;
}
.congrats-name:after {
  content: ":";
  position: absolute;
  right: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 10px;
}
.congrats-value{
  text-align: right;
  width:50%;
  padding-right: 10%;
}
.old-wrapper{
  margin-bottom:10px;
}
.discount-text{
  margin-bottom:30px;
}
.dottedline{
  border-top: 1px dashed #323232;
}
.remove-existing-class{
  cursor: pointer;
  margin-top:20px;
}
.total-cover{
  background: #f5f4f4;
  border-top: 1px dashed #dcdbdb;
  font-weight: 700;
  color: #323232;
  padding-top:15px;
  padding-bottom:15px;
}
.spouse-orange-button{
  color: #fff;
  background: #f5821f;
  border: 1px solid #f5821f;
  font-size: 17px;
  outline: 0px;
  -webkit-appearance:none;
  box-shadow: 3px 4px 7.36px 0.64px rgba(0,0,0,.15);
}
.spouse-button-class{
  min-width: 130px;
  padding: 6px 35px;
}

@media (min-width: 1920px) {
  .taxes {
    right: 27%;
  }
}

@media (max-width: 1330px) {
  .taxes {
    right: 16%;
  }
}

@media (max-width: 1024px) {
  .taxes {
    right: 216px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 769px) {
  .taxes {
    right: 17%;
  }
}
@media (max-width: 991px) {
  .premium-amount-wrapper {
    padding: 10px 0 25px 0px;
    box-shadow: none;
    background: #f7f7f7;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 0;
  }

  .inlinerblock {
    display: inline-flex;
  }
  .existing-customer-button{
    font-size:15px;
  }

  .premiumDropDown {
    background-color: #f7f7f7;
    font-size: 18px;
    color: #004a80;
  }

  .bold-money {
    font-weight: 700;
    margin: 0 12px;
    font-size: 20px;
  }

  .total-strip-wrapper {
    font-size: 12px;
  }

  :host >>> .ui-dropdown label.ui-dropdown-label {
    background: #f7f7f7;
  }

  :host >>> .ui-dropdown .ui-dropdown-trigger {
    background: #f7f7f7;
    font-size: 17px;
    right: 11px;
  }

  :host >>> .ui-dropdown {
    width: 90px !important;
  }

  :host >>> .ui-dropdown label.ui-dropdown-label {
    text-align: left;
    padding-left: 1px;
  }
}

@media (max-width: 768px) {
  .total-amount-text {
    vertical-align: top;
  }

  .taxes {
    right: 18%;
  }

  .premiumDropDown {
    background-color: #f7f7f7;
    font-size: 18px;
    color: #004a80;
  }

  .headerFont {
    font-size: 9px;
    line-height: 25px;
  }

  .tbl-subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .tbl-data {
    font-size: 14px;
    line-height: 23px;
  }

  .tbl-data1 {
    font-size: 14px;
    line-height: 23px;
  }
  .view-breakup {
    font-size: 11px;
  }

  .totalPremium {
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  .taxes {
    right: 363px;
    top: 100px;
  }
}

@media (max-width: 460px) {
  .taxes {
    right: 36%;
    top: 70px;
  }
}
@media (max-width: 456px) {
  .premium-amount-wrapper {
    padding: 10px 50px 25px 50px;
  }
  .premiumDropDown {
    font-size: 16px;
  }
  .bold-money {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .taxes {
    right: 35%;
    top: 72px;
  }
}
@media (max-width: 394px) {
  .premium-amount-wrapper {
    padding: 10px 40px 25px 50px;
  } 
}

@media (max-width: 375px) {
  .taxes {
    right: 35%;
  }
  .premium-amount-wrapper {
    padding: 10px 0px 25px 0px;
  } 
}

@media (max-width: 320px) {
  .taxes {
    right: 129px;
  }
  .premium-amount-wrapper {
    padding: 10px 0px 25px 0px;
  }
}
.dropdown-list {
  border: 1px solid #e3e3e3;
  background: #fff;
  text-align: left;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 101%;
  width: max-content;
  z-index: 2000;
}

@media screen and (min-width: 375px) and (max-width: 385px) { 
  .premium-amount-wrapper {
    padding: 15px 10px;
  }
}


