.lyt-calc {
	padding: 70px 0;
}
.lyt-result {
	padding-top: 66px;
}

.lyt-result .cm-title {
	margin-bottom: 30px;
}

.lyt-result .mod-result-progress {
	margin-top: 120px;
}
.cm-title {
    font-size: 36px;
    line-height: 1.5rem;
    color: #053c6d;
    position: relative;
    text-align: center;
    font-weight: 700;
}

.cm-title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -25px;
    background: #f5821f;
    width: 36px;
    height: 7px;
}

@media screen and (max-width:768px) {
	.lyt-result .mod-result-progress {
		width: 90%;
		margin: 100px auto 0;
	}
	.cm-title {
		line-height: 40px;
	}
}


.mod-result-progress .progressbar {
	width: 100%;
	max-width: 620px;
	position: relative;
	margin: 30px auto;
	text-align: center;
}

.mod-result-progress .progressbar .progress {
	width: 100%;
	height: 7px;
	background: #ededed;
	position: relative;
	border-radius: 10px;
	display: block;
	margin-top: 10px;
}

.mod-result-progress .progressbar .progress .bar {
	position: absolute;
	width: 0%;
	border-radius: 10px;
	height: 100%;
	background: #f5821f;
	left: 0;
	-webkit-transition: width 1s ease;
	-moz-transition: width 1s ease;
	-ms-transition: width 1s ease;
	-o-transition: width 1s ease;
	transition: width 1s ease;
}

.mod-result-progress .progressbar .action {
	color: #777;
}

.mod-result-progress .progressbar .action .icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: transparent url(../../../../assets/images/loader.gif) no-repeat center center;
	margin-right: 15px;
	vertical-align: top;
	background-size: contain;
}

.mod-result-progress .progressbar .action .text {
	display: inline-block;
	vertical-align: top;
	font-style: italic;
	font-size: 14px;
}

.mod-result-progress .action-completed {
	display: block;
	font-size: 0;
	width: 100%;
	max-width: 620px;
	margin: 0 auto;
}

.mod-result-progress .action-completed li {
	display: inline-block;
	width: 50%;
	text-transform: uppercase;
	color: #777;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 20px;
	opacity: 0;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}

.mod-result-progress .action-completed li:before {
	content: '';
	height: 26px;
	width: 26px;
	background: transparent url(../../../../assets/images/done.png) no-repeat center center;
	background-size: contain;
	opacity: 0;
	transition-duration: .5s;
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}

.mod-result-progress .action-completed li.done {
	opacity: 1;
}

.mod-result-progress .action-completed li.done:before {
	opacity: 1;
}

.mod-result-progress .progressbar .progress .width1 {
	width:25%;
	position: absolute;
	border-radius: 10px;
	height: 100%;
	background: #f5821f;
	left: 0;
	-webkit-transition: width 1s ease;
	-moz-transition: width 1s ease;
	-ms-transition: width 1s ease;
	-o-transition: width 1s ease;
	transition: width 1s ease;
}
.mod-result-progress .progressbar .progress .width2 {
	width:50%;
}
.mod-result-progress .progressbar .progress .width3 {
	width:75%;
}
.mod-result-progress .progressbar .progress .width4 {
	width:100%;
}
@media screen and (max-width:768px) {
	.mod-result-progress .action-completed li {
		width: 100%;
	}
}


