<div class="sticky" id="calculatorPage">
    <div @slide id="loader">
        <div class="lyt-content lyt-calc">
            <div class="lyt-result">
                <div class="cm-container">
                    <h2 class="cm-title">Fetching your application details</h2>
                    <div class="mod-result-progress">
                        <div class="progressbar">
                            <div class="action">
                                <span class="icon"></span>
                                <span class="text">{{this.showtext}}</span>
                            </div>
                            <span class="progress">
                                <span class="bar" [ngClass]="{'width1':done1,'width2':done2,'width3':done3,'width4':done4}"></span>
                            </span>
                        </div>
                        <ul class="action-completed">
                            <li class="item" [class.done]="done1">Math done</li>
                            <li class="item" [class.done]="done2">Quote updated</li>
                            <li class="item" [class.done]="done3">Benefits updated</li>
                            <li class="item" [class.done]="done4">Personal details added</li>
                        </ul>
                        <form id="heartCancerJsonForm" action="" method="POST" #heartCancerJsonForm>
                            <input type="hidden" name="bolData" id="bolData" value="" #bolData>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>