<div class="modal-overlay " (click)="closeEdit()" [ngClass]="showpanel? 'active' : 'disabled'"></div>
<div class="lyt-edit-calc " [ngClass]="showpanel? 'active' : 'disabled'" style="display: inline-block;">
    <a href="javascript:void(0)" class="edit-target d-none d-md-block" (click)="show()">
        <span class="icon icon-edit-btn"></span>
    </a>
    <div class="edit-wrap">
        <h3 class="head-title">edit your details</h3>
        <a href="javascript:void(0)" class="close-edit" (click)='closeEditCross()' [ngClass]="showpanel? 'active' : 'disabled'"><span class="icon icon-close"></span></a>
        <div class="total-strip">
            <div class="cm-container">
                <div class="total-wrap">
                    <span class="pre-text">Total Cover for yourself <span class="" *ngIf="this.tempservice.flag['showHide']['showBreakUp']">+ {{this.showContent}}</span> </span>
                    <span class="cm-line-break"></span>
                    <span class="amount">₹ {{this.premiumCalc.sumAssured}}</span>
                    <span>for</span>
                    <div class="bs-dropdown policydiv">
                        <div class="bs-select filter-dd PolicyTerm">
                            <span class="cm-icon icon-dn-arrow"></span> <select (change)="this.premiumCalc.onChangeDropdown($event,'policyterm')"
                                [(ngModel)]="this.tempservice.HeartCancer_InputArr.PolicyTerm" class="js-select">
                                <option *ngFor="let p of this.tempservice.setPolicyTermDropdownprimary" [value]="p">
                                    {{p+" years"}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="total-wrap typ-premium">
                    <span class="pre-text">Total Premium for yourself <span class="" *ngIf="this.tempservice.flag['showHide']['showBreakUp']">+ {{this.showContent}}</span></span>
                    <span class="cm-line-break"></span>
                    <span class="amount">₹ {{this.premiumCalc.premiumAmount}}<a href="javascript:void(0)" class="tax-include" (click)="showEditTaxes()">Incl. of
                            taxes</a></span>
                    <div class="bs-dropdown">
                        <div class="frequency">
                            <select (change)="this.premiumCalc.onChangeDropdown($event,'Frequency')" [(ngModel)]="this.tempservice.HeartCancer_InputArr.Frequency"
                                class="js-select">
                                <option value="Yearly">
                                    Yearly
                                </option>
                                <option value="Monthly">
                                    Monthly
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-accordian">
            <ul>
                <li class="active">
                    <h3 (click)="onClick('personalInfo')" class="accord-head">Your Information <span class="icon" [ngClass]="this.globalService.flag.editScreen.personalInfo.mainDropDown?'icon-video-down':'icon-video-up'"></span></h3>
                    <div class="accord-content" [style.display]="this.globalService.flag.editScreen.personalInfo.mainDropDown ? 'block' : 'none'">
                        <form action="" class="form-wrap">
                            <div class="form-group">
                                <label for="" class="label-control">Gender :</label>
                                <div class="bs-radio typ-sm">
                                    <input id="Male" type="radio" value="Male" name="gender-edit" required=""
                                        [(checked)]="this.tempservice.userInput['storedMale']" (change)="this.tempservice.onChangeRadio($event,'gender')">
                                    <label for="Male" class="form-label">
                                        <span class="icon-name">Male</span>
                                    </label>
                                </div>
                                <div class="bs-radio typ-sm">
                                    <input id="Female" type="radio" value="Female" name="gender-edit" required=""
                                        [(checked)]="this.tempservice.userInput['storedFemale']" (change)="this.tempservice.onChangeRadio($event,'gender')">
                                    <label for="Female" class="form-label">
                                        <span class="icon-name">Female</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dob-edit" class="label-control">Date of Birth</label>
                                <input type="tel" id="dob-edit" class="form-control autoslash edit-dob" placeholder="DD / MM / YYYY"
                                    [(ngModel)]="this.tempservice.userInput['dob']" name="dobDate" (keyup)="onKeyPress($event,'dobDate')"
                                    [textMask]="{mask:tempservice.dateMask}">
                                <label for="dobDate" class="error">{{dobErrorMsg}}</label>
                            </div>
                            <div class="form-group">
                                <label for="" class="label-control">Tobacco <span class="cm-line-break"></span>
                                    consumption</label>
                                <div class="bs-radio typ-sm">
                                    <input id="tobaco-yes" type="radio" name="tobaco-edit" required="" [(checked)]="this.tempservice.flag['TobaccoYes']"
                                        value="Yes" (change)="this.tempservice.onChangeRadio($event,'tobacco')">
                                    <label for="tobaco-yes" class="form-label">
                                        <span class="icon-name">Yes</span>
                                    </label>
                                </div>
                                <div class="bs-radio typ-sm">
                                    <input id="tobaco-no" type="radio" name="tobaco-edit" required="" [(checked)]="this.tempservice.flag['TobaccoNo']"
                                        value="No" (change)="this.tempservice.onChangeRadio($event,'tobacco')">
                                    <label for="tobaco-no" class="form-label">
                                        <span class="icon-name">No</span>
                                    </label>
                                </div>
                            </div>
                            <a href="javascript:void(0)" (click)="onClick('displayAddSpouse')" [style.display]="this.globalService.flag.editScreen.personalInfo.removeWifeCover ? 'block' : 'none'"
                                class="btn-edit add-wife-cover"><span class="icon icon-circle-plus"></span>Add cover
                                for your {{ showContent }} and get 5% off</a>

                        </form>
                    </div>
                </li>
                <li class="wife-info" [ngClass]="this.globalService.flag.editScreen.sec2active? 'active' : 'disabled'"
                    [style.display]="this.globalService.flag.editScreen.sec2 ? 'list-item' : 'none'">
                    <h3 class="accord-head" (click)="onClick('sec2')">Your  {{ showContent }} Information <span class="icon" [ngClass]="this.globalService.flag.editScreen.sec2active?'icon-video-down':'icon-video-up'"></span></h3>
                    <div class="accord-content" [style.display]="this.globalService.flag.editScreen.sec2active ? 'block' : 'none'">
                        <form action="" class="form-wrap">
                            <div class="form-group">
                                <label for="dob-edit" class="label-control">Date of Birth</label>
                                <input name="dobDate" id="dobDate" type="tel" [(ngModel)]="this.tempservice.userInput['spousedob']"
                                    class="form-control autoslash" placeholder="DD / MM / YYYY" id="edit-wife-dob"
                                    (keyup)="onKeyPress($event,'SpousedobDate')" [textMask]="{mask:tempservice.dateMask}">
                                <label for="dobDate" class="error">{{dobErrorMsg}}</label>
                            </div>
                            <div class="form-group">
                                <label for="" class="label-control">Tobacco <span class="cm-line-break"></span>
                                    consumption</label>
                                <div class="bs-radio typ-sm">
                                    <input id="Yes" type="radio" name="edit-tobacco" required="" value="Yes"
                                        [(checked)]="this.tempservice.flag['spouseTobaccoYes']" (click)="onClick('addWifeCover')"(change)="this.tempservice.onChangeRadio($event,'spouseTobacco')">
                                    <label for="Yes" class="form-label">
                                        <span class="icon-name">Yes</span>
                                    </label>
                                </div>
                                <div class="bs-radio typ-sm">
                                    <input id="No" type="radio" value="No" name="edit-tobacco" [(checked)]="this.tempservice.flag['spouseTobaccoNo']"
                                    (click)="onClick('addWifeCover')" (change)="this.tempservice.onChangeRadio($event,'spouseTobacco')">
                                    <label for="No" class="form-label">
                                        <span class="icon-name">No</span>
                                    </label>
                                </div>
                            </div>
                            <a href="javascript:void(0)" (click)="onClick('removeWifeCover')" class="btn-edit remove-wife-cover"><span
                                    class="icon icon-circle-cross"></span>Remove your  {{ showContent }} cover</a>
                        </form>
                    </div>
                </li>
                <li class="plan-details" [ngClass]="this.globalService.flag.editScreen.sec3active? 'active' : 'disabled'"
                    [style.display]="this.globalService.flag.editScreen.sec3 ? 'list-item' : 'none'">
                    <h3 class="accord-head" (click)="onClick('sec3')">Plan Details <span class="icon" [ngClass]="this.globalService.flag.editScreen.sec3active?'icon-video-down':'icon-video-up'"></span></h3>
                    <div class="accord-content" [style.display]="this.globalService.flag.editScreen.sec3active ? 'block' : 'none'">
                        <ul class="plan-list">
                            <li class="cancer-cover">
                                <h5 class="inc-dec-title" [style.opacity]="!this.globalService.flag.cover.CancerCover">cancer cover</h5>
                                <div class="disable-whole-div__cover" [hidden]="disableCancerDiv"></div>
                                <div [style.opacity]="!this.globalService.flag.cover.CancerCover?'0.2':'1'" style="width: 180px ! important;"
                                    [class.disabled]="!this.globalService.flag.cover.CancerCover">
                                    <app-plusminus Type="cancer" [sumAssured] = this.tempservice.cancerSumAssured></app-plusminus>
                                </div>
                                <span *ngIf="this.tempservice.flag['showHide']['hideRemoveCancerOption']">
                                <a (click)="onClick('addCancerCover')" class="btn typ-link btn-remove-cover" [ngClass]="this.globalService.flag.cover.CancerCover?'add':'none'"
                                    data-for=".for-cancer"><span class="icon" [ngClass]="this.globalService.flag.cover.CancerCover?'icon-circle-cross':'icon-circle-plus'"
                                        [style.color]="this.globalService.flag.cover.CancerCover?'#696969':'#f5821f'"></span></a></span>
                            </li>
                            <li class="heart-cover">
                                <h5 class="inc-dec-title" [style.opacity]="!this.globalService.flag.cover.HeartCover?'0.2':'1'">heart cover</h5>
                              <div class="disable-whole-div__cover" [hidden]="disableHeartDiv"></div>
                                <div [style.opacity]="!this.globalService.flag.cover.HeartCover?'0.2':'1'" style="width: 180px ! important;"
                                    [class.disabled]="!this.globalService.flag.cover.HeartCover">
                                    <app-plusminus Type="heart" [sumAssured] = this.tempservice.heartSumAssured></app-plusminus>
                                </div>
                                <span *ngIf="this.tempservice.flag['showHide']['hideRemoveHeartOption']">
                                <a (click)="onClick('addHeartCover')" class="btn typ-link btn-remove-cover" data-for=".for-heart"><span
                                    class="icon" [ngClass]="this.globalService.flag.cover.HeartCover?'icon-circle-cross':'icon-circle-plus'"
                                        [style.color]="this.globalService.flag.cover.HeartCover?'#696969':'#f5821f'"></span></a></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li [ngClass]="this.globalService.flag.editScreen.sec4active? 'active' : 'disabled'" [style.display]="this.globalService.flag.editScreen.sec4 ? 'list-item' : 'none'"
                    class="email-mobile">
                    <h3 class="accord-head" (click)="onClick('sec4')">Tell us about yourself <span class="icon" [ngClass]="this.globalService.flag.editScreen.sec4active?'icon-video-down':'icon-video-up'"></span></h3>
                    <div class="accord-content" [style.display]="this.globalService.flag.editScreen.sec4active ? 'block' : 'none'">
                        <form action="" class="form-wrap">
                            <div class="form-group typ-two">
                                <input type="text" class="form-control" placeholder="First Name" id="edit-fname" name="edit-fname"
                                    [(ngModel)]="this.tempservice.userInput['name']" (keyup)="onKeyUp($event,'first-name')">
                                    <label for="first-name" id="first-name-error" class="error">{{nameErrorMsg}}</label>
                            </div>
                            <div class="form-group typ-two">
                                <input type="email" class="form-control" placeholder="Email" id="edit-email" name="edit-email"
                                    [(ngModel)]="this.tempservice.userInput['email']" (keyup)="onKeyUp($event,'email')">
                                <label for="email" id="email-error" class="error">{{emailErrorMsg}}</label>
                            </div>
                            <div class="form-group typ-two">
                                <input type="tel" class="form-control" placeholder="Mobile" id="edit-mobile" name="edit-mobile"
                                    [(ngModel)]="this.tempservice.userInput['Mobile']" (keyup)="onKeyUp($event,'mobile-number')" maxlength="10">
                                    <label for="mobile-number" id="mobile-number-error" class="error">{{mobileErrorMsg}}</label>   
                            </div>
                            <div class="form-group typ-two">
                                <select name="annualPackage" required class="input-field dropDownField" id="income" 
                                placeholder="Please select your income" (change)="this.premiumCalc.onChangeDropdown($event,'annualPackage')"
                                [(ngModel)]="this.tempservice.userInput['annualPackage']">
                                    <option disabled>Please select your income</option>
                                    <option value="Up to 5 lakh">Up to 5 lakh</option>
                                    <option value="5 &#8212; 10 lakh">5 &#8212; 10 lakh</option>
                                    <option value="10 lakh and above">10 lakh and above</option>
                                </select>
                            </div>
                            <div class="form-group typ-two">
                                <input type="text" class="form-control" placeholder="pincode" id="edit-pincode" name="edit-pincode"
                                    [(ngModel)]="this.tempservice.userInput['pincode']" (keyup)="onKeyUp($event,'pincode')" maxlength="6">
                                    <label for="pincode" class="error">{{pincodeErrorMsg}}</label>
                                </div>
                        </form>
                    </div>
                </li>
                <li [ngClass]="this.globalService.flag.editScreen.sec5active? 'active' : 'disabled'" [style.display]="this.globalService.flag.editScreen.sec5 ? 'list-item' : 'none'"
                    class="additional-benefits">
                    <h3 (click)="onClick('sec5')" class="accord-head">Additional Benefits <span class="icon" [ngClass]="this.globalService.flag.editScreen.sec5active?'icon-video-down':'icon-video-up'"></span></h3>
                    <div class="accord-content" [style.display]="this.globalService.flag.editScreen.sec5active ? 'block' : 'none'">
                        <ul class="benefit-short-list">
                            <li>
                                <div class="card benefit-card" (click)="showHospBenefit()">
                                    <div class="benefit-tick" *ngIf="!this.tempservice.showHealthBenefit">
                                        <span class="bbtick" aria-hidden="true"></span>
                                    </div>
                                    <h4 class="title">Hospital Cash Benefit</h4>
                                    <span class="amt-wrap">&#8377; {{this.tempservice.HospitalCalculated}} <span>{{this.tempservice.flag['Inputfields']['showBreakupFrequency']}}</span></span>
                                </div>
                            </li>
                            <li>
                                <div class="card benefit-card" (click)="showIncrBenefit()">
                                    <div class="benefit-tick" *ngIf="!this.tempservice.showIncreasingBenefit">
                                        <span class="bbtick" aria-hidden="true"></span>
                                    </div>
                                    <h4 class="title">Increasing Cover benefit</h4>
                                    <span class="amt-wrap">&#8377; {{this.tempservice.IncreasingCalculated}} <span>{{this.tempservice.flag['Inputfields']['showBreakupFrequency']}}</span></span>
                                </div>
                            </li>
                            <li>
                                <div class="card benefit-card" (click)="showIncBenefit()">
                                    <div class="benefit-tick" *ngIf="!this.tempservice.showIncomeBenefit">
                                        <span class="bbtick" aria-hidden="true"></span>
                                    </div>
                                    <h4 class="title">Income Benefit</h4>
                                    <span class="amt-wrap">&#8377; {{this.tempservice.IncomeBenefitCalculated}}<span>{{this.tempservice.flag['Inputfields']['showBreakupFrequency']}}</span></span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<app-popup #removecancer>
    <div class="resuablepopupheader">
        <div class="spouse-header-center">
            ATTENTION
        </div>
    </div>
    <span class="resuablepopupclose">
        <i class="icon icon-close" aria-hidden="true" (click)="closeCancer()"></i>
    </span>
    <div class="resuablepopupbody">
        <div>
            <span class="spouse-body-bold">Are you sure you want to miss out on protecting yourself from risks of
                cancer?</span>
        </div>
        <div class="spouse-body-button-wrapper">
            <div class="spouse-button-wrapper">
                <div class="spouse-inliner">
                    <button class="spouse-button-class spouse-btn" (click)="cancerYes()"><span>YES</span></button>
                </div>
                <div class="spouse-inliner spouse-orange-space">
                    <button class="spouse-button-class spouse-btn spouse-orange-button" (click)="closeCancer()">
                        <span>NO</span></button>
                </div>
            </div>
        </div>
    </div>
</app-popup>

<!-- pop-up for remove heart-->
<app-popup #removeheart>
    <div class="resuablepopupheader">
        <div class="spouse-header-center">
            ATTENTION
        </div>
    </div>
    <span class="resuablepopupclose">
        <i class="icon icon-close" aria-hidden="true" (click)="closeHeart()"></i>
    </span>
    <div class="resuablepopupbody">
        <div>
            <span class="spouse-body-bold">Are you sure you want to miss out on protecting yourself from future
                heart problems?</span>
        </div>
        <div class="spouse-body-button-wrapper">
            <div class="spouse-button-wrapper">
                <div class="spouse-inliner">
                    <button class="spouse-button-class spouse-btn" (click)="heartYes()"><span>YES</span></button>
                </div>
                <div class="spouse-inliner spouse-orange-space">
                    <button class="spouse-button-class spouse-btn spouse-orange-button" (click)="closeHeart()">
                        <span>NO</span></button>
                </div>
            </div>
        </div>
    </div>
</app-popup>