.disable-whole-div__cover {
    position: absolute;
    height: 65%;
    width: 80%;
    z-index: 1000;
    opacity: 0.3%;
  }
  .icon-video-down:before {
    position: absolute;
      right: 5px;
      top: 6px;
  }
  .icon-video-up:before {
    position: absolute;
      right: 5px !important;
      top: 5px !important;
  }
  .accord-head .icon{
    position: absolute;
    right: 30px;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translateY(-50%);
    transition: transform .3s ease-in;
    transform: translateY(-50%) rotate(180deg);
  }
  
  .dropDownField {
    width: 100%;
    border: 1px solid #eaf0f4;
    border-radius: 3px;
    line-height: 34px;
    text-align: left;
    padding-left: 15px;
    box-shadow: none;
    outline: 0px;
    -webkit-appearance: none;
    font-size: 15px;
    font-weight: 500;
    color: #6a6a6a;
  }
  .bbtick:before{
    content: "";
    width: 23px;
    height: 23px;
    background: #f5821f;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0px;
    border-radius: 50%;
    line-height: 25px;
    font-size: 1.8rem;
  }
  .bbtick:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 3px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 0;
    margin: 0 auto;
  }
  
  .benefit-tick {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #f5821f;
  }
  
  .disabled {
    cursor: not-allowed;
  }
  
  .edit-dob {
    box-shadow: none;
    outline: 0px;
    -webkit-appearance: none;
    font-size: 14px;
  }
  
  .edit-target {
    background: #fff;
    box-shadow: -6px 4px 19.11px 1.89px rgba(0,0,0,.1);
    width: 55px;
    height: 95px;
    border-radius: 110px 0 0 110px;
    text-align: center;
    display: block;
    float: left;
  }
  
  .edit-icon {
    font-size: 31px;
    color: #f5821f;
    padding: 25px 20px;
  }
  
  .lyt-edit-calc .edit-wrap {
    float: left;
    width: 300px;
    background: #fff;
    height: calc(100vh - 110px);
    overflow-y: auto;
    padding-top: 55px;
  }
  
  .actived {
    transform: translateX(0);
  }
  
  .lyt-edit-calc .edit-wrap .head-title {
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
    font-size: 16px;
    font-weight: 700;
    color: #444;
    padding: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 28;
  }
  
  .lyt-edit-calc.active {
    transform: translateX(0)
  }
  
  .lyt-edit-calc .edit-target {
    float: left;
    background: #fff;
    box-shadow: -6px 4px 19.11px 1.89px rgba(0,0,0,.1);
    width: 55px;
    height: 95px;
    border-radius: 110px 0 0 110px;
    text-align: center;
    display: block;
    margin-top: 15px;
  }
  
  .lyt-edit-calc .edit-target .icon {
    font-size: 30px;
    color: #f5821f;
    line-height: 110px;
    padding-left: 15px;
  }
  
  .lyt-edit-calc .edit-wrap {
    float: left;
    width: 300px;
    background: #fff;
    height: calc(100vh - 110px);
    overflow: auto;
    padding-top: 55px
  }
  
  .edit-icon {
    font-size: 31px;
    color: #f5821f;
    padding: 25px 20px;
  }
  
  .lyt-edit-calc .edit-target .icon {
    font-size: 30px;
    color: #f5821f;
    line-height: 110px;
    padding-left: 15px;
  }
  
  .bs-select .cm-icon.icon-dn-arrow {
    position: absolute;
    right: -5px;
    top: 10px;
    width: 15px;
    height: 12px;
    background-position: center -126px
  }
  
  .bs-select .cm-icon.icon-dn-arrow:before {
    content: "";
    text-transform: lowercase;
    font-family: RHF;
    font-size: 12px;
    background-position: center -126px
  }
  
  .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: 0
  }
  
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: center;
    padding: 0;
    font-size: 18px;
    color: #b02a30;
    text-align: left
  }
  
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
    right: -25px;
    color: #6a6a6a
  }
  
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    position: absolute;
    right: 0;
    top: 10px;
    width: 15px;
    height: 12px;
    background-position: center -126px;
    margin-top: -4px;
    border-width: 0
  }
  
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0;
    transition: all .5s ease
  }
  
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
    text-transform: lowercase;
    font-size: 12px
  }
  
  .select2-dropdown {
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 13px 0 #ebebeb;
    -moz-box-shadow: 0 0 13px 0 #ebebeb;
    box-shadow: 0 0 13px 0 #ebebeb
  }
  
  .select2-dropdown .select2-results__options .select2-results__option {
    border-bottom: 1px solid #ecebeb;
    font-size: 12px;
    padding: 10px 15px;
    color: #6a6a6a;
    text-align: left
  }
  
  .select2-dropdown .select2-results__options .select2-results__option:last-child {
    border-bottom: 0
  }
  
  .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted[aria-selected] {
    background-color: #b02a30;
    color: #fff
  }
  
  .tooltipster-default {
    background: #aaa;
    border: 0
  }
  
  .tooltipster-default .tooltipster-content {
    padding: 14px 12px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-align: center
  }
  
  .tooltipster-arrow-top .tooltipster-arrow-border {
    border: 0
  }
  
  .plyr__video-embed {
    padding: 0;
    height: 500px
  }
  
  @media(max-width: 768px) {
    .plyr__video-embed {
        height:230px
    }
  }
  
  .ui-widget {
    width: 600px!important
  }
  
  .ui-widget td {
    transition: all .6s ease-in .6s
  }
  
  
  
  .favicon{
    font-size: 2rem;
    color: #f5821f ;
    line-height: 96px;
    padding-left: 15px;
  }
  
  a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
  }
  
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
  }
  
  body {
    line-height: 1
  }
  
  ol,ul {
    list-style: none
  }
  
  blockquote,q {
    quotes: none
  }
  
  blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0
  }
  
  * {
    outline: 0;
    box-sizing: border-box
  }
  
  html {
    font-size: 10px
  }
  
  body {
    background: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: 400
  }
  
  body.bodyscroll {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed
  }
  
  p {
    line-height: 2.7rem;
    font-size: 1.8rem
  }
  
  a,a:active,a:focus,a:hover {
    color: #004b7c;
    text-decoration: none;
    outline: 0
  }
  
  button:active,button:focus {
    outline: 0
  }
  
  li,ul {
    list-style: none;
    margin: 0;
    padding: 0
  }
  
  img {
    max-width: 100%
  }
  
  sup {
    font-size: 13px;
    line-height: 22px;
    color: #444;
    font-weight: 400
  }
  
  .fa-inr:before,.fa-rupee:before {
    content: ""
  }
  
  @media(max-width: 769px) {
    html {
      position:relative
    }
  
    p {
      font-size: 1.4rem;
      line-height: 2rem
    }
  }
  
  .cm-container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative
  }
  
  .cm-not-in-page {
    left: -99999px;
    position: absolute;
    top: -99999px
  }
  
  .cm-line-break {
    display: block
  }
  
  .cm-visible-xs {
    display: none!important
  }
  
  .cm-visible-md {
    display: block
  }
  
  .cm-bold {
    font-weight: 700
  }
  
  .cm-hidden {
    display: none
  }
  
  .cm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 201;
    display: none;
    overflow: hidden;
    background: rgba(0,0,0,.7);
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
  }
  
  .cm-overlay.active {
    display: block
  }
  
  .cm-error,.error {
    font-size: 11px;
    line-height: 14px;
    color: red;
    margin-top: 6px;
    text-transform: capitalize;
    display: block
  }
  
  .cm-title {
    font-size: 3.6rem;
    line-height: 4rem;
    color: #053c6d;
    position: relative;
    text-align: center;
    font-weight: 700
  }
  
  .cm-title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -15px;
    background: #f5821f;
    width: 36px;
    height: 7px
  }
  
  @media(max-width: 769px) {
    .cm-title {
        font-size:2rem;
        line-height: 3.5rem
    }
  
    .cm-container {
        width: auto
    }
  
    .cm-visible-xs {
        display: block!important
    }
  
    .cm-visible-md {
        display: none!important
    }
  }
  
  @media(max-width: 1025px)and (min-width:769px) {
    .cm-container {
        padding:0 20px
    }
  }
  
  .btn {
    border: 0;
    border-radius: 3px;
    padding: 14px 10px;
    background: #fff;
    color: #323232;
    font-weight: 600;
    font-size: 18px;
    min-width: 285px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #323232;
    cursor: pointer;
    box-shadow: 3px 4px 7.36px .64px rgba(0,0,0,.15)
  }
  
  .btn.typ-anime {
    box-shadow: 2px 2px #f5821f;
    transition: all .2s
  }
  
  .btn.typ-anime:hover {
    transform: translate(-2px,-2px);
    box-shadow: 4px 4px #f5821f
  }
  
  .btn.typ-primary {
    color: #fff;
    background: #f5821f;
    border: 1px solid #f5821f
  }
  
  .btn.typ-link {
    background: 0 0;
    border: 0;
    color: #323232;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    padding: 0;
    box-shadow: none
  }
  
  .btn.typ-sm {
    padding: 2px 10px;
    min-width: 60px
  }
  
  .btn.typ-border {
    color: #b32832;
    background: #fff;
    border: 2px solid #b32832;
    transition: all .2s;
    box-shadow: 2px 2px #004b7c
  }
  
  .btn.typ-border:hover {
    transform: translate(-2px,-2px);
    box-shadow: 4px 4px #004b7c
  }
  
  @media screen and (max-width: 768px) {
    .btn {
      font-size:15px;
      min-width: 0;
      padding: 12px
    }
  }
  
  .form-group * {
    box-sizing: border-box
  }
  
  .form-group .form-control {
    font-size: 16px;
    line-height: 2.5rem;
    font-weight: 500;
    color: #6a6a6a;
    border: 0;
    border-bottom: 1px solid #eaf0f4;
    text-align: center
  }
  
  .form-group .form-control:focus {
    outline: 0
  }
  
  .form-group .form-control::-webkit-input-placeholder {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-align: center;
    color: #aaa;
    text-transform: capitalize
  }
  
  .form-group .form-control::-moz-placeholder {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-align: center;
    color: #aaa;
    text-transform: capitalize
  }
  
  .form-group .form-control:-ms-input-placeholder {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-align: center;
    color: #aaa;
    text-transform: capitalize
  }
  
  .form-group .form-control:-moz-placeholder {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-align: center;
    color: #aaa;
    text-transform: capitalize
  }
  
  .form-group .form-control.highlight {
    border-color: red
  }
  
  .form-group.typ-bg .form-control {
    border: 0;
    border-bottom: 1px solid #f5f6ee;
    background: 0 0;
    font-size: 16px;
    color: #6a6a6a;
    padding: 6px;
    font-weight: 400;
    border-radius: 0;
    width: 100%
  }
  
  .form-group.typ-bg .form-control.highlight {
    border-color: red
  }
  
  .form-group.typ-bg .form-control#ageDate,.form-group.typ-bg .form-control#datepicker {
    width: 171px;
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 43px;
    border-bottom-color: #004a80
  }
  
  .form-group.error-fld .form-control {
    border: solid 1px #a02020
  }
  
  .form-group.error-fld .error {
    font-size: 12px;
    margin-top: 5px;
    display: block;
    line-height: 18px;
    padding: 0 10px;
    color: #a02020
  }
  
  .form-group-wrap {
    padding: 20px;
    margin: 10px 0
  }
  
  .form-group-wrap.typ-center .cm-info-msg-grey {
    margin-bottom: 25px
  }
  
  .form-group-wrap.typ-center .form-group {
    margin-bottom: 25px
  }
  
  .form-group-wrap.typ-center .form-group .form-label {
    text-align: center;
    display: block;
    color: #004b7c;
    margin-bottom: 15px
  }
  
  input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
  }
  
  input[type=number] {
    -moz-appearance: textfield
  }
  
  
  .modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: -1;
    opacity: 0;
    transition: opacity 0s ease-in
  }
  
  .modal-overlay.active {
    opacity: 1;
    z-index: 25;
    transition-duration: .5s
  }
  .bs-radio {
    position: relative;
    margin: 0 auto;
    padding: 0
  }
  
  .bs-radio input[type=radio] {
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0
  }
  
  .bs-radio input[type=radio]+.form-label {
    display: inline-block;
    cursor: pointer;
    padding: 8px 25px;
    font-size: 18px;
    color: #6a6a6a;
    margin-left: 0;
    position: relative;
    z-index: 1;
    border-radius: 20px
  }
  
  .bs-radio input[type=radio]+.form-label .icon-name {
    font-size: 16px;
    color: #004b7c;
    text-align: center;
    display: block;
    font-weight: 700;
    margin-bottom: 10px
  }
  
  .bs-radio input[type=radio]+.form-label .icon-check {
    height: 29px;
    width: 29px;
    background-position: center bottom;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    margin: 0 auto
  }
  
  .bs-radio input[type=radio]:checked+.form-label .icon-check {
    height: 29px;
    width: 29px;
    border-radius: 50%;
    background-position: center 0;
    margin-top: 10px
  }
  
  .bs-radio input[type=radio]:checked+.form-label .quote-icon.icon-male {
    background-position: -20px -621px
  }
  
  .bs-radio input[type=radio]:checked+.form-label .quote-icon.icon-female {
    background-position: -20px -951px
  }
  
  .bs-radio input[type=radio]:checked+.form-label .quote-icon.icon-smoker {
    background-position: -20px -415px
  }
  
  .bs-radio input[type=radio]:checked+.form-label .quote-icon.icon-non-smoker {
    background-position: -20px -518px
  }
  
  .bs-radio .btn-chkout {
    padding: 6px 12px;
    border-radius: 3px;
    color: #fff;
    margin: 12px auto;
    width: 126px;
    position: relative;
    z-index: 4;
    display: none;
    transition: all .8s ease .3s;
    display: none
  }
  
  .bs-radio .btn-icon-text .cm-icon {
    position: absolute;
    right: 10px;
    top: 6px
  }
  
  .bs-radio.typ-sm input[type=radio]+.form-label {
    padding-left: 40px
  }
  
  .bs-radio.typ-sm input[type=radio]+.form-label .icon-name {
    color: #323232;
    opacity: .75
  }
  
  .bs-radio.typ-sm input[type=radio]+.form-label:before {
    content: "";
    width: 25px;
    height: 25px;
    border: 1px solid #a3a3a3;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%
  }
  
  .bs-radio.typ-sm input[type=radio]:checked+.form-label .icon-name {
    opacity: 1
  }
  
  .bs-radio.typ-sm input[type=radio]:checked+.form-label:before {
    background: #f5821f;
    border-color: #f5821f
  }
  
  .bs-radio.typ-sm input[type=radio]:checked+.form-label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 5px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg)
  }
  
  @media(max-width: 769px) {
    .bs-radio input[type=radio]+.form-label .quote-icon {
        display:none
    }
  }
  
  .bs-grid .grid-item {
    width: 50%;
    float: left
  }
  
  .table-title {
    font-size: 14px;
    line-height: 16px;
    color: #6a6a6a;
    padding: 20px;
    display: block
  }
  
  .bs-dropdown {
    position: relative;
    display: inline-block
  }
  
  .bs-dropdown .target {
    font-size: 0.9rem;
    font-weight: 400;
    color: #004a80
  }
  
  .bs-dropdown .target .icon {
    margin-left: 3px
  }
  
  .bs-dropdown .dropdown-list {
    border: 1px solid #e3e3e3;
    background: #fff;
    text-align: left;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 101%;
    display: none;
    width: max-content;
    z-index: 2
  }
  
  .bs-dropdown .dropdown-list li {
    border-bottom: 1px solid #e3e3e3;
    padding: 8px 18px;
    margin: 0
  }
  
  .bs-dropdown .dropdown-list li a {
    text-transform: capitalize
  }
  
  .bs-dropdown .dropdown-list li:hover {
    background: #f5821f;
    color: #fff;
    text-transform: capitalize
  }
  
  .bs-dropdown .dropdown-list li:hover a {
    color: #fff
  }
  
  .bs-accordian ul li {
    padding: 0 20px;
    border-bottom: 1px solid #e5e5e5
  }
  
  .bs-accordian ul li .accord-head {
    cursor: pointer;
    font-size: 16px;
    line-height: 1rem;
    font-weight: 700;
    color: #323232;
    position: relative;
    padding: 30px 0;
  }
  
  .bs-accordian ul li .accord-head .icon {
    position: absolute;
    right: 30px;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translateY(-50%);
    transition: transform .3s ease-in
  }
  
  .bs-accordian ul li .accord-content {
    padding-bottom: 30px;
    display: none
  }
  
  .bs-accordian ul li .accord-content p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #444;
    opacity: .85
  }

  @media(max-width: 769px) {
    .bs-accordian ul li {
        padding:0
    }
  
    .bs-accordian ul li .accord-head {
        font-size: 16px;
        padding: 20px 50px 20px 0;
    }
  
    .bs-accordian ul li .accord-content p {
        font-size: 1.2rem;
        line-height: 2rem
    }
  }
  :host ::ng-deep .mod-inc-dec {
    width: 180px ! important;
    margin: 0 ! important;
    border-radius: 23px;
  }
  .mod-inc-dec .input-group {
    position: relative;
    display: table
  }
  
  .mod-inc-dec .input-group-btn {
    position: relative;
    vertical-align: middle;
    display: table-cell;
  }
  
  :host ::ng-deep .mod-inc-dec .input-group-btn .btn{
    width:43px !important;
    }
  
  u .mod-inc-dec .input-group-btn .btn {
    padding: 0;
    text-indent: -99999px;
    min-width: 0;
    padding: 10px;
    border: 1px solid #f5821f;
    border-radius: 23px;
    height: 32px;
    background: 0 0;
    position: relative;
    box-shadow: none;
  }
  
  .mod-inc-dec .input-group-btn .btn:before {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    text-indent: 0;
    color: #f5821f
  }
  
  .mod-inc-dec .input-group-btn:first-child>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
  }
  
  .mod-inc-dec .input-group-btn:last-child>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
  }
  
  :host ::ng-deep .mod-inc-dec .form-control {
    border: 0 solid #d9d9d9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
    font-size: 20px;
    padding: 4px 5px;
    color: #004b7c;
    font-weight: 700;
    text-align: center;
    width: 80px ! important;
    height: 38px
  }
  
  .mod-inc-dec .form-control.inc-dec-val-words {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    margin: 0 auto;
    background: #fff;
    font-size: 16px;
    color: #444;
    display: block
  }
  
  @media screen and (max-width: 768px) {
    .mod-inc-dec {
        width:190px
    }
  
    .mod-inc-dec .form-control {
        font-size: 14px;
        width: 90px;
        height: 30px
    }
  
    :host ::ng-deep .mod-inc-dec .input-group-btn .btn {
        width: 40px !important;
        height: 29px;
        min-width: 0
    }
    :host ::ng-deep .mod-inc-dec {
      width: 180px ! important;
      margin: 0 ! important;
      border-radius: 23px;
    }
  }
  .lyt-edit-calc {
    display: none;
    position: fixed;
    right:0;
    bottom: 0;
    z-index: 25;
    transform: translateX(300px);
    transition: transform .3s ease-in;
    padding: 0
  }
  
  .lyt-edit-calc.active {
    transform: translateX(0)
  }
  
  .lyt-edit-calc .bs-dropdown .target .value {
    font-size: 1.2rem;
    margin-left: 2px
  }
  
  .lyt-edit-calc .bs-dropdown .target .icon {
    margin-left: 0
  }
  
  .lyt-edit-calc .edit-target {
    float: left;
    background: #fff;
    box-shadow: -6px 4px 19.11px 1.89px rgba(0,0,0,.1);
    width: 55px;
    height: 95px;
    border-radius: 110px 0 0 110px;
    text-align: center;
    display: block;
    margin-top: 15px
  }
  
  .lyt-edit-calc .edit-wrap {
    float: left;
    width: 300px;
    background: #fff;
    height: calc(100vh - 110px);
    overflow-y: auto;
    padding-top: 55px
  }
  
  .lyt-edit-calc .edit-wrap .head-title {
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
    font-size: 0.9rem;
    font-weight: 700;
    color: #444;
    padding: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 28;
  }
  
  .lyt-edit-calc .edit-wrap .close-edit {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 30
  }
  
  .lyt-edit-calc .edit-wrap .total-strip {
    padding: 20px;
    background: #e0ebf9;
  }
  
  .lyt-edit-calc .edit-wrap .total-strip .total-wrap:first-child {
    margin-bottom: 5%;
  }
  
  .lyt-edit-calc .edit-wrap .total-strip .total-wrap span {
    font-size: 12px;
    line-height: 1rem;
    color: #323232;
  }
  
  .lyt-edit-calc .edit-wrap .total-strip .total-wrap span.amount {
    font-weight: 700;
    font-size: 1rem;
    margin-right: 4px;
  }
  
  .lyt-edit-calc .edit-wrap .total-strip .total-wrap span.amount .tax-include {
    position: absolute;
    bottom: -10px;
    font-size: 10px;
    left: 0;
    text-decoration: none;
    color: #444;
    opacity: .7;
    width: 100px;
    text-align: left;
    cursor: pointer;
  }
  
  .lyt-edit-calc .edit-wrap .total-strip .total-wrap span.value {
    font-size: 0.9rem;
    color: #004a80;
  }
  
  .lyt-edit-calc .edit-wrap .total-strip .total-wrap span.icon {
    font-size: 1rem;
    color: #004a80;
  }
  
  .lyt-edit-calc .edit-wrap .total-strip .total-wrap span.spouse {
    display: none;
  }
  
  .lyt-edit-calc .edit-wrap .bs-accordian>ul>li {
    display: none;
  }
  
  .lyt-edit-calc .edit-wrap .bs-accordian>ul>li .accord-head {
    padding: 20px 0;
  }
  
  .lyt-edit-calc .edit-wrap .bs-accordian>ul>li .accord-head .icon {
    border: 1px solid #ababab;
    border-radius: 50%;
    font-size: 9px;
    width: 15px;
    height: 15px;
    padding: 10px;
    position: absolute;
    right: 0;
    color: #ababab;
  }
  
  .lyt-edit-calc .edit-wrap .bs-accordian>ul>li .accord-head .icon:before {
    position: absolute;
    right: 5px;
    top: 6px;
  }
  
  .lyt-edit-calc .edit-wrap .bs-accordian>ul>li:first-child {
    display: block;
  }
  
  .lyt-edit-calc .edit-wrap .bs-accordian>ul>li .plan-list li {
    border: none;
    padding: 0px 0;
    position: relative;
  }
  
  .lyt-edit-calc .edit-wrap .bs-accordian>ul>li .plan-list li.inactive:before {
    content: "";
    left: 0;
    top: 0;
    width: 180px;
    height: 100%;
    background: rgba(250,255,255,.6);
    position: absolute;
    z-index: 25;
  }
  
  .lyt-edit-calc .edit-wrap .bs-accordian>ul>li .plan-list li .inc-dec-title {
    font-size: 0.98rem;
    line-height: 2.5rem;
    padding-right: 94px;
    color: #323232;
    text-transform: uppercase;
  }
  
  .lyt-edit-calc .edit-wrap .bs-accordian>ul>li .plan-list li .mod-inc-dec {
    margin: 10px 0;
    width: 170px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .lyt-edit-calc .edit-wrap .bs-accordian>ul>li .plan-list li .btn.typ-link {
    display: inline-block;
    vertical-align: middle;
    min-width: 0;
    width: 20px;
    margin-left: 20px;
    font-size: 2rem;
    color: #696969;
    width: 0px !important;
    margin-top: -4pc !important;
    margin-left: 83% !important;
    font-size: 1.3rem;
  }
  
  .lyt-edit-calc .edit-wrap .bs-accordian>ul>li .plan-list li .btn.typ-link.add {
    color: #f5821f;
  }
  
  .lyt-edit-calc .edit-wrap .form-wrap .form-group {
    margin-bottom: 20px;
  }
  
  .lyt-edit-calc .edit-wrap .form-wrap .form-group .label-control {
    display: inline-block;
    color: #323232;
    opacity: .7;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
  }
  
  .lyt-edit-calc .edit-wrap .form-wrap .form-group .form-control {
    display: inline-block;
    width: 130px;
  }
  
  .lyt-edit-calc .edit-wrap .form-wrap .form-group.typ-two .form-control {
    width: 100%;
    border: 1px solid #eaf0f4;
    border-radius: 3px;
    text-align: left;
    padding-left: 15px;
    box-shadow: none;
    outline: 0px;
    -webkit-appearance: none;
  }
  
  .lyt-edit-calc .edit-wrap .bs-radio.typ-sm {
    display: inline-block;
    vertical-align: top
  }
  
  .lyt-edit-calc .edit-wrap .bs-radio.typ-sm input[type=radio]:not(old)+.form-label {
    padding: 0px 10px 0 27px
  }
  
  .lyt-edit-calc .edit-wrap .bs-radio.typ-sm input[type=radio]:not(old)+.form-label .icon-name {
    font-size: 0.78rem
  }
  
  .lyt-edit-calc .edit-wrap .bs-radio.typ-sm input[type=radio]:not(old)+.form-label:before {
    width: 20px;
    height: 20px
  }
  
  .lyt-edit-calc .edit-wrap .bs-radio.typ-sm input[type=radio]:not(old):checked+.form-label:after {
    top: 4px;
    left: 8px;
    width: 4px;
    height: 10px
  }
  
  .lyt-edit-calc .edit-wrap .btn-edit {
    background: #eaeaea;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
    color: #323232;
    padding: 10px 5px;
    display: block;
    text-align: center
  }
  input,
  input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 3;
  }
  
  .lyt-edit-calc .edit-wrap .btn-edit .icon {
    color: #f5821f;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle
  }
  
  .lyt-edit-calc .edit-wrap .btn-edit.remove-wife-cover .icon {
    color: #696969
  }
  
  .lyt-edit-calc .edit-wrap .benefit-short-list li {
    border-bottom: 0
  }
  
  .lyt-edit-calc .edit-wrap .benefit-short-list li .benefit-card {
    cursor: pointer;
    border: 1px solid #c9c9c9;
    padding: 10px 22px;
    text-align: left;
    position: relative;
    margin-bottom: 12px;
  }
  
  .lyt-edit-calc .edit-wrap .benefit-short-list li .benefit-card.active:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: #f5821f;
    border-radius: 50%
  }
  
  .lyt-edit-calc .edit-wrap .benefit-short-list li .benefit-card.active:after {
    content: "";
    position: absolute;
    top: 45%;
    left: -7px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translateY(-50%)
  }
  
  .lyt-edit-calc .edit-wrap .benefit-short-list li .benefit-card .title {
    font-size: 12px;
    color: #444;
    text-transform: capitalize;
    text-align: left;
    border: none;
    padding: 0 0 10px 0;
  }
  
  .lyt-edit-calc .edit-wrap .benefit-short-list li .benefit-card .amt-wrap {
    font-size: 24px;
    color: #000
  }
  
  .lyt-edit-calc .edit-wrap .benefit-short-list li .benefit-card .amt-wrap span {
    font-size: 14px;
    line-height: 30px;
    color: #444;
    opacity: .7
  }
  
  .lyt-edit-calc .mod-inc-dec .form-control {
    width: 90px;
    height: 30px
  }
  
  .lyt-edit-calc .mod-inc-dec .input-group-btn .btn {
    width: 40px;
    height: 30px
  }
  
  .lyt-edit-calc .mod-inc-dec .input-group-btn .btn:before {
    font-size: 1.2rem
  }
  
  @media(max-width: 769px) {
    .lyt-edit-calc .edit-target {
        display:none;
        width: 45px;
        height: 61px;
        margin-top: 0px;
    }
    .lyt-edit-calc .edit-target .icon {
    font-size: 20px;
      color: #f5821f;
      line-height: 66px;
      padding-left: 10px;
    }
  
    .lyt-edit-calc .edit-wrap .bs-accordian ul li {
        padding: 0 20px;
    }
    .lyt-edit-calc .edit-wrap .form-wrap .form-group .form-control {
      font-size: 12px;
    }
  }
  
  /*pop up*/
  
  .spouse-body-bold{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #323232;
  }
  .spouse-body-button-wrapper{
    margin-top:20px;
  }
  .spouse-inliner{
    display: inline-block;
  }
  .spouse-button-class{
    min-width: 130px;
    padding: 6px 25px;
  }
  .spouse-btn{
    border-radius: 3px;
    background: #fff;
    color: #323232;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #323232;
    cursor: pointer;
    box-shadow: 3px 4px 7.36px 0.64px rgba(0,0,0,.15);
  
  }
  .spouse-orange-button{
    color: #fff;
    background: #f5821f;
    border: 1px solid #f5821f;
  }
  .spouse-orange-space{
    padding-left:20px;
  }
  
  @media (max-width: 991px) {
    .spouse-body-bold{
      font-size: 12px;
      line-height: 18px;
    }
  
    .spouse-button-class {
      padding: 8px 15px;
    }
  
    .spouse-btn{
      font-size:15px;
    }
  }
  
  @media (max-width: 320px) {
    .cancer-heart-cover-text {
      font-size: 9px;
    }
  
    .nopadding{
      padding-right:0px;
      padding-left:0px;
    }
  
    .spouse-inliner{
      display: block;
    }
  
    .spouse-orange-space{
      padding-left:0;
      padding-top:20px;
    }
  }
  
  .bs-select {
    position: relative;
    width: auto;
    float: left;
    padding-right: 15px;
    margin: 1px 0 0 22px; 
  }
  
  .bs-select .cm-icon.icon-dn-arrow:before {
    content: "";
    text-transform: lowercase;
    font-family: "RHF";
    font-size: 12px;
    background: url(/assets/images/spriteP.png) no-repeat;
    background-position: center -126px;
  }
  
  .bs-select .cm-icon.icon-dn-arrow {
    position: absolute;
    right: -5px;
    top: 10px;
    width: 15px;
    height: 12px;
    background: url("/assets/images/spriteP.png") no-repeat;
    background-position: center -126px;
    display: none;
  }
  
  
  .PolicyTerm select {
    border: none;
    box-shadow: 0 0 10px #E8E8E8 inset;
    background-color: #e0ebf9;
    font-size: 16px;
  }
  
  .PolicyTerm {
    margin: 0px !important;
  }
  
  .frequency select{
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #E8E8E8 inset;
    background-color: #e0ebf9;
    font-size: 16px;
  }
  
  .policydiv{
    position: absolute;
    display: inline;
  }