<div snInViewport (inViewportChange)="action($event)">
    <div class="container-fluid lyt-spl-discount dontScroll" *ngIf="show">
        <div class="col-xl-10 offset-xl-1 col-lg-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-sm-12">
                    <h2 class="cm-title">Special Discounts</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-12 benefitCard">
                    <ul class="benefit-list">
                        <li>
                            <span class="offer-highlight"><span class="discount">5%</span><span class="discountSection">OFF</span></span>
                            <div class="offer-text">
                                <h3>Benefit For Couples`</h3>
                                <p>Buy a cover for your wife/husband and get 5% discount on combined premium</p>
                            </div>
                        </li>
                        <li>
                            <span class="offer-highlight"><span class="discount">5%</span><span class="discountSection">OFF</span></span>
                            <div class="offer-text">
                                <h3>Existing customer discount</h3>
                                <p>5% loyalty discount on premium<sup>*</sup> for all existing customers.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
