.lyt-spl-discount {
  padding: 40px 0;
  border-bottom: 1px solid #e5e5e5;
}
.cm-title {
  font-size: 36px;
  line-height: 2.5rem;
  color: #053c6d;
  position: relative;
  text-align: center;
  font-weight: 700;
}
.cm-title:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -8px;
  background: #f5821f;
  width: 36px;
  height: 7px;
}
.benefit-wrap {
  float: left;
}
.lyt-spl-discount .benefit-list {
  margin-top: 35px;
}
.lyt-spl-discount .benefit-list li {
  display: inline-block;
  width: 50%;
  padding-left: 40px;
}
.lyt-spl-discount .benefit-list li:first-child {
  border-right: 1px solid #d9d9d9;
  padding-left: 0;
}
.lyt-spl-discount .benefit-list li .offer-highlight {
  display: inline-block;
  font-size: 55px;
  line-height: 40px;
  font-weight: 200;
  padding-right: 50px;
  vertical-align: top;
}
.lyt-spl-discount .benefit-list li .offer-highlight .discount {
  font-weight: 700;
  line-height: 80px;
  display: block;
  font-size: 70px;
  color: black;
}
.lyt-spl-discount .benefit-list li .offer-text {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  padding-top: 5px;
}
.lyt-spl-discount .benefit-list li .offer-text h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  padding-bottom: 15px;
  color: rgb(26, 19, 19);
}
.lyt-spl-discount .benefit-list li .offer-text p {
  font-size: 18px;
  line-height: 26px;
  color: #505050;
}
.lyt-spl-discount .benefit-list li .offer-highlight .discountSection {
  display: block;
  font-size: 50px;
  color: black;
}
@media (min-width: 1920px) {
  .benefitCard {
    padding: 0px 15%;
  }
}
@media (max-width: 1440px) {
  .lyt-spl-discount .benefit-list li .offer-text h3 {
    font-size: 21px;
  }
  .lyt-spl-discount .benefit-list li .offer-text p {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .lyt-spl-discount .benefit-list li .offer-text h3 {
    padding-bottom: 5px;
  }

  .lyt-spl-discount .benefit-list li .offer-text p {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .lyt-spl-discount {
    padding: 40px 20px;
  }

  .lyt-spl-discount .benefit-list {
    padding: 0;
    margin-top: 40px;
  }

  .lyt-spl-discount .benefit-list li {
    width: 100%;
    padding-left: 0;
  }

  .lyt-spl-discount .benefit-list li:first-child {
    border-right: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .lyt-spl-discount .benefit-list li .offer-highlight {
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
    opacity: 0.6;
    font-size: 30px;
    line-height: 0px;
  }

  .lyt-spl-discount .benefit-list li .offer-highlight .discount {
    font-size: 40px;
    line-height: 75px;
  }

  .lyt-spl-discount .benefit-list li .offer-text {
    display: inline-block;
    vertical-align: top;
    width: 68%;
  }

  .lyt-spl-discount .benefit-list li .offer-text h3 {
    font-size: 15px;
    padding-bottom: 0px;
  }
  .lyt-spl-discount .benefit-list li .offer-text p {
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    padding-top: 10px;
  }
  .cm-title {
    font-size: 24px;
    line-height: 30px;
  }
  .lyt-spl-discount .benefit-list li .offer-highlight .discountSection {
    display: block;
    font-size: 30px;
    color: black;
  }
}
@media (max-width: 376px) {
  .cm-title {
    font-size: 20px;
  }
  .lyt-spl-discount .benefit-list li .offer-highlight .discount {
    font-size: 46px;
  }
  .lyt-spl-discount .benefit-list li .offer-text h3 {
    font-size: 16px;
    padding-bottom: 0px;
  }
  .lyt-spl-discount .benefit-list li .offer-text p {
    font-size: 14px;
  }
}
@media (max-width: 370px) {
  .lyt-spl-discount .benefit-list li .offer-text {
    width: 60%;
  }
}

@media (max-width: 321px) {
  .cm-title {
    font-size: 18px;
  }
  .lyt-spl-discount .benefit-list li .offer-highlight {
    padding-right: 20px;
    font-size: 24px;
  }
  .lyt-spl-discount .benefit-list li .offer-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .lyt-spl-discount .benefit-list li .offer-highlight .discount {
    font-size: 35px;
    line-height: 65px;
  }
  .lyt-spl-discount .benefit-list li .offer-text h3 {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 0px;
  }
}