<div class="container-fluid protected">
  <div class="col-xl-10 offset-xl-1 col-lg-12 col-12 protectedPadding">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12 sec-head bottomMargin">
        <h2 class="sec-title videoTitle">
          <span class="cm-line-break">
            <span class="divider"></span>
            Watch Our Film<span class="divider">
            </span>
          </span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="success-video">
          <video class="hidden-xs vDimension" controls="">
            <source src="https://www.iciciprulife.com/content/dam/icicipru/videos/ads/Well-wisher.mp4"
              type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;">
            Your browser does not support the video.
          </video>
        </div>
      </div>
    </div>
  </div>
</div>