.protected {
    padding: 70px 0;
}

video {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 25%;
}
.vDimension{
    width: 50%;
    height: 500px;
}
.bottomMargin {
    margin-bottom: 0px !important;
}

@media (max-width: 768px) {
    .vDimension{
        width: 60%;
        height: 400px;
    }
    video {
        display: inline-block;
        vertical-align: baseline;
        margin-left: 20%;
    }   
}
@media (max-width: 767px) {
    .vDimension{
        width: 75%;
        height: 240px;
    }
    video {
        display: inline-block;
        vertical-align: baseline;
        margin-left: 14%;
    }
    .videoTitle {
        font-size: 21px;
    }
}
