.no-space {
  padding: 0;
  margin: 0;
}
.benefit-card {
  min-height: 238px;
  border: 2px solid #d9d9d9;
}
.benefit-header {
  font-size: 14px;
  font-weight: 600;
  background: #f8f8f9;
  color: #323232;
  padding: 12px 22px;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
}
.benefit-icon {
  width: 30px;
}
.benefit-icon-wrapper {
  display: inline-block !important;
}
.benefit-header-text {
  padding-left: 10px;
}
.what-this {
  display: block;
  font-size: 11px;
  color: #004a80;
  text-decoration: underline;
  padding-top: 5px;
}
.add-wrapper {
  padding: 12px 22px;
  display: inline-block;
}
.amount-duration-wrapper {
  display: inline-block;
}
.amount {
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
}
.duration {
  font-size: 12px;
  font-weight: 400;
  color: #444;
  opacity: 0.8;
  padding-left: 10px;
}
.benefit-btn {
  display: block;
  background: 0 0;
  border: 1px solid #f5821f;
  color: #f5821f;
  min-width: 0;
  padding: 1px 20px;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 400;
  box-shadow: none;
  cursor: pointer;
  float: right;
}
.benefit-btn-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  font-size: 17px;
}
.plus-icon {
  font-size: 14px;
  position: relative;
}
.benefit-description {
  font-size: 12px;
  line-height: 18px;
  color: #777;
  border-top: 1px solid #d9d9d9;
  padding: 12px 22px 20px;
  text-align: left;
}
.mobile-button-wrapper {
  display: block;
  border: 0;
  border-top: 1px solid #d9d9d9;
  color: #f5821f;
  box-shadow: none;
  font-size: 10px;
  text-align: center;
  padding: 5px;
  font-weight: 700;
}
.mobile-plus {
  font-size: 14px;
}
.mobile-cross {
  font-size: 12px;
}
.change-border-orange {
  border: 3px solid #f5821f;
}
.benefit-header-orange {
  border-bottom: 3px solid #f5821f;
}
.mobile-button-wrapper-change {
  border-top: 3px solid #f5821f;
}
.benefit-tick {
  top: -19px;
  font-size: 22px;
  position: absolute;
  left: 46%;
  color: #f5821f;
  background: white;
}
.bbtick:before{
  content: "";
  width: 25px;
  height: 25px;
  background: #f5821f;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 4px;
  border-radius: 50%;
  line-height: 25px;
  font-size: 1.8rem;
}
.bbtick:after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 10px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .benefit-tick {
    left: 45%;
  }
}
@media (max-width: 1330px) {
  .benefit-tick {
    left: 157px;
  }
}
@media (max-width: 991px) {
  .benefit-icon-wrapper {
    display: none !important;
  }
  .benefit-header-text {
    padding-left: 0px;
  }
  .amount-duration-wrapper {
    float: right;
  }
  .duration {
    display: block;
  }
  .benefit-header {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: none;
    background: #ffffff;
  }
  .add-wrapper {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .benefit-btn {
    float: none;
  }
}

@media (max-width: 1024px) {
  .benefit-tick {
    left: 142px;
  }
}
@media (max-width: 768px) {
  .benefit-tick {
    left: 348px;
  }
  .what-this {
    padding-top: 0px;
  }
  .benefit-card {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.13);
    min-height: 100px;
    margin-bottom: 10px;
  }
}
@media (max-width: 425px) {
  .benefit-tick {
    left: 181px;
  }
}
@media (max-width: 375px) {
  .benefit-tick {
    left: 153px;
  }
}
@media (max-width: 320px) {
  .benefit-tick {
    left: 129px;
  }
}



