<div class="col-12 no-space benefit-card-wrapper">
  <div class="row no-space">
    <div class="col-md-12 col-lg-12 no-space benefit-card" [ngClass]="{
          'change-border-orange':!showAdd,
          'democlass':showAdd
      }">
      <div class="row no-space">
        <div class="col-7 col-lg-12 no-space benefit-header" [ngClass]="{
              'benefit-header-orange':!showAdd,
              'democlass':showAdd
          }">
          <div class="benefit-tick" *ngIf="!showAdd">
            <span class="bbtick"></span>
          </div>
          <div class="benefit-icon-wrapper d-none d-lg-block">
            <ng-content select=".resuablebenefitimage"></ng-content>
          </div>
          <span class="benefit-header-text">
            <ng-content select=".resuableheadertext"></ng-content>
          </span>
          <div class="what-this d-lg-none">
            <ng-content select=".resuablewhatsthis"></ng-content>
          </div>
        </div>
        <div class="col-5 col-lg-12 no-space add-wrapper">
          <div class="amount-duration-wrapper">
            <div class="amount">
              <span>&#8377; {{ this.benefitAmount }} </span>
            </div>
            <span class="duration">
              <span>{{this.tempservice.flag['Inputfields']['showBreakupFrequency']}}</span>
            </span>
          </div>
          <button class="add-benefit benefit-btn d-none d-lg-block" *ngIf="showAdd" (click)="changeAdd()">
            <span class="plus-icon benefit-btn-icon"><i class="icon icon-plus" aria-hidden="true"></i></span>
            <span>Add</span>
          </button>
          <button class="add-benefit benefit-btn d-none d-lg-block" *ngIf="!showAdd" (click)="changeRemove()">
            <span class="plus-icon benefit-btn-icon"><i class="icon icon-close" aria-hidden="true"></i></span>
            <span>Remove</span>
          </button>
        </div>
        <div class="col-12 no-space benefit-description d-none d-lg-block">
          <ng-content select=".resuablebenefitdescription"></ng-content>
        </div>
        <div class="col-12 no-space mobile-button-wrapper d-lg-none" [ngClass]="{
              'mobile-button-wrapper-change':!showAdd,
              'democlass':showAdd
          }">
          <div *ngIf="showAdd" (click)="changeAdd()">
            <span class="mobile-plus"> + </span><span> ADD THIS BENEFIT</span>
          </div>
          <div *ngIf="!showAdd" (click)="changeRemove()">
            <span class="mobile-cross"> X </span><span> REMOVE</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>