/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* icici-pru-hnc */
@font-face {
	font-family: "icici-pru-hnc";
	src:url("https://file.myfontastic.com/9axBFVWdwcVf6LtAe3KNwB/fonts/1536744169.eot");
	src:url("https://file.myfontastic.com/9axBFVWdwcVf6LtAe3KNwB/fonts/1536744169.eot?#iefix") format("embedded-opentype"),
	  url("https://file.myfontastic.com/9axBFVWdwcVf6LtAe3KNwB/fonts/1536744169.woff") format("woff"),
	  url("https://file.myfontastic.com/9axBFVWdwcVf6LtAe3KNwB/fonts/1536744169.ttf") format("truetype"),
	  url("https://file.myfontastic.com/9axBFVWdwcVf6LtAe3KNwB/fonts/1536744169.svg#1536744169") format("svg");
	font-weight: normal;
	font-style: normal;
  }

  [data-icon]:before {
	font-family: "icici-pru-hnc";
	content: attr(data-icon);
	-moz-content: attr(data-icon);
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
	font-family: "icici-pru-hnc";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .icon-close:before {
	content: "\6c";
  }

body {  
    background-color: #fff;
    color: #000;
    font-family: 'ZurichBT-Roman' !important;
    margin: 0;
    padding: 0;
}

.sec-head {
    text-align: center;
    margin-bottom: 50px;
  }
  .sec-head .sec-title {
    font-size: 30px;
    color: #004b7c;
    font-family: "ZurichBT-Roman" !important;
    font-weight: 300;
}
.cm-line-break {
    display: block;
}
.sec-head .sec-title .cm-line-break {
    font-size: 38px;
    font-weight: 700;
    margin-top: 8px;
    font-family: "ZurichBT-Bold";
}
.sec-head .sec-title .cm-line-break .divider {
    width: 68px;
    background: rgb(5, 60, 109);
    height: 1px;
    display: inline-block;
    margin: 0 80px;
    position: relative;
    top: -10px;
}

@media screen and (max-width: 768px){
    .sec-head {
        margin-bottom: 20px;
    }
    .sec-head .sec-title {
        font-size: 18px;
        margin: 10px 0px;
    }
    .sec-head .sec-title .cm-line-break {
        font-size: 24px;
        margin-top: 0px;
        font-weight: normal;
    }
    .sec-head .sec-title .cm-line-break .divider {
        width: 13px;
        margin: 0 12px;
        top: -5px;
    }
}