.select-card {
    float: left;
}
.lyt-calc {
    padding: 70px 0;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}
.lyt-calc .swiper-slide {
    width: 100%;
}
h3 {
    font-size: 26px;
    color: #053c6d;
    font-weight: 700;
}
.lyt-calc .swiper-slide .slide-title {
    font-size: 26px;
    color: #053c6d;
    font-weight: 700;
}

.slide-subtitle {
    font-size: 17px;
    padding: 15px 0;
    color: #666;
    display: block;
}

.lyt-calc .swiper-slide .slide-state {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -38px;
    font-size: 12px;
    color: #666;
}

.radio-box {
    float: left;
    margin-top: 30px;
}
.radio-box input[type=radio] {
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.radio-box input[type=radio]+.form-label .icon-name {
    font-size: 16px;
    color: #004b7c;
    text-align: center;
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}

.lyt-calc .radio-box input[type=radio]:not(old)+.form-label .icon-name {
    box-shadow: inset 0 0 0 1px #323232;
    color: #797979;
    text-transform: uppercase;
    font-size: 14px;
    padding: 7px 0px;
    border-radius: 3px;
    margin-top: 30px;
    transition: border .3s ease-in;
}

.lyt-calc .radio-box input[type=radio]:checked+.form-label .icon-name {
    box-shadow: inset 0 0 0 2px #323232;
    color: #323232;
}

.datepicker .form-control.age {
    margin-top: 28px;
    width: 80%;
    margin-left: 30px;
    border: 1px solid #7f7f7f;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
}

.check-premium .btn {
    margin-top: 47px;
    text-align: center;
    min-width: 0;
    font-size: 18px;
    min-width: 255px;
    padding: 10px 50px;
    font-weight: 700;
    margin-bottom: 5%;
}
.arrow-icon {
    vertical-align: middle;
}
.btn.typ-primary {
    color: #fff;
    background: #f5821f;
    border: 1px solid #f5821f;
    outline: 0px;
    -webkit-appearance:none;
    box-shadow: 3px 4px 7.36px 0.64px rgba(0,0,0,.15);
}
.substep {
    margin-left: 27px;
}

.tooltip-icon {
    margin-left: 10px;
    opacity: .4;
    color: gray;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
}
.toolTipContent {
    position: absolute;
    background: #f5821f;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    width: 195px;
    height: auto;
    padding: 14px 10px;
    border-radius: 4px;
    left: 62%;
    top: -82px;
    z-index: 9999;
    box-shadow: 0 0 8px -1px #f5821f;
    -webkit-box-shadow: 0 0 8px -1px #f5821f;
    -moz-box-shadow: 0 0 8px -1px #f5821f;
  }
.triangle:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 10px solid #f5821f;
    border-bottom: 6px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: 70px;
    left: 45%;
}
input[type="tel"]:focus {
      box-shadow: none;
      outline: 0px;
      -webkit-appearance:none;
}

.quote-icon.icon-cake {
    width: 140px;
    height: 92px;
    margin-top: 20px;
    margin: 20px auto;
}

.error {
    position: absolute;
    left: 15%;
    font-size: 11px;
    line-height: 14px;
    color: red;
    text-transform: capitalize;
}
.btn.btn-disable {
    opacity: .5; 
}
.premium-quote-wrapper {
    padding-left: 5px;
    padding-right: 5px;
}

:host >>> .quote-block-wrapper {
    padding-top: 0px !important;
}
.radio-box input[type=radio]:not(old)+.form-label{
    cursor: pointer;
}
@media(min-width: 1920px) { 
    .basicInfo {
         padding: 0px 15%;
    }
}
  @media(max-width: 768px) {
    .lyt-calc {
        padding: 50px 0;
    }
    .premium-quote-wrapper h3 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
    }
    .lyt-calc .swiper-slide .slide-title {
        font-size: 21px;
        color: #053c6d;
        font-weight: 700;
        line-height: 25px;
    }     
    .lyt-calc .check-card {
        padding: 10px 0px 0px 35px;
        box-shadow: none;
        text-align: left;
    }
    .check-card {
        float: none;
        max-width: 100%;
        height: 130px;
    }
    .substep {
         margin-left: 0px; 
    }
    .radio-box {
        margin-top: 0px;
    }
    .card-title {
        margin-bottom: 0px;
        font-size: 14px;
        color: #323232;
        font-weight: 400;
    }
    .lyt-calc .radio-box input[type=radio]:not(old)+.form-label .icon-name {
        padding: 7px 22px;
    }
    .datepicker .form-control.age {
        margin-left: 18px;
        width: 52%;
        border: none;
        border-bottom: 1px solid #7f7f7f;
        font-size: 14px;
    }
    .check-premium .btn {
        padding: 10px 28%;
        font-size: 16px;
    }
    .toolTipContent {
        left: 53%;
        font-weight: 400;
        font-size: 11px;
        color: #fff;
        width: 235px;
        margin-top: -12px;
        padding: 4% 3%;
        line-height: 16px;
        top: -90px;
    }
    
    .lyt-calc .radio-box input[type=radio]:not(old) + .form-label .icon-name{
        min-width: 105px;
    }
    .datepicker[_ngcontent-c15] .form-control.age[_ngcontent-c15]{
        width: 80%;
    }
    .radio-box{
        flex: none;
        float: none;
        display: inline-block;
    }
    .resuableData {
        width: 100%;
        float: left;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .col-4.radio-box {
        max-width: 50%;
    }
    .select-card {
        float: none;
    }
    .labelResp {
        margin-left: 60%;
    }
    .error {
        left: 40%;
    }
    .triangle:before {
        top: 84px;
        left: 37%;
    }
}
  @media (max-width: 700px) {
    .select-card {
        float: left;
    }
    .labelResp {
        margin-left: 0%;
    }
    .error {
        left: 28%;
    }
    .toolTipContent {
        left: 42%;
        font-weight: 400;
        font-size: 11px;
        color: #fff;
        width: 170px;
        margin-top: -12px;
        padding: 5% 3%;
        line-height: 16px;
    }
    .triangle:before {
        top: 70px;
        left: 45%;
    }
  }
  @media (max-width: 456px) {
	.toolTipContent {
        left: 55%;
        margin-top: 0px;
    }
    .triangle:before {
        left: 26%;
        top: 83px;
    }  
  }
  @media(max-width: 426px) {
    .triangle:before {
        left: 54%;
        top: 74px;
    }
  }
  
  @media(max-width: 376px) {
    .lyt-calc .swiper-slide .slide-title {
        font-size: 23px;
        line-height: 30px;
        padding: 0px 12% 10px;
    }
    .lyt-calc .check-card {
        padding: 10px 0px 0px 35px;
    }
    .lyt-calc .radio-box input[type=radio]:not(old)+.form-label .icon-name {
        padding: 8px 20px;
    }
    .triangle:before {
        left: 67%;
        top: 75px;
    }
    .toolTipContent {
        margin-top: 0px;
		left: 47%;
    }
  }
  @media(max-width: 361px) {
    .check-premium .btn {
        padding: 10px 65px;
    }
    .toolTipContent {
        margin-top: 0px;
        padding: 5% 3%;
		left: 48%;
    }
    .triangle:before {
        left: 66%;
        top: 74px;
    }
  }
  @media(max-width: 321px) {
    .check-premium .btn {
        padding: 8px 50px;
        font-size: 14px;
    }
  .lyt-calc .swiper-slide .slide-title {
        padding: 0px 8% 10px;
    } 
  .toolTipContent {
        left: 41%;
    }
    .triangle:before {
        left: 76%;
        top: 70px;
    }
    .premium-quote-wrapper h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .lyt-calc .radio-box input[type=radio]:not(old)+.form-label .icon-name {
        padding: 7px 12px;
        font-size: 12px;
    }
    .datepicker .form-control.age {
        font-size: 12px;
    }
    .error {
        left: 25%;
    }
}
