<div id="calculatorPage" #nyedva>
    <div class="container-fluid lyt-calc" id='basicDetails-scroll'>
        <div class="col-lg-10 offset-lg-1 col-12">
            <div class="row no-space">
                <div class="col-md-12 no-space premium-quote-wrapper">
                    <app-steps #showBullet>
                        <span class="reusabletopheader">1 step to get your quote</span>
                        <h3 class="resuable">Health Insurance Premium Calculator for Heart & Cancer</h3>
                    </app-steps>
                    <span class="slide-subtitle d-none d-lg-block d-md-block">Get your premium in seconds</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 basicInfo">
                    <div class="col-lg-4 col-md-12 col-12 select-card">
                        <app-basic-details-card #tickGenderCard>
                            <span class="resuableheadertext">Select your gender</span>
                            <div class="resuableData">
                                <div class="col-lg-6 col-md-6 col-4 radio-box">
                                    <input type="radio" name="gender" id="male" value="Male" (click)="changeMaleIcon()"
                                        [(checked)]="this.tempservice.flag['Male']" (change)="this.tempservice.onChangeRadio($event,'gender')">
                                    <label for="male" class="form-label labelResp">
                                        <div class="quote-icon icon-male d-none d-lg-block d-md-none" *ngIf="this.isvisible == true"></div>
                                        <div class="quote-icon icon-maleChange d-none d-lg-block d-md-none" *ngIf="!this.isvisible == true"></div>
                                        <div class="icon-name">MALE</div>
                                    </label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-4 radio-box">
                                    <input type="radio" name="gender" id="female" value="Female" (click)="changeFemaleIcon()"
                                        [(checked)]="this.tempservice.flag['Female']" (change)="this.tempservice.onChangeRadio($event,'gender')">
                                    <label for="female" class="form-label">
                                        <div class="quote-icon icon-female d-none d-lg-block d-md-none" *ngIf="this.isfemaleicon == true"></div>
                                        <div class="quote-icon icon-femaleChange d-none d-lg-block d-md-none" *ngIf="!this.isfemaleicon == true"></div>
                                        <div class="icon-name">FEMALE</div>
                                    </label>
                                </div>
                            </div>
                        </app-basic-details-card>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12 select-card">
                        <app-basic-details-card #tickDateCard>
                            <span class="resuableheadertext">Enter your Date of Birth</span>
                            <div class="resuableData">
                                <div class="quote-icon icon-cake d-none d-lg-block d-md-none"></div>
                                <div class="datepicker">
                                    <input type="tel" class="form-control age" placeholder="DD / MM / YYYY" [(ngModel)]="this.tempservice.userInput['dob']"
                                        name="dobDate" (keyup)="onKeyPress($event,'dobDate')" [textMask]="{mask:tempservice.dateMask}"
                                        id="dobDate" #dobDate>
                                    <label for="dobDate" class="error">{{dobErrorMsg}}</label>
                                </div>
                            </div>
                        </app-basic-details-card>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12 select-card">
                        <app-basic-details-card #tickTobaccoCard>
                            <span class="resuableheadertext">Do you consume tobacco?<span class="tooltip-icon" (click)="toggle()"><i
                                        class="icon icon-question"></i></span>
                                <div class="toolTipContent triangle" *ngIf="this.showTooltip == true">
                                    If you haven’t consumed tobacco in the last 5 years, select No
                                </div>
                            </span>
                            <div class="resuableData">
                                <div class="col-lg-6 col-md-6 col-4 radio-box">
                                    <input type="radio" name="tobacco" id="Yes" value="Yes" (click)="changeYesIcon()"
                                        [(checked)]="this.tempservice.flag['TobaccoYes']" (change)="this.tempservice.onChangeRadio($event,'tobacco')">
                                    <label for="Yes" class="form-label labelResp">
                                        <div class="quote-icon icon-yestobacco d-none d-lg-block d-md-none" *ngIf="this.istobacco == true"></div>
                                        <div class="quote-icon icon-yestobaccoChange d-none d-lg-block d-md-none"
											*ngIf="!this.istobacco == true"></div>
                                        <div class="icon-name">YES</div>
                                    </label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-4 radio-box">
                                    <input type="radio" name="tobacco" id="No" value="No" (click)="changeNoIcon()"
                                        [(checked)]="this.tempservice.flag['TobaccoNo']" (change)="this.tempservice.onChangeRadio($event,'tobacco')">
                                    <label for="No" class="form-label">
                                        <div class="quote-icon icon-notobacco d-none d-lg-block d-md-none" *ngIf="this.istobchange == true"></div>
                                        <div class="quote-icon icon-notobaccoChange d-none d-lg-block d-md-none" *ngIf="!this.istobchange == true"></div>
                                        <div class="icon-name">NO</div>
                                    </label>
                                </div>
                            </div>
                        </app-basic-details-card>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="check-premium">
                        <button class="btn typ-primary" id="checkPremium" (click)="checkPremium()">CHECK PREMIUM <span class="arrow-icon icon-chk-arrow d-none d-md-inline-block"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>