
<app-header></app-header>
<app-banner></app-banner>
<app-benefits></app-benefits>
<app-depend-on-us></app-depend-on-us>
<app-protected-future></app-protected-future>
<app-videos></app-videos>
<app-payout-options></app-payout-options>
<app-disclaimer></app-disclaimer>
