.no-space {
  padding: 0;
  margin: 0;
}
.quote-block-wrapper {
  padding-top: 65px;
  padding-left: 10px;
  padding-right: 10px;
}
.quote-wrapper {
  padding-top: 30px;
}
.quote-content {
  text-align: center;
}
.quote-header {
  font-size: 11px;
  color: #666;
}
.quote-title {
  font-size: 25px;
  color: #053c6d;
  font-weight: 700;
}
.slide-back {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #666;
  position: absolute;
  left: 0;
  top: 0;
}
.icon-video-prev {
  line-height: 45px;
  color: #666;
  position: relative;
  left: 15px;
  top: -4px;
  font-size: 25px;
}
.mobile-slide-back {
  position: relative;
  top: -6px;
}

/* css for Bullets Starts */
.swiper-pagination {
  text-align: left;
  position: relative;
  margin: 0px 0 0px 44%;
}
.swiper-pagination:after {
  content: "";
  left: 10px;
  bottom: 12px;
  width: 55px;
  height: 1px;
  background: #bababa;
  opacity: 0.4;
  z-index: -1;
  position: absolute;
}
.swiper-pagination-bullet {
  opacity: 1;
  background: #fff;
  border: 1px solid #bababa;
  width: 10px;
  height: 10px;
}
.swiper-class {
  opacity: 1;
  background: #fff;
  border: 1px solid #bababa;
  width: 10px;
  height: 10px;
}
.swiper-pagination-bullet:first-child {
  margin-left: 0;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 10px;
  right: 0;
  width: 50%;
  left: unset;
  bottom: unset;
}
.swiper-pagination-bullet-active {
  background: #f5821f;
  border: 1px solid #f5821f;
}
.swiper-pagination-bullet-complete {
  background: #d7d7d7;
  border: 1px solid #d7d7d7;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
/* css for Bullets Ends */

@media (max-width: 1024px) {
  .quote-block-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 991px) {
  .quote-block-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .quote-wrapper {
    padding-top: 25px;
    padding-bottom: 0px;
  }
  .quote-title {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .mobile-slide-back {
    left: -10px;
  }
  .quote-title {
    font-size: 20px;
    color: #053c6d;
    font-weight: 700;
  }
}
