<div class="container-fluid no-space">
  <div class="row no-space">
    <div class="col-12 col-xl-12 no-space quote-block-wrapper">
      <div class="row no-space">
        <div class="d-none d-xl-block col-xl-1 no-space"></div>
        <div class="col-12 col-xl-10 quote-wrapper no-space">
          <div class="row no-space">
            <div class="col-1 col-lg-1 no-space">
              <ng-content select=".resuablebackbutton"></ng-content>
            </div>
            <div class="col-10 col-lg-10 quote-content no-space">
              <div class="quote-header d-none d-lg-block">
                <ng-content select=".reusabletopheader"></ng-content>
              </div>
              <div class="swiper-pagination-wrapper d-none d-lg-block">
                <div class="swiper-pagination swiper-pagination-bullets">
                  <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBulletsPage1"></span>
                  <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBulletsPage2"></span>
                  <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBulletsPage3"></span>
                  <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBulletsPage4"></span>
                </div>
              </div>
              <div class="quote-title">
                <ng-content select=".resuable"></ng-content>
              </div>
            </div>
            <div class="col-1 col-lg-1 no-space">
              <ng-content select=".reusableEditMobileView"></ng-content>
            </div>
          </div>
        </div>
        <div class="d-none d-xl-block col-xl-1 no-space">
        </div>
      </div>
    </div>
  </div>
</div>