<div class="container-fluid lyt-works" id='planWork-scroll' snInViewport (inViewportChange)="action($event)">
    <div class="col-lg-10 offset-lg-1 col-sm-12 planWork" *ngIf="show">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2 class="title">How does the plan work?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 bs-tabs">
                <ul class="tabs-list">
                    <li class="active">
                        <a href="javascript:void(0)" [class.changeborder]="femaleTab" (click)='femaleContent()'>View
                            Sushma's Story</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [class.changeborder]="maleTab" (click)='maleContent()'>View
                            Gobind's Story</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="swiper-container" [swiper]="config" [(index)]="index" *ngIf="isFemaleContent">
            <div class="swiper-pagination">
                <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBullets[0]"></span>
                <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBullets[1]"></span>
                <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBullets[2]"></span>
                <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBullets[3]"></span>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-wrap">
                        <img [defaultImage]="defaultImage" [lazyLoad]="worksFemale1" [offset]="offset" alt="Female svg">
                    </div>
                    <div class="content-wrap">
                        <h4 class="name">Sushma Agarwal</h4>
                        <div class="info">
                            <span class="age">28 Yrs</span>
                            <span class="designation">Acountant</span>
                            <p class="desc">Sushma is a busy woman who tries to be as healthy as possible given
                                her
                                hectic work schedule. One day her neighbor had a heart attack! And although he
                                got
                                treated with his health plan, it was barely
                                enough to deal with the costs since he was in a critical state.</p>
                            <div class="btn-wrap">
                                <button class="btn typ-primary next-btn" (click)="next(1)">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-wrap">
                        <img [defaultImage]="defaultImage" [lazyLoad]="worksFemale2" [offset]="offset" alt="Female svg">
                    </div>
                    <div class="content-wrap">
                        <h4 class="name">Sushma Agarwal</h4>
                        <div class="info">
                            <span class="age">28 Yrs</span>
                            <span class="designation">Acountant</span>
                            <p class="desc">This is when Sushma realized that she needs to be prepared for
                                unforeseen ailments in her fast paced life. So, she bought ICICI Pru
                                Heart/Cancer
                                Protect with Heart Cover of ₹ 10 lakhs and Cancer Cover
                                of ₹ 10 lakhs for 10 years at Annual Premium of ₹ 1789</p>
                            <div class="btn-wrap">
                                <button class="btn back-btn" (click)='prev(0)'>Previous</button>
                                <button class="btn typ-primary next-btn" (click)='next(2)'>Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-wrap">
                        <img [defaultImage]="defaultImage" [lazyLoad]="worksFemale3" [offset]="offset" alt="male svg">
                    </div>
                    <div class="content-wrap">
                        <h4 class="name">Sushma Agarwal</h4>
                        <div class="info">
                            <span class="age">28 Yrs</span>
                            <span class="designation">Acountant</span>
                            <p class="desc">After 5 years, she was diagnosed with early stage lung cancer. The
                                policy paid out ₹ 2.50 lakhs (25% of ₹ 10 lakhs) of the Cancer Cover amount.</p>
                            <div class="btn-wrap">
                                <button class="btn back-btn" (click)='prev(1)'>Previous</button>
                                <button class="btn typ-primary next-btn" (click)='next(3)'>Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-wrap" lazy-load-images>
                        <img [defaultImage]="defaultImage" [lazyLoad]="worksFemale4" [offset]="offset" alt="female svg">
                    </div>
                    <div class="content-wrap">
                        <h4 class="name">Sushma Agarwal</h4>
                        <div class="info">
                            <span class="age">28 Yrs</span>
                            <span class="designation">Acountant</span>
                            <p class="desc">All future premiums are waived and Policy continues with Cancer
                                cover
                                of ₹ 7.50 lakhs and Heart Cover remains ₹ 10 lakhs to protect her from any
                                future
                                ailments as she grows older.</p>
                            <div class="btn-wrap">
                                <button class="btn back-btn" (click)='prev(2)'>Previous</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-container" [swiper]="config" [(index)]="index" *ngIf="isMaleContent">
            <div class="swiper-pagination">
                <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBullets[0]"></span>
                <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBullets[1]"></span>
                <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBullets[2]"></span>
                <span class="swiper-pagination-bullet" [class.swiper-pagination-bullet-active]="showBullets[3]"></span>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-wrap">
                        <img [defaultImage]="defaultImage" [lazyLoad]="worksmale1" [offset]="offset" alt="male svg">
                    </div>
                    <div class="content-wrap">
                        <h4 class="name">Gobind Thakur</h4>
                        <div class="info">
                            <span class="age">30 Yrs</span>
                            <span class="designation">Software Developer</span>
                            <p class="desc">Gobind is a busy man who tries to be as healthy as possible given his
                                hectic work schedule. One day his neighbor had a heart attack! And although he got
                                treated with his health plan, it was barely enough
                                to deal with the costs since he was in a critical state.</p>
                            <div class="btn-wrap">
                                <button class="btn typ-primary next-btn" (click)="next(1)">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-wrap">
                        <img [defaultImage]="defaultImage" [lazyLoad]="worksmale2" [offset]="offset" alt="male svg">
                    </div>
                    <div class="content-wrap">
                        <h4 class="name">Gobind Thakur</h4>
                        <div class="info">
                            <span class="age">30 Yrs</span>
                            <span class="designation">Software Developer</span>
                            <p class="desc">This is when Gobind realized that he needs to be prepared for unforeseen
                                ailments in his fast paced life. So, he bought ICICI Pru Heart/Cancer Protect with
                                Heart Cover of ₹ 10 lakhs and Cancer Cover
                                of ₹ 10 lakhs for 10 years at Annual Premium of ₹ 1774</p>
                            <div class="btn-wrap">
                                <button class="btn back-btn" (click)='prev(0)'>Previous</button>
                                <button class="btn typ-primary next-btn" (click)="next(2)">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-wrap">
                        <img [defaultImage]="defaultImage" [lazyLoad]="worksmale3" [offset]="offset" alt="male svg">
                    </div>
                    <div class="content-wrap">
                        <h4 class="name">Gobind Thakur</h4>
                        <div class="info">
                            <span class="age">30 Yrs</span>
                            <span class="designation">Software Developer</span>
                            <p class="desc">After 5 years, he was diagnosed with early stage lung cancer. The policy
                                paid out ₹ 2.50 lakhs (25% of 10 lakhs) of the Cancer Cover amount.</p>
                            <div class="btn-wrap">
                                <button class="btn back-btn" (click)='prev(1)'>Previous</button>
                                <button class="btn typ-primary next-btn" (click)="next(3)">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-wrap" lazy-load-images>
                        <img [defaultImage]="defaultImage" [lazyLoad]="worksmale4" [offset]="offset" alt="male svg">
                    </div>
                    <div class="content-wrap">
                        <h4 class="name">Gobind Thakur</h4>
                        <div class="info">
                            <span class="age">30 Yrs</span>
                            <span class="designation">Software Developer</span>
                            <p class="desc">All future premiums are waived and Policy continues with Cancer cover of ₹
                                7.50 lakhs and Heart Cover remains ₹ 10 lakhs to protect him from any future ailments
                                as he grows older.</p>
                            <div class="btn-wrap">
                                <button class="btn back-btn" (click)='prev(2)'>Previous</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="work-plan-disc">
        <span *ngIf="isFemaleContent">The above mentioned illustration is for a 28 year old healthy for a policy term
            of 10 years for ₹ 10 lakhs Cancer Cover and ₹ 10 lakhs Heart Cover. The total yearly premium amount will be
            ₹ 1,789 inclusive of taxes </span>
        <span *ngIf="isMaleContent">The above mentioned illustration is for a 30 year old healthy for a policy term of
            10 years for ₹ 10 lakhs Cancer Cover and ₹ 10 lakhs Heart Cover. The total yearly premium amount will be ₹
            1,774 inclusive of taxes </span>
    </div>
</div>