.lyt-works {
    border-bottom: 1px solid #e5e5e5;
    padding: 90px 0;
    z-index: 10000;
    border-top: 1px solid #e5e5e5;
  }
  
  .title {
    font-size: 36px;
    line-height: 2.5rem;
    color: #053c6d;
    position: relative;
    text-align: center;
    font-weight: 700;
  }
  
  .title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -8px;
    background: #f5821f;
    width: 36px;
    height: 7px;
  }
  
  .lyt-works .bs-tabs {
    padding-top: 50px;
  }
  
  .lyt-works .bs-tabs .tabs-list {
    margin: 20px 0 0 0;
    text-align: center;
  }
  
  .lyt-works .bs-tabs .tabs-list li {
    text-decoration: none;
    display: inline;
  }
  
  .bs-tabs .tabs-list li a {
    display: inline;
    padding: 6px 12px;
    background: #fff;
    border: 2px solid #a1a1a1;
    color: #a1a1a1;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .bs-tabs .tabs-list li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }
  
  .lyt-works .swiper-slide .img-wrap {
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
  }
  
  .lyt-works .swiper-slide .content-wrap {
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    padding-top: 30px;
  }
  
  .lyt-works .swiper-slide .content-wrap .name {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #333;
  }
  
  .lyt-works .swiper-slide .content-wrap .info span {
    font-size: 16px;
    line-height: 5px;
    font-weight: 600;
    color: #333;
    opacity: 0.65;
    padding: 0 10px 0 10px;
  }
  
  .lyt-works .swiper-slide .content-wrap .info .age {
    border-right: 2px solid rgba(51, 51, 51, 0.8);
    padding: 0 10px 0 0;
  }
  
  .lyt-works .swiper-slide .content-wrap .info .desc {
    font-size: 16px;
    line-height: 25px;
    color: #444;
    opacity: 0.85;
    padding: 20px 0;
    width: 80%;
  }
  
  .lyt-works .swiper-slide .content-wrap .btn {
    font-size: 13px;
    min-width: 100px;
    padding: 8px 25px;
    border-color: #f5821f;
    color: #f5821f;
    margin-right: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .lyt-works .swiper-slide .content-wrap .btn.typ-primary {
    color: #fff;
  }
  
  .btn.typ-primary {
    color: #fff;
    background: #f5821f;
    border: 1px solid #f5821f;
  }
  
  .btn.back-btn {
    background-color: #fff;
  }
  
  .changeborder {
    color: #1f5888 !important;
    border-color: #1f5888 !important;
    font-weight: 700 !important;
  }
  
  .lyt-works .swiper-pagination {
    text-align: left;
    position: relative;
    margin: 30px 0 30px 49.5%;
  }
  
  .lyt-works .swiper-pagination:after {
    content: "";
    left: 10px;
    bottom: 12px;
    width: 50px;
    height: 1px;
    background: #bababa;
    opacity: 0.4;
    z-index: -1;
    position: absolute;
  }
  
  .lyt-works .swiper-pagination-bullet {
    opacity: 1;
    background: #fff;
    border: 1px solid #bababa;
    width: 10px;
    height: 10px;
  }
  
  .lyt-works .swiper-pagination-bullet:first-child {
    margin-left: 0;
  }
  
  .lyt-works .swiper-container-horizontal > .swiper-pagination-bullets,
  .lyt-works .swiper-pagination-custom,
  .lyt-works .swiper-pagination-fraction {
    top: 10px;
    right: 0;
    width: 50%;
    left: unset;
    bottom: unset;
  }
  
  .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
  
  .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  @media (min-width: 1920px) {
    .planWork {
      padding: 0px 15%;
    }
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 21px;
      line-height: 36px;
    }
    .lyt-works {
      padding: 40px 20px;
      float: left;
    }
  
    .lyt-works .bs-tabs .tabs-list {
      text-align: center;
    }
  
    .lyt-works .bs-tabs .tabs-list li {
      margin-right: 7px;
    }
  
    .lyt-works .bs-tabs .tabs-list li a {
      font-size: 12px;
      padding: 8px 6px;
    }
  
    .lyt-works .swiper-slide .img-wrap {
      width: 100%;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      padding: 0% 7%;
    }
    .lyt-works .swiper-slide .img-wrap img {
      width: 100%;
    }
  
    .lyt-works .swiper-slide .content-wrap {
      width: 100%;
      padding-top: 0px;
    }
  
    .lyt-works .swiper-slide .content-wrap .name {
      font-size: 18px;
    }
  
    .lyt-works .swiper-slide .content-wrap .info span {
      font-size: 14px;
      line-height: 18px;
    }
  
    .lyt-works .swiper-slide .content-wrap .info .desc {
      font-size: 13px;
      line-height: 18px;
      padding: 15px 0;
      width: 100%;
    }
  
    .lyt-works .swiper-slide .content-wrap .btn-wrap {
      position: relative;
      left: unset;
      bottom: unset;
    }
  
    .lyt-works .swiper-container-horizontal > .swiper-pagination-bullets,
    .lyt-works .swiper-pagination-custom,
    .lyt-works .swiper-pagination-fraction {
      margin: 0 auto;
      width: 95px;
      padding-top: 20px;
    }
    .lyt-works .swiper-slide .content-wrap .btn {
      padding: 7px 20px;
      margin-right: 20px;
    }
    .lyt-works .swiper-pagination {
      text-align: left;
      position: relative;
      margin: 20px 0 30px 39.5%;
    }
  }
  .work-plan-disc{
    font-size: 10px;
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 10px;
  }
  @media (max-width: 376px) {
    .lyt-works .bs-tabs .tabs-list li a {
      font-size: 10px;
    }
  }
  
  @media (max-width: 321px) {
    .title {
      font-size: 18px;
    }
  
    .lyt-works .bs-tabs .tabs-list li a {
      font-size: 8px;
    }
  
    .lyt-works .swiper-slide .content-wrap .btn {
      padding: 7px 15px;
      margin-right: 20px;
      font-size: 14px;
    }
  
    .lyt-works .swiper-slide .content-wrap .name {
      font-size: 14px;
    }
  
    .lyt-works .swiper-slide .content-wrap .info span {
      font-size: 12px;
      line-height: 18px;
    }
  
    .lyt-works .swiper-slide .content-wrap .info .desc {
      font-size: 12px;
    }
  }
  