<div class="container-fluid lyt-disclaimer">
  <div class="col-lg-12 col-sm-12 disclaimer">
      <div class="row disclaimerCard">
          <mat-expansion-panel [expanded]="isExpanded" class="custom disclaimer-container">
              <mat-expansion-panel-header class="accord-head" (click)="scroll()" (click)="toggle()">
                  <mat-panel-title>
                      DISCLAIMER
                  </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="accord-content">
                  <div class="disclaimerContent">
                      <p><SUP>` </SUP>A discount of 5% on the first year’s premium will be offered on purchase of ICICI Pru Heart / Cancer Protect when life assured and his/ her spouse is covered under the same policy. The policy benefits of both the Lives Assured shall be independent of each other. The Sums Assured of both the lives could be different. A claim made by one Life Assured under the policy does not affect benefits of other Life Assured. This Family benefit has to be chosen at the inception of the policy only, spouse cannot be added once the policy is issued. This discount is not applicable on Single Pay Policy. With one policy, you can avail either Family Benefit or Loyalty Benefit.
                      </p>
                      <p><SUP>* </SUP>Existing customer discount of 5% on the first years premium is available only for policies with Regular Premium Payment Option, it is not applicable for Single pay policies. With one policy, you can avail either Family Benefit or Loyalty Benefit.
                      </p>
                      <p>1. A lump sum is paid out on diagnosis of any of the listed conditions. This payout is based on the level of the condition. In any case, the total payout in the policy cannot exceed 100% of the Sum Assured of the cover selected. Please refer to the
                          <a class="linkText" href="https://www.iciciprulife.com/content/dam/icicipru/brochures/heart_and_cancer.pdf" target="_blank">sales brochure</a> to know about the payouts at different level of condition.
                      </p>
                      <!-- <p>2. <span class="fa fa-inr"></span> 10 Lakh Cancer Cover and <span class="fa fa-inr"></span> 10 Lakh Heart Cover for a 30 year old healthy male for a policy term of 40 years. The total yearly premium amount will be <span class="fa fa-inr"></span> 6,397. If you choose monthly mode, then the premium amount works out to <span class="fa fa-inr"></span> 568.
                      </p> -->
                      <p>2. 40 year policy term is available subject to the maximum maturity age of 75 years.
                      </p>
                      <p>3. Under the Income Benefit, an amount equal to 1% of the Sum Assured chosen at inception will be paid to the policyholder each month, for a period of 5 years upon a valid claim under any of the listed Major conditions. Where the Cancer cover and Heart cover are taken together, pay out under Income Benefit will be triggered for only that cover for which a claim of Major condition is registered and all Benefits through other cover remains unaffected.
                      </p>
                      <p>4. With Increasing Cover Benefit, the Sum Assured chosen at inception increases by 10% simple interest on each policy anniversary, for every claim free year. The maximum Sum Assured under the cover will be capped at 200% of the Sum Assured chosen at inception. This increase in Sum Assured will stop on occurrence of first claim under the cover. Where Cancer cover and Heart cover are chosen together, the Sums Assured for both the covers increase by 10% simple interest on each policy anniversary, for every claim free year. The maximum sum assured will be capped at 200% of the Sum Assured chosen at inception for each type of cover. In case of occurrence of first claim under any one type of cover, the increase in Sum Assured will stop for that cover type and Increasing Cover Benefit will continue for the other type of cover, for which no claim has occurred.
                      </p>
                      <p>5. Under this cover, you will receive Rs. 5,000 as daily cash benefit in case you are hospitalised due to a covered ailment. The daily cash is given irrespective of actual hospitalisation costs to help you manage daily expenses. This benefit will be payable subject to a maximum limit of ten days per policy year and thirty days over the policy term for hospitalization of min 24 hours. The yearly limit of number of days of hospitalization cannot be carried forward to next year.                                
                      </p>
                      <p>6. The Company shall waive all future premiums on a claim of Minor condition under the chosen cover; or on the diagnosis of Permanent Disability (PD)of the Life Assured due to an Accident. If both Cancer cover and Heart cover are chosen such waiver is allowed on a minor/major condition claim under either Cancer cover or Heart cover; or on the diagnosis of PD. This benefit is available only if the Policy is in force as on the date of diagnosis of the condition/at the time of accident.
                      </p>
                      <!-- <p><sup>@</sup> 40 year policy term is available subject to the maximum maturity age of 75 years.
                      </p> -->
                      <p><sup>^</sup> Claim statistics are for FY 2017-18 and is computed basis individual claims settled over total individual claims for the financial year. For details, refer to Public Disclosures in our Website.
                      </p>
                      <p><sup>&</sup> Customer loyalty: <a class="linkText" href="http://www.business-standard.com/article/specials/icici-pru-sbi-life-topple-lic-from-the-top-spot-117051701681_1.html" target="_blank">http://www.business-standard.com/article/specials/icici-pru-sbi-life-topple-lic-from-the-top-spot-117051701681_1.html</a>
                      </p>
                      <p><sup>#</sup> Tax benefits will apply to the premiums paid and benefits received as per the prevailing tax laws. Tax benefits under the policy are subject to conditions u/s 80D of the Income Tax Act, 1961. Indirect taxes and applicable cesses will be charged extra over the premium amount as per the applicable rates. Tax laws are subject to amendments from time to time.
                      </p>
                      <p>All premium amounts mentioned above are inclusive of taxes
                      </p>
                      <p>ICICI Prudential Life Insurance Company Limited. IRDAI Regn No. 105. CIN: L66010MH2000PLC127837. ICICI PruLife Towers, 1089, Appasaheb Marathe Marg, Prabhadevi, Mumbai-400025. For more details on the risk factors, terms and conditions, please read the
                              <a class="linkText" href="https://www.iciciprulife.com/content/dam/icicipru/brochures/heart_and_cancer.pdf" target="_blank">sales brochure</a>
                              carefully before concluding a sale. For enquires related to new policies purchased online, please call us on 1-860-266-7766 and select option 4 on our Interactive Voice System. Trade Logo displayed above belongs to ICICI Bank Ltd & Prudential IP services Ltd and used by ICICI Prudential Life Insurance Company Ltd under license. UIN: 105N154V01. Advt. No.:W/II/2955/2018-19
                      </p>
                      <!-- <div class="txt-center">
                          <p>©  2016, ICICI Prudential Life Insurance Company Limited. Registered Address:- ICICI PruLife Towers, 1089, Appasaheb Marathe Marg, Prabhadevi, Mumbai-400025. For more details on the risk factors, terms and conditions, please read the sales brochure carefully before concluding a sale. Call us on 1-860-266-7766 (10am-7pm, Monday to Saturday, except national holidays and valid only for calls made from India). For enquires related to new policies purchased online, please call us on 1-860-266-7766 and select option 4 on our Interactive Voice System. Trade Logo displayed above belongs to ICICI Bank Ltd & Prudential IP services Ltd and used by ICICI Prudential Life Insurance Company Ltd under license. UIN: 105N154V01. Advt. No.: W/II/0069/2017-18
                          </p>
                          <p>
                              Reg. Off.: ICICI PruLife Towers, 1089 Appasaheb Marathe Marg, Prabhadevi, Mumbai
                              400025.
                              Tel.: 40391600. Member of the Life Insurance Council. For more details on the risk
                              factors,
                              term and conditions please read the product brochure carefully before
                              concluding the sale.
                          </p>
                          <p>
                              Trade Logo displayed above belongs to ICICI Bank Ltd & Prudential IP services Ltd and
                              used
                              by ICICI Prudential Life Insurance Company Ltd under license.
                          </p>
                      </div> -->
                      <div class="info-note">
                          <h3 class="note-title">BEWARE OF SPURIOUS PHONE CALLS AND FICTITIOUS/FRAUDULENT OFFERS</h3>
                          <!-- <h4 class="note-sub-title">IRDAI clarifies to public that</h4> -->
                          <!-- <ul> -->
                              <!-- <li> -->
                                      IRDAI is not involved in activities like selling insurance policies, announcing bonus or investment of premiums. Public receiving such phone calls are requested to lodge a police complaint.
                              <!-- </li> -->
                              <!-- <li>
                                  IRDAI does not announce any bonus. Public receiving such phone calls are requested
                                  to
                                  lodge a police complaint along with details of phone call, number.
                              </li> -->
                          <!-- </ul> -->
                      </div>
                  </div>
              </div>
              <div id="bottom"></div>
          </mat-expansion-panel>
      </div>
  </div>
</div>