mat-expansion-panel.custom {
    box-shadow: none !important;
    background: #eee;
  }
  :host >>> .mat-expansion-panel-body {
    padding: 0;
  }
  :host >>> .mat-expansion-panel-content,
  :host >>> .mat-expansion-panel-header {
    font-family: Montserrat,sans-serif;
  }
  
  .disclaimer-container {
    position: relative;
    z-index: 1;
    transition: height 0.5s ease-in;
    transition-duration: 0.5s;
    height: 50px;
    width: 100%;
    padding: 5px 0;
  }
  
  .disclaimer-container .mat-expansion-panel-header-title {
    justify-content: center;
  }
  
  .disclaimer-container .mat-expansion-panel-header {
    position: relative;
    top: -4px;
    border-bottom: 1px solid #444;
    justify-content: center;
  }
  
  .mat-expansion-indicator {
    position: relative;
    top: -4px;
  }
  
  .accord-content {
    height: 400px;
    overflow-y: scroll;
    display: block;
    background: white;
    padding: 10px;
  }
  
  .lyt-disclaimer {
    background: #eee;
  }
  .info-note {
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
    border: solid 1px #444;
    margin-bottom: 10px;
  }
  .info-note .note-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .info-note .note-sub-title {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  .info-note ul li {
    list-style-type: disc;
    margin-left: 15px;
  }
  .lyt-disclaimer .cont p {
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 18px;
  }
  .cont {
    margin-top: 20px;
  }
  .linkText {
    color: #004b7c;
  }
  .disclaimerContent {
    padding: 0% 5% 0% 6%;
  }
  .disclaimerContent p {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight: 500;
  }
  sub, sup {
    font-size: 100%;
  }
  @media (min-width: 1920px) {
    .disclaimerCard {
      padding: 0px 15%;
    }
  }
  
  @media (max-width: 768px) {
    mat-expansion-panel.custom {
      padding: 0px 0px;
    }
    .lyt-disclaimer{
      float: Left;
    }
  }
  