.prod_form_email_outerdiv {
    display: inline-block;
    width: 400px;
    text-align: center;
    border-radius: 4px;
    border: 1px #ccc solid;
    background-color: #fff;
    margin: 5px 10px 10px 0px;
    padding: 10px;
}
.prd_heading {
    position: relative;
    z-index: 1015;
    color: rgb(5, 60, 109);
    width: calc(100%);
    margin: 0px auto;
    padding: 10px 0px 0px;
    border-bottom: 0px rgb(155, 155, 155) solid;
    font-family: 'ZurichBT-Bold';
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
}
.prd_heading .backspan1 {
    position: absolute;
    padding: 0px 5px;
    line-height: 25px;
    transform: rotate(180deg);
    left: -3px;
    border-radius: 50%;
    cursor: pointer;
    color: #666;
    box-shadow: 1px 0px 1px 1px #ddd;
    display: none;
}
.prd_sub-heading {
    color: #929292;
    font-size: 18px;
    border-bottom: 1px #c9c5c6 inset;
    line-height: 22px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 1px -1px #c1c1c1;
}
.prod_form_email_block {
    color: rgb(51, 51, 51);
    position: relative;
    z-index: 1036;
    width: 100%;
    margin: 0px 0px 5px;
    display: inline-block;
    text-align: left;
    padding: 0px 0px;
    position: relative;
    z-index: 1016;
}
.prod_form_email_block_elements {
    margin: 30px 0px 18px;
    border: 2px #efefef solid;
    padding: 0px;
    border-radius: 4px;
    height: 38px;
    display: block;
}
.form-element1 {
    background-position: 0px -228px;
}
.prod_form_email_block_elements_label {
    background-color: #efefef;
    width: 200px;
    padding: 9px 0px 9px 0px;
    color: #5a5a5a;
    border-radius: 4px 0px 0px 4px;
    padding-left: 40px;
    background-image: url(../../../assets/images/quote_form_sprite.png);
    background-repeat: no-repeat;
    font-size: 12px;
    float: left;
    margin-right: 0px;
}
.form-element3 {
    background-position: -3px -425px;
}
.form-element2 {
    background-position: -3px -7px;
}
.form-element1 {
    background-position: 0px -228px;
}
.prod_form_email_block_elements_label_content {
    float: left;
    width: 168px;
    height: 33px;
}
.prod_form_email_block_radio, .prod_form_email_block_checkbox {
    clear: both;
    padding: 8px 0px 8px 10px;
    display: inline-block;
    text-align: left;
    width: 70px;
}
.prod_form_email_block_radio input.radio:empty, .prod_form_email_block_checkbox input.checkbox:empty {
    visibility: hidden;
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    width: 15px;
    background: #fff;
}
.prod_form_email_block_elements_label_content input {
    /* width: 245px; */
    margin: 0px;
    border: 0px #fff solid;
    border-radius: 0px;
    padding: 7px 10px;
    height: auto;
    box-shadow: 0px 0px 0px 0px #fff;
    font-size: 14px !important;
}
.prod_form_email_block_radio input.radio:checked + label.radioncls, .prod_form_email_block_checkbox input.checkbox:checked + label.checkboxcls {
    color: #444;
}
.prod_form_email_block_radio input.radio:empty + label.radioncls, .prod_form_email_block_checkbox input.checkbox:empty + label.checkboxcls {
    position: relative;
    float: left;
    line-height: 16px;
    text-indent: 23px;
    /* margin-top: 2em; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px;
    background: #fff;
}
.prod_form_email_block_radio label.radioncls, .prod_form_email_block_checkbox label.checkboxcls {
    width: 18px;
    border-radius: 30px;
    border: 1px solid #e57b17;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    /* font-weight: 700; */
}
.prod_form_email_block_radio input.radio:checked + label.radioncls:before, .prod_form_email_block_checkbox input.checkbox:checked + label.checkboxcls:before {
    content: '';
    background-color: #e67c16 !important;
}

.prod_form_email_block_radio input.radio:empty + label.radioncls:before, .prod_form_email_block_checkbox input.checkbox:empty + label.checkboxcls:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 5px;
    background: #FFF;
    border-radius: 20px;
    padding: 5px;
    margin: 3px;
}
.prod_form_email_block_radio label.radioncls span, .prod_form_email_block_checkbox label.checkboxcls span {
    font-size: 14px;
    color: #1f1f1f;
    font-weight: normal;
}
.prd_div_button_outer {
    text-align: center;
    padding: 10px 0px 0px;
}
/* .prd_div-button.btn-disable {
    background: rgba(227,227,227,1);
} */
.prd_div-button {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    height: 48px;
    line-height: 2.5;
    z-index: 1018;
    min-width:225px;
    position: relative;
    border: 0px #fff solid;
    /* background: rgba(227,227,227,1); */
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    /* background: rgba(229,118,22,1);
    background: -moz-linear-gradient(top, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,118,22,1)), color-stop(52%, rgba(207,111,20,1)), color-stop(100%, rgba(171,87,18,1)));
    background: -webkit-linear-gradient(top, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%);
    background: -o-linear-gradient(top, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%);
    background: -ms-linear-gradient(top, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%);
    background: linear-gradient(to bottom, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%); */
}
.prd_div-button::after {
    content: '\279C';
    position: absolute;
    padding: 0px 5px;
    line-height: 45px;
}

.error_text {
    color: red;
    font-size: 10px;
    line-height: 12px;
}
.disablebtn {
    background: rgba(227,227,227,1);
}
.enablebtn{
    background: rgba(229,118,22,1);
    background: linear-gradient(to bottom, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%);
    background: -moz-linear-gradient(top, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%);
    background: -webkit-linear-gradient(top, rgba(229,118,22,1) 0%, rgba(207,111,20,1) 52%, rgba(171,87,18,1) 100%);
}
.bottom-icici-customer {
    margin-top: 2%;
}
.btn-existing {
    font-size: 16px;
    opacity: .9;
}
.typ-link{
    font-size: 13px; 
    cursor: pointer;       
}
@media (max-width: 768px) {
.prd_heading {
    font-size: 16px;
  }
  .prod_form_email_outerdiv {
    width: 100%;
  }
  .prod_form_email_block_elements_label {
    width: 130px;
  }
}
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) { 
    .prod_form_email_block_elements_label {
        background-color: #efefef;
        width: 160px;
    }
    .prod_form_email_outerdiv {
        display: inline-block;
        width: 370px;
    }
}
@media (max-width: 767px) {
    .prod_form_email_outerdiv {
        width: calc(100% - 0px);
        margin: 5px 0px 10px 0px;
        padding: 5px 7px;
    }
    .prd_heading {
        font-size: 16px;
        padding-left: 15px;
    }
    .prd_heading span.backspan1:after {
        content: '\279C';
    }
    .prd_heading .backspan1 {
        display: inline-block;
        left: 5px;
    }
    .prod_form_email_block_elements {
        margin: 0px;
    }
    .prod_form_email_block_elements_label {
        width: 100%;
        display: block;
        float: none;
        background: none;
        padding: 0px;
        text-transform: uppercase;
        color: #5a5a5a;
    }
    .prod_form_email_block_elements_label_content {
        width: 100%;
        float: none;
        margin: 5px 0px 4px;
        height: auto;
    }
    .prod_form_email_block_radio, .prod_form_email_block_checkbox {
        width: 115px;
        padding: 5px 0px 8px;
    }
    .prod_form_email_block_elements_label_content input {
        /* width: 100%; */
        display: block;
        border: 1px #e8e8e8 solid;
        border-radius: 2px;
    }
    .prod_form_email_block_radio label.radioncls span, .prod_form_email_block_checkbox label.checkboxcls span {
        font-size: 13px;
    }
    .prod_form_email_block_elements {
        border: 0px #efefef solid;
        margin: 0px;
        border-bottom: 1px #efefef solid;
        padding: 15px 0px 15px;
        height: auto;
    }
    .prd_div-button {
        box-shadow: 0px 4px 3px 0px #504f4f;
        cursor: pointer;
        border-radius: 30px;
        margin-bottom: 5%;
    }
}


@media (max-width: 361px) {
    .prd_heading {
        padding-left: 25px;
    }
    .prd_heading .backspan1 {
        left: 0px;
    }
}