<div class="prod_form_email_outerdiv">
    <div class="prd_heading"><span class="backspan1" (click)="backToQuote()"></span>Get protection from heart ailments
    </div>
    <!-- <div class="prd_sub-heading">in 2 easy steps</div> -->
    <div class="prod_form_email_block">
        <!-- <span class="lifecovererror" >Available only for premium more than Rs. 3600. Please Increase Life Cover</span> -->
        <div class="prod_form_email_block_elements" id="gender">
            <div class="prod_form_email_block_elements_label form-element1">Gender</div>
            <div class="prod_form_email_block_elements_label_content js-radio-change js-radio-select">
                <div class="prod_form_email_block_radio bs-radio">
                    <input type="radio" name="gender" id="male" value="Male"
                        [(checked)]="this.tempservice.flag['Inputfields']['Male']"
                        (change)="this.tempservice.onChangeRadio($event,'gender')" required="" class="radio male">
                    <label class="radioncls" for="male"><span>Male</span></label>
                </div>
                <div class="prod_form_email_block_radio bs-radio">
                    <input type="radio" name="gender" id="female" value="Female"
                        [(checked)]="this.tempservice.flag['Inputfields']['Female']"
                        (change)="this.tempservice.onChangeRadio($event,'gender')" class="radio female">
                    <label class="radioncls" for="female"><span>Female</span></label>
                </div>
            </div>
        </div>
        <div class="prod_form_email_block_elements">
            <div class="prod_form_email_block_elements_label form-element2">Date of Birth</div>
            <div class="prod_form_email_block_elements_label_content">
                <input type="tel" class="form-control age" placeholder="DD / MM / YYYY" name="dobDate"
                    (keyup)="onKeyPress($event,'dobDate')" [textMask]="{mask:tempservice.dateMask}" id="dobDate"
                    #dobDate>
                <label for="dobDate" class="error_text">{{dobErrorMsg}}</label>
            </div>
        </div>
        <div class="prod_form_email_block_elements">
            <div class="prod_form_email_block_elements_label form-element3">Tobacco?</div>
            <div class="prod_form_email_block_elements_label_content js-radio-change typ-tobacco" id="tobacco">

                <div class="prod_form_email_block_radio bs-radio">
                    <input type="radio" id="No" name="tobacco" value="No" class="radio"
                        [(checked)]="this.tempservice.flag['Inputfields']['TobaccoNo']"
                        (change)="this.tempservice.onChangeRadio($event,'tobacco')">
                    <label class="radioncls male" for="No"><span>No</span></label>
                </div>
                <div class="prod_form_email_block_radio bs-radio">
                    <input type="radio" id="Yes" name="tobacco" required="" value="Yes"
                        [(checked)]="this.tempservice.flag['Inputfields']['TobaccoYes']"
                        (change)="this.tempservice.onChangeRadio($event,'tobacco')" class="radio">
                    <label class="radioncls female" for="Yes"><span>Yes</span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="prd_div_button_outer act-btn QuoteSection">
        <button class="Continuebtnfrm1 prd_div-button btn-custom btn-red"
            [ngClass]="{'disablebtn':this.tempservice.flag['showHide']['disableBtn'],'enablebtn':!this.tempservice.flag['showHide']['disableBtn']}"
            [disabled]="this.tempservice.flag['showHide']['disableBtn']" (click)="nextPage()">Continue</button>
    </div>
    <div class="bottom-icici-customer">
        <span class="typ-link btn-existing" *ngIf="this.tempservice.flag['showHide']['notExistingCus']"
            (click)="showDialogExistingCustomer()"><span class="text">Click here if you are an existing ICICI Pru
                Customer</span></span>
        <span class="typ-link btn-existing" *ngIf="this.tempservice.flag['showHide']['ExistingCus']"
            (click)="showDialogExistingCongrats()"><span class="text">5%
                Existing customer discount applied</span><i class="icon icon-right-arrow rightcaret"></i></span>
    </div>
</div>