.mod-inc-dec {
    /* width: 265px; */
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin-left: 2px;
}
.mod-inc-dec .input-group {
    position: relative;
    display: table;
    border-collapse: separate
}
.mod-inc-dec.typ-sm .input-group-btn {
    position: relative;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
    font-size: 0;
    white-space: nowrap;
}
.mod-inc-dec.typ-sm .input-group-btn .btn {
    text-indent: -99999px;
    min-width: 0;
    padding: 10px;
    border-radius: 23px 0 0 23px;
    width: 32px;
    height: 28px;
    background: #fff;
    position: relative;
    transition: none;
    /* box-shadow: 0px 0px 0px 0px; */
    top: 2px;
}
.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group {
    margin-right: -1px;
}
.home-get-section .mod-inc-dec.typ-sm .form-control {
    width: 205px;
}
.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.mod-inc-dec.typ-sm .form-control {
    border: 0;
    margin: 0 2px;
    padding: 0px;
    text-align: center;
    width: 200px;
    height: 36px;
    background: none;
    font-size: 40px !important;
    line-height: 38px;
    display: inline-block;
    color: #97291e !important;
    font-family: 'ZurichBT-Bold';
    box-shadow: 0px 0px 0px 0px !important;
    text-transform: uppercase;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.mod-inc-dec.typ-sm .input-group-btn .btn.btn-minus {
    background: url(../../../assets/images/sprite-plus-minus.png) -3px -28px no-repeat;
}
.mod-inc-dec.typ-sm .input-group-btn .btn.btn-plus {
    background: url(../../../assets/images/sprite-plus-minus.png) -2px 0px no-repeat;
}
.mod-inc-dec .fontRup {
    font-size: 22px;
    padding: 0px 0px;
    color: #97291e;
    right: 0.15em;
    top: 20px;
    z-index: 1000;
    float: left;
}

.no-shadow{
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    -o-box-shadow: none;
}
/* @-moz-document url-prefix() {
  a {
      margin: 0;
  }
} */

@supports (-ms-ime-align: auto) {
    .mod-inc-dec.typ-sm .form-control {
        border: 0;
        margin: 0 16px;
    }
  }