<p-dialog header="" [(visible)]="display" [closable]="true" [modal]="true" [responsive]="true"  [minY]="70"
  [maximizable]="false" [baseZIndex]="10000" [dismissableMask]="true">
  <div class="container-fluid no-space">
    <div class="row no-space">
        <div class="col-12 no-space" [ngClass]="{'pop-wrapper': isSelected,'popfortax': !isSelected}">
          <div class="row no-space">
            <div class="col-12 no-space pop-headercontent" [ngClass]="{'pop-headercontent': isSelected,'pop-headercontentTaxes': !isSelected}">
              <div class="row no-space">
                <div class="col-11 no-space">
                  <ng-content select=".resuablepopupheader"></ng-content>
                </div>
                <div class="col-1 no-space">
                  <ng-content select=".resuablepopupclose"></ng-content>
                </div>
              </div>
            </div>
            <div class="col-12 no-space pop-bodycontent" [ngClass]="{'pop-bodycontent': isSelected,'pop-bodycontentTaxes': !isSelected}" [class.totalbreakup]="showbreakup">
              <div class="row no-space">
                <div class="col-12 no-space">
                  <ng-content select=".resuablepopupbody"></ng-content>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</p-dialog>