:host >>> .ui-dialog .ui-dialog-titlebar {
  padding: 0;
  display: none;
}
:host >>> .ui-dialog.ui-widget .ui-dialog-titlebar {
  padding: 0;
  display: none;
}
:host >>> .ui-dialog.ui-widget .ui-dialog-content {
  padding: 0;
}
:host >>> .ui-dialog .ui-dialog-content {
  padding: 0;
}
:host >>> .ui-dialog .ui-dialog-mask .ui-widget-overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
  opacity: 1;
}
.ui-widget-overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
  opacity: 1 !important;
}
:host >>> .ui-widget {
  font-family: Montserrat,sans-serif !important;
  min-width: 40% !important; 
}

.no-space {
  padding: 0;
  margin: 0;
}

.pop-wrapper {
  width: 540px;
}

.popfortax {
  width: 1000px;
}

.pop-headercontent {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #323232;
  text-transform: uppercase;
  text-align: center;
}

.pop-headercontentTaxes {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #323232;
  text-transform: uppercase;
  text-align: center;
}

.pop-bodycontent {
  padding: 30px 50px 40px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  text-align: center;
}

.totalbreakup {
  padding: 30px 0px 40px !important;
}

.pop-bodycontentTaxes {
  padding: 15px 25px 30px;
  font-size: 16px;
  line-height: 30px;
  color: #323232;
  text-align: center;
}

@media (max-width: 991px) {
  .pop-headercontent {
    padding: 10px 0;
    font-size: 12px;
    line-height: 22px;
  }
  .pop-bodycontent {
    padding: 25px 15px;
    font-size: 13px;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .pop-bodycontent {
    padding: 25px 15px;
    font-size: 13px;
    line-height: 18px;
  }
  .popfortax {
    width: 720px;
  }
}
@media (max-width: 460px) {
  .pop-wrapper {
    width: 400px !important;
  }
  .popfortax {
    width: 420px;
  }
}
@media (max-width: 425px) {
  .pop-wrapper {
    width: 375px !important;
  }
  .popfortax {
    width: 400px;
  }
}
@media (max-width: 375px) {
  .pop-wrapper {
    width: 325px !important;
  }
  .popfortax {
    width: 350px;
  }
}
@media (max-width: 350px) {
  .pop-wrapper {
    width: 300px !important;
  }
  .popfortax {
    width: 325px;
  }
}
@media (max-width: 320px) {
  .pop-wrapper {
    width: 270px !important;
  }
  .popfortax {
    width: 300px;
  }
}
